@charset "utf-8";
/* CSS Document */

.slider .slide-show .slider-images {
	
}
.slider .slide-show .slider-images img {
	border: 1px solid #dfdfdf;
	width: 100%;
}

/*************************New**************************/
.slider {
	position: relative;
	text-align: center;
}
.bannerline {
	overflow:hidden;
	zoom:1;
	margin-top: -37px;
	position: relative;
	z-index: 999;
}
.indentmenu {
	float: right;
}

.indentmenu ul {
	overflow:hidden;
	zoom:1;
	padding-right:15px;
}
.indentmenu ul li {
	display: inline;
	float:left;
	margin:0 2px;
}
.indentmenu ul li a {
	width:19px;
	height:20px;
	background:url(../images/ba_2.png) no-repeat;
	color:#fff;
	text-align:center;
	line-height:18px;
	display:block;
}
.indentmenu ul li a:hover {
	background:url(../images/ba_1.png) no-repeat;
	color:#0376ba;
}
.indentmenu ul li a.selected {
	background:url(../images/ba_1.png) no-repeat;
	color:#0376ba;
}
.tabcontent {
	display: none;
}

div.amshopby-column {
    float:left; width:83px;
}

select.amshopby-select {
    width:170px;
}

.amshopby-logo{
padding: 0pt 10px 10px 0pt; float: left;
}

.amshopby-featured {
    padding: 5px 5px 5px 5px; 
}

.amshopby-link{
    float:left;
    padding-left:5px; 
    padding-top:5px;
}

.amshopby-clearer {
	display:block; 
	clear:both; 
	overflow: hidden;
}
div.block-layered-nav dd a {padding:0px 5px 0px 0px; display:block; float: left;}  
div.block-layered-nav dd a.amshopby-attr {padding-left:15px; background:transparent url(../images/amshopby-cb1.gif) no-repeat left center;} 
div.block-layered-nav dd a.amshopby-attr-selected {font-weight: bold; padding-left:15px; background:transparent url(../images/amshopby-cb2.gif) no-repeat left center;} 
div.block-layered-nav dd a img {padding: 0px 4px 5px; float:left;} 

div.block-layered-nav dd li.amshopby-cat-level-2 {padding-left:10px;}
div.block-layered-nav dd li.amshopby-cat-level-3 {padding-left:20px;}

div.block-layered-nav dd a.amshopby-cat-selected {font-weight: bold;
color:black; text-decoration: none; cursor:text;}

div.block-layered-nav dd li span.amshopby-plusminus {float:left;
display:block; width:15px; height:15px; cursor:pointer;
background:transparent url(../images/amshopby-plus.gif)  no-repeat;}
div.block-layered-nav dd li span.minus {background:transparent
url(../images/amshopby-minus.gif) no-repeat;}
div.block-layered-nav dd li:after {display:block; content:".";
clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }



div.block-layered-nav dt {
 cursor:pointer; 
 padding-left:15px;
 background:url(../images/amshopby-expanded.gif) center left no-repeat;
}
div.block-layered-nav dt.amshopby-collapsed {background:url(../images/amshopby-collapsed.gif) center left no-repeat}


div.block-layered-nav div.amshopby-slider {
	 position:relative; margin:10px auto 5px auto; z-index:9; height:18px;  background: url(../images/amshopby-slider-bg.gif) no-repeat 50% 50%; cursor:pointer;
}
div.block-layered-nav div.amshopby-slider div.handle {width:8px; top:3px; height:14px; background: transparent url(../images/amshopby-hadle.png) no-repeat; position: absolute; cursor:move;}

/*
 * Slider labels
 */
.amshopby-slider-price {
	color: #798794;
}
.amshopby-slider-price-from {
	float: left;
    
}
.amshopby-slider-price-to {
	float: right;
}

.amshopby-slider-handle-right {
	position: absolute;
	top: 14px;
	right: 0px;
}

.amshopby-slider-handle-left {
	position: absolute;
	top: 14px;
	left: 0px;
}

.amshopby-tooltip {
    padding:2px 5px;
    background:#FEC;
    border:1px solid #FAA819;
    color:#1F5070;
    text-align:left;
    width:200px;
    position:absolute;
}

.amshopby-slider-price-range 
{
	text-align: center;
	font-size: 0.9em;
}

.amshopby-tooltip-img {
    cursor:help;
}

div.amshopby-overlay {
  background-color: #FFFFFF;
    height: 100%;    
    display:none;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 555;
}
div.amshopby-overlay img {
    top: 100px;
    left: 45%;
    display: block;
    position: absolute;
}

div.amshopby-overlay div {
    margin: 0 auto;
    display: block;
	width: 300px;
	height: 200px;
	background:  url('../images/amshopby-overlay.gif') 50% 50% no-repeat;
}