
.firecheckout-index-index .page-title { margin-bottom: 10px; }
.firecheckout-index-index .checkout-title h1 { float: left; }
.firecheckout-login-wrapper { float: right; }

.firecheckout-set .form-list .input-box { width: 324px; }
.firecheckout-set .form-list select { width: 264px; }

.firecheckout-set .col-1 .form-list .field { width:auto; }
.firecheckout-set .col-1 .form-list .input-box { float:left; clear:none; overflow:hidden;
zoom:1;}
.firecheckout-set .col-1 .form-list .input-box .v-fix {
	float:left;
	padding-right:10px;
}
.firecheckout-set .col-1 .form-list .input-box .v-fix select { width:150px;}
.firecheckout-set .col-1 .form-list input.input-text { width: 310px; }
.firecheckout-set .col-1 .form-list select { width: 315px; }
.firecheckout-set .col-1 .form-list li.wide .input-box { width: 320px; }
.firecheckout-set .col-1 .form-list li.wide input.input-text { width: 310px; }
.firecheckout-set .col-1 .form-list li.wide select { width: 265px; }

.firecheckout-set .col-2 { margin-left: 9px; }
.firecheckout-set .col-2 .form-list li.wide .input-box { width: 275px; }
.firecheckout-set .col-2 .form-list li.wide textarea { width: 254px; height: 50px; }

.firecheckout-set .col-3 { width: 34%; }
.firecheckout-set .col-3 .form-list li.wide .input-box { width: 275px; }
.firecheckout-set .col-3 .form-list li.wide textarea { width: 274px; height: 60px; }

/* col2-set */
#firecheckout-form .col2-set .col-1 { width:975px; float:none; margin:0 auto; }
#firecheckout-form .next_bt {
	text-align:center;
	margin-bottom:29px;
}
#firecheckout-form .next_bt .cheack_next {
	background:url(../images/next_b.png) no-repeat;
	width:85px;
	height:29px;
	text-align:center;
	line-height:29px;
	color:#eb6003;
	font-size:16px;
	font-weight:bold;
	display:inline-block;
}

/* dob widget styles */
.firecheckout-set .form-list .customer-dob .dob-day,
.firecheckout-set .form-list .customer-dob .dob-month { width: 37px; }
.firecheckout-set .form-list .customer-dob .dob-day input.input-text,
.firecheckout-set .form-list .customer-dob .dob-month input.input-text { width: 22px; }
.firecheckout-set .form-list .customer-dob .dob-year { width: 55px; }
.firecheckout-set .form-list .customer-dob .dob-year input.input-text { width: 45px; }
/* li.wide override */
.firecheckout-set .form-list li.wide .customer-dob { width: 275px !important;  }
.firecheckout-set .form-list li.wide .customer-dob .dob-day,
.firecheckout-set .form-list li.wide .customer-dob .dob-month { width: 60px; }
.firecheckout-set .form-list li.wide .customer-dob .dob-day input.input-text,
.firecheckout-set .form-list li.wide .customer-dob .dob-month input.input-text { width: 45px; }
.firecheckout-set .form-list li.wide .customer-dob .dob-year { width: 144px; }
.firecheckout-set .form-list li.wide .customer-dob .dob-year input.input-text { width: 134px; }

/* name additional fields */
.firecheckout-set .name-prefix,
.firecheckout-set .name-prefix .input-box,
.firecheckout-set .name-middlename,
.firecheckout-set .name-middlename .input-box,
.firecheckout-set .name-suffix,
.firecheckout-set .name-suffix .input-box { width: 70px !important; }
.firecheckout-set .name-prefix select,
.firecheckout-set .name-suffix select { width: 65px !important; }
.firecheckout-set .name-prefix input.input-text,
.firecheckout-set .name-middlename input.input-text,
.firecheckout-set .name-suffix input.input-text { width: 55px !important; }
/*.firecheckout-set .name-middlename { clear: left; }*/

.firecheckout-set .captcha { width: 260px !important; }
.firecheckout-set .captcha input.input-text { width: 251px !important; }

#firecheckout-form .col3-set .col-2 , #firecheckout-form .col3-set .col-1  { min-height: 450px;}
#firecheckout-form .discount-form .messages,
#firecheckout-form .giftcard-form .messages { width: 97%; }
#coupon-code { margin-top: 2px; }
#coupon-cancel, #coupon-apply,
#giftcard-add { float: right; display: inline; margin-right: 10px; }

.firecheckout-set .gift-messages h3 { font-size: 12px; font-weight: bold; margin: 0 0 5px; }
.firecheckout-set .gift-messages p.control,
.firecheckout-set .gift-messages p,
.firecheckout-set .gift-messages-form p { margin: 0 0 10px; }
.firecheckout-set .gift-messages-form .item .product-img-box { float: left; width: 75px; }
.gift-messages-form .item .details { margin-left: 90px; }
.firecheckout-set .gift-messages-form .item .details .form-list .field,
.firecheckout-set .gift-messages-form .item .details .form-list .input-box,
.firecheckout-set .gift-messages-form .item .details .form-list li.wide .input-box { width:186px; }
.firecheckout-set .gift-messages-form .item .details .form-list input.input-text,
.firecheckout-set .gift-messages-form .item .details .form-list li.wide textarea { width:165px; }

.firecheckout-set .sp-methods { margin: 0; padding: 0; }
.firecheckout-set .sp-methods .form-list { padding: 0; }
.firecheckout-set .sp-methods dt { margin: 0 0 5px; }
.firecheckout-set .sp-methods dd { margin: 0 0 6px; }
.firecheckout-set .sp-methods select.month { width: 154px; }
.firecheckout-set .sp-methods select.year { width: 99px; }
.firecheckout-set #advice-required-entry-ccsave_expiration_yr { width: 8em; }
.firecheckout-set .giftcard-form,
#rewardponts .block-content { padding: 0 0 8px 10px; }
#customerbalance_placer,
#reward_placer { padding: 0 10px; }
.firecheckout-set .discount-form {
	padding:15px 15px 20px 15px;
	border:1px solid #ddd;
	margin:0px 15px 25px 15px;
	overflow:hidden;
	zoom:1;
	
} 
.firecheckout-set .discount-form  label  {
	display:block;
	float:left;
	width:155px;
	padding-right:10px;
}
.firecheckout-set .discount-form .input-box {
	float:left;
	overflow:hidden;
	zoom:1;
}
.firecheckout-set .discount-form .input-box .input-text {
	 border: 1px solid #aaa;
    border-color: #aaa #ccc #ccc #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding:2px;
	width:345px;	
	color: #666666;
    font-size: 12px;
    height: 25px;
	line-height:25px;
	float:left;
}
.firecheckout-set .discount-form .input-box #coupon-apply {
	float:left;
	margin-left:150px;
}
.firecheckout-set .discount-form .input-box  
.qty-wrapper { position: relative; width: 66px; }
.qty-wrapper .qty { width: 20px !important; padding: 2px !important; font-size: 0.9em; }
.qty-wrapper .qty-spinner { /*display: none;*/ }
.qty-wrapper.shown .qty-spinner { display: block; }
.qty-wrapper .qty-less,
.qty-wrapper .qty-more { position: absolute; top: 0; width: 20px; height: 21px; }
.qty-wrapper .qty-less { left: 12px; /*left: -20px;*/ }
.qty-wrapper .qty-more { left:70px; /*right: -20px;*/ }

#checkout-review-load .messages { margin: 4px 6px 0 !important; width: 98%; }
#checkout-review-load .messages li { margin: 0 0 4px !important; }

.firecheckout-set #checkout-review-submit { margin: 5px 0 3px; padding: 0 10px; }
.firecheckout-set #checkout-review-submit .form-list { padding: 0; }
.firecheckout-set #checkout-review-submit .form-comment label { position: static; }
#firecheckout-form .form-comment li.wide { width: 98%; }
#firecheckout-form .form-comment li.wide .input-box { width: 100%; }
#firecheckout-form .form-comment li.wide textarea { width: 100%; height:auto; }

.firecheckout-set #shipping-wrapper { margin: 20px 0 0; }

.firecheckout-set .loading {}
#firecheckout-overlay { position: absolute; z-index: 999; cursor: wait; /* Transparent layer to disable all inputs and buttons */
    background: #fff; opacity: 0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); } /* IE fix */
#firecheckout-spinner { position: absolute; z-index: 10000;
    background: #fff url(../images/firecheckout/ajax-loader.gif) no-repeat 50% 25px;
    border: 1px solid #dadada; text-align: center; padding: 60px 0 0 0;
    width: 200px; height: 30px; margin: -60px 0 0 -100px; font-weight: bold; }

.firecheckout-set #checkout-shipping-method-load .sp-methods {
	overflow:hidden;
	zoom:1;	
}
.firecheckout-set #checkout-shipping-method-load .sp-methods dt {
	float:left;
	clear:left;
	margin-right:10px;
	color:#171717;
	font-weight:bold;
	line-height:22px;
	width:190px;
}
.firecheckout-set #checkout-shipping-method-load .sp-methods dd {
	float:left;
	line-height:22px;
}
#checkout-shipping-method-load .sp-methods dd li {
	overflow:hidden;
	zoom:1;
}
#checkout-shipping-method-load .sp-methods dd input  {
	float:left;
	margin-top:6px;
}
#checkout-shipping-method-load .sp-methods dd  label  {
	float:left;
	/*overflow:hidden;
	zoom:1;*/
}
#checkout-shipping-method-load .sp-methods dd .method_title, 
#checkout-shipping-method-load .sp-methods dd .method-val,
#checkout-shipping-method-load .sp-methods dd .method-price,
#checkout-shipping-method-load .sp-methods dd .method-off  {
	display:block;
	float:left;
	
}
#checkout-shipping-method-load .sp-methods dd .method_title {
	color:#171717;
	font-weight:bold;
	width:250px;
}
#checkout-shipping-method-load .sp-methods dd .method-val {
	width:220px;	
}
#checkout-shipping-method-load .sp-methods .price {
	color:#000;
}
#checkout-payment-method-load .payment-methods {
	position:relative;
	height:418px;
}
.firecheckout-set #checkout-payment-method-load {
	/*position:relative;
	padding-top:0px;
	height:415px;*/
}
.firecheckout-set #checkout-payment-method-load dl {
	/*overflow:hidden;
	zoom:1;*/
}
.firecheckout-set #checkout-payment-method-load dl.on dt {
	background:#f4f4f4;
	border-left:1px solid #dfdfdf;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	width:255px;
	position:relative;
	z-index:9999;
}
.firecheckout-set #checkout-payment-method-load dl.on dd  ul { display:block;}
.firecheckout-set #checkout-payment-method-load dt {
	height:40px;
	line-height:40px;
	padding-left:22px;
	/*float:left;*/
}
.firecheckout-set #checkout-payment-method-load dt input {
	/*margin-left:22px;*/
}
.firecheckout-set #checkout-payment-method-load dt label {
	margin-left:-16px;
	padding-left:16px;
}
.firecheckout-set #checkout-payment-method-load dd {
	display:none;
	/*float:left;*/
}
.firecheckout-set #checkout-payment-method-load dl.on dd {
	display:block;
	position:absolute;
	top:0px;
	left:277px;
}
.firecheckout-set #checkout-payment-method-load dd .form-list {
	background:#f4f4f4;
	border:1px solid #dfdfdf;
	padding:10px 20px;
	width:650px;
	min-height:235px;
}
#checkout-payment-method-load dd .form-list .ccsave-dali {
	background:#fff;
	border:1px solid #d3d1d1;
	padding-bottom:10px;
}
#checkout-payment-method-load dd .form-list .ccsave-dali .ccsave-dali-img {
	padding:18px 15px 14px 22px;
	border-bottom:1px dashed #dfdfdf;
}
#checkout-payment-method-load dd .form-list .ccsave-dali .weonly {
	color:#7b7b7b;
	line-height:22px;
	padding:5px 20px;
}
#checkout-payment-method-load dd .form-list .ccsave-paylog {
	
}
.firecheckout-set .newsletter { margin:0; padding: 0; }
.firecheckout-set .buttons-set { margin: 1em 0 0; }
#agreements-wrapper {padding: 7px 10px; }
.firecheckout-set .checkout-agreements { padding: 0; margin: 0; }
.firecheckout-set .checkout-agreements li { margin: 0; }
.firecheckout-set .checkout-agreements .agree { padding: 4px 0 4px 0; }
.firecheckout-set .checkout-agreements .last { margin: 0; }
.firecheckout-set .checkout-agreements .agreement-content {  }

#shipping_form_delivery_date { margin: 10px 0; }
#shipping_form_delivery_date .input-box { width: 263px; }
#shipping_form_delivery_date .delivery-date .input-text { width: 100px; }
#shipping_form_delivery_date .delivery-date label { clear: left; display: block; float: none; color: #888; font-size: 10px; font-weight: normal; }
#shipping_form_delivery_date .delivery-time select { width: 130px; margin-left: 5px; }
#shipping_form_delivery_date .wide .delivery-date .input-text { width: 235px; }
#shipping_form_delivery_date .wide .delivery-time select { width: 260px; margin-left: 0; }

.firecheckout-section {
    /*background: #fff url(../images/firecheckout/box-content-bg.gif) repeat-x 0 29px;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 15px;*/
}
.form-list li#billing-new-address-form {
	margin-bottom:0px;
}
.firecheckout-section .bock-sd {
	line-height:24px;
	color:#4d4d4d;
	margin:10px 10px 5px 10px;
}
#checkout-review-table-wrapper {
	padding:10px 20px;
}
.firecheckout-section .form-list,
.firecheckout-section .gift-messages,
.firecheckout-section .gift-messages-form {
	padding:0px 10px;
}
.firecheckout-section .gift-messages-form .form-list { padding: 0; }
.firecheckout-set #checkout-additional {
	padding:0 10px;
}
.firecheckout-set #checkout-additional .block-title {
	background:none;
	border:none;
	padding-left:10px;
}
.firecheckout-set #checkout-additional .block-title  span {
	background:none;
	font-size:12px;
	margin:0px;
	padding:0px;
	color:#171717;
	
}
.firecheckout-section .block-title {
	background:#f4f4f4;
	border:1px solid #dcdcdc;
	height:26px;
	line-height:26px;
	margin-bottom:18px;
}
.firecheckout-section .block-title span {
	display:block;
	color:#1180c8;
	font-size:14px;
	margin-left:14px;
	padding-left:20px;
	background:url(../images/add.png) left center no-repeat;
	font-weight:bold;
}
.firecheckout-section .block-title .num {
	display:none;
   /* border: 1px solid #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 5px;
    margin: 0 5px 0 0;
    background: #ccc;*/
}
.firecheckout-set #shipping-method-reset,
.firecheckout-set #payment-method-reset {
	display:none;
    /*float: right;
    text-transform: lowercase;
    font-weight: normal;
    text-shadow: 1px 1px 1px #fff;
    color: #999;
    cursor: pointer;
    background: #f1f3f4;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0 3px;
    margin: -2px 4px 0 0;*/
}
/*IE 6 fix*/
* html .firecheckout-set #shipping-method-reset,
* html .firecheckout-set #payment-method-reset { margin: -21px 4px 0 0; }
/*IE 7 fix*/
*:first-child+html .firecheckout-set #shipping-method-reset,
*:first-child+html .firecheckout-set #payment-method-reset { margin: -21px 4px 0 0; }


.firecheckout-set #shipping-method-reset:hover,
.firecheckout-set #payment-method-reset:hover {
    color: #777;
}

.firecheckout-set #checkout-review .block-title { margin: 0 !important; }
.firecheckout-set #checkout-review .product-image { float: left; margin: 0px 5px 5px 0; }
.firecheckout-set #checkout-review .short-description { font-size: .9em; line-height: normal; }
.firecheckout-set #checkout-review .firecheckout-items-after { padding: 7px 10px; }
.firecheckout-set #checkout-review #checkout-review-table { border-width: 0 0 1px 0; }
#checkout-review-table .qty-wrapper {
	position:relative;
	width:100px;
}
#checkout-review-table  .qty-wrapper .input-text {
	text-align:center;
}
#checkout-review-table .qty-spinner button {
	background:#fff;
	border:1px solid #b9b9b9;
	border-radius:2px;
	color:#333;
}
#checkout-review-table td {
	vertical-align:middle;
}
#checkout-review-table td .product-name {
	margin-top:25px;
	font-weight:bold;
}
#checkout-review-table .cart-price {
	color:#d7000f;
	font-weight:bold;
}
#checkout-review-table .last strong .price {
	color:#d7000f;
	font-size:16px;
}
.firecheckout-set #review-buttons-container { padding: 8px 6px 6px 0; border: none; margin: 0; text-align:center; }
.firecheckout-set #review-buttons-container button.button {
	float:none;
}
#addresses-review { padding: 10px 10px; border-bottom: 1px solid #ccc; font-size: 0.95em; line-height: 1.3em; }
#payment-method-review { clear: left; margin-top: 10px; }

/* form customization */
.firecheckout-set input.input-text {
    border: 1px solid #aaa;
    border-color: #aaa #ccc #ccc #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding:2px;
}
.firecheckout-set select,
.firecheckout-set textarea {
    border: 1px solid #aaa;
    border-color: #aaa #ccc #ccc #ccc;
    padding: 4px 4px;
}
.firecheckout-set select {
    padding: 3px 4px;
}
/* end of form styles */

.form-checkoutfields .input-box { width: 90% !important; }
.form-checkoutfields textarea { width: 100%; height: 50px; }

.firecheckout-window { border: none; background: #fff; z-index: 999; position: absolute; text-align: left; }
.firecheckout-window .page-title span { color:#0A263C; font-size:20px; margin:0; }
.firecheckout-window .content { padding: 7px; overflow: auto; overflow-x: hidden; }
.firecheckout-window .close { position: absolute; top: -15px; right: -16px; width: 16px; height: 16px; background: url(../images/firecheckout/cancel_round.png) no-repeat 50% 50%; }
.firecheckout-window .close:hover {}
.firecheckout-window .buttons-set { margin: 1em 0 0; }
.firecheckout-window .actionbar { padding: 10px 10px 0; text-align: right; font-weight: bold; }

.d-shadow { position: absolute; width: 30%; left: 20%; top: 10%; }
.d-shadow-wrap { position: relative; width: 100%; padding: 15px 21px 0 21px; margin: -15px -21px 0 -21px; overflow: hidden; }
.d-sh-cn { position: absolute; background: url(../images/firecheckout/shd-medium.png) no-repeat; left: -25px; z-index: -1; }
.d-sh-tl,
.d-sh-tr { height: 800px; top: -28px; }
.d-sh-tl,
.d-sh-bl { width: 100%; }
.d-sh-tr,
.d-sh-br { width: 25px; margin-left: 100%; }
.d-sh-bl,
.d-sh-br { height: 28px; }
.d-sh-bl { left: -46px; padding-right: 42px; clip: rect(auto auto auto 25px); }
.d-sh-br { left: -4px; }

/* IE6 fix */
* html .firecheckout-hidden { visibility: hidden; }
* html .firecheckout-window { width: 800px; }
* html .d-sh-tl, * html .d-sh-tr { padding-right:42px; }
/* IE7 fix */
*:first-child+html .firecheckout-window { width: 800px; }

.firecheckout-window .centinel .authentication { width: 450px; }
#checkout-sagepay-iframe-load {  }
#firecheckout-mask { background: #000; opacity: 0.4; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: alpha(opacity=40);
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 990; }
* html #firecheckout-mask { position: absolute; }

/* SagePay Server Integration */
#checkout-sagepay-iframe-load {  }
iframe#sage-pay-server-iframe { border:none; height:365px; width:687px; }
*:first-child+html iframe#sage-pay-server-iframe { width: 485px; }
/* End of SagePay Server Integration */

/* Relaypoint Integration */
.firecheckout-set #relaypoint { padding: 0; }
.firecheckout-set #relaypoint #suggestion { padding-left: 10px; }
.firecheckout-set #relaypoint #suggestion label { width: 245px; }
.firecheckout-set #relaypoint #suggestion label .s1 { width: auto; padding: 0; }
.firecheckout-set #relaypoint #address { width: 240px; }
.firecheckout-set #relaypoint #zipcode { width: 50px; }
.firecheckout-set #relaypoint #city { width: 130px; }
/* Relaypoint Integration */

/* Craftyclicks postcode lookup */
#billing_cp_result_display { width: 260px !important; }
#billing_cp_result_display select { width: 265px !important; }
/* Craftyclicks postcode lookup */

/* EE integration */
.firecheckout-set #billing-new-address-form .wide {
	width:440px;
	float:left;
}
.firecheckout-set #billing-new-address-form .control {
	clear:both;
	padding-top:10px;
}
.firecheckout-index-index .page-title:after,
.firecheckout-section:after { content: '.'; clear: both; display: block; visibility: hidden; font-size: 0; height: 0; }
.firecheckout-set .form-list label,
.firecheckout-window label { min-width:110px; text-align:right; margin-right:10px; padding: 0; float:left; }
.firecheckout-set .form-list#payment_form_ccsave label {
	width:115px;
}
.firecheckout-window .form-list input.input-text, .firecheckout-window .form-list textarea { width: 263px; }
.firecheckout-set .form-list .fields .customer-name .field { float:left; clear: none; margin-top:13px; margin-bottom:0px; }
.firecheckout-set .form-list .fields { margin-bottom:10px; clear:both;}
.firecheckout-set .form-list .fields .customer-name {
	overflow:hidden;
	zoom:1;
}
.firecheckout-set .form-list .validation-advice { width: auto; margin: 0; }
.firecheckout-set span.validation-error,
.firecheckout-set div.validation-error,
.firecheckout-set span.validation-passed,
.firecheckout-set div.validation-passed { background: none; padding: 0; }
.firecheckout-set .please-wait,
.firecheckout-window .please-wait { position: static; padding: 0; background: none; border: none; margin: 0; left: auto; top: auto; }
.col2-set #checkout-review-table .btn-remove { float: right; margin-left: 5px; }
/* EE integration */

/* m001 styles */
.fields .field { float: left; }
/* Tablets */
/*@media (min-width: 768px) and (max-width: 1280px) {
    .firecheckout-set .col-1 .form-list li.wide .input-box { width: 205px; }
    .firecheckout-set .col-1 .form-list li.wide input.input-text { width: 200px; }
}*/
/* landscape phone */
/*@media (max-width: 800px) {
    .firecheckout-set .col-1,
    .firecheckout-set .col-2,
    .firecheckout-set .col-3 { float: none; width: 100% !important; margin: 0; }
    .firecheckout-set .col2-set .col-1,
    .firecheckout-set .col2-set .col-2 { float: left; width: 49% !important; }
    .firecheckout-set .col2-set .col-2 { float: right; }
    .firecheckout-set .product-name { font-size:.9em; }
    .firecheckout-set .data-table tfoot,
    .firecheckout-set .data-table strong { font-size: 1em; }
    .firecheckout-set .qty-wrapper .qty-spinner { display: none; }
    .firecheckout-set .qty-wrapper { width: auto; }
    .firecheckout-section .block-title { white-space: nowrap; overflow: hidden; }
    #shipping_form_delivery_date .wide .delivery-date .input-text { width: 200px; }
    .firecheckout-set .col-2 .form-list li.wide textarea { width: 230px; }
    .firecheckout-set .gift-messages-form .item .details .form-list input.input-text,
    .firecheckout-set .gift-messages-form .item .details .form-list li.wide textarea { width: 140px; }
    input#coupon-code { width: 90px; }
}

@media (max-width: 480px) {
    .firecheckout-set .col-1,
    .firecheckout-set .col-2,
    .firecheckout-set .col-3 { float: none; width: 100% !important; margin: 0; }
    .firecheckout-set .col2-set .col-1,
    .firecheckout-set .col2-set .col-2 { float: none; width: 100% !important; }
    .firecheckout-set #checkout-review .product-image { display: none; }
    #shipping_form_delivery_date .wide .delivery-date .input-text { width: 200px; }
    .firecheckout-set .col-2 .form-list li.wide textarea { width: 254px; }
    .firecheckout-set .gift-messages-form .item .details .form-list input.input-text,
    .firecheckout-set .gift-messages-form .item .details .form-list li.wide textarea { width: 165px; }
    input#coupon-code { width: 120px; }
}*/
