#shopping-cart-table .qty-less,
#shopping-cart-table .qty-more{
	width:9px;
	height:12px;
	display:inline;
	position:relative;
	top:3px;
}
#shopping-cart-table .qty-more{
	right: 9px;
}

#shopping-cart-table .qty-less span,
#shopping-cart-table .qty-more span{
	width:9px;
	height:12px;
	background:url(../images/sk_updatecart/qty.gif) no-repeat;
	display:block;
	cursor:pointer;
	position:absolute;
	top:0;left:0;
}

#shopping-cart-table .qty-less span{
	background-position:-9px 0;
}

#shopping-cart-table input.qty{
	margin:0 14px 0 14px;
}

.checkout-cart-index #ajax-loading{
	width:160px;
	height:24px;
	position:absolute;
	background:url(../images/sk_updatecart/loader.gif) no-repeat;
	z-index:10001;
}

#ajax-cart-overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#000;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Good browsers */
	opacity: 0.5;
	z-index:10000;
}