div.socialsuite-auth-wrapper {
    border: 1px solid #E4E4E4;
    clear: both;
    margin-bottom: 10px;
    padding: 10px;
}

.socialsuite-firecheckout-auth {
    margin-right: 10px;
}

.socialsuite-firecheckout {
    margin-right: 5px;
    font-weight:bold;
}

#socialsuite-global-like {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 200px;
    width: auto;
    z-index: 999;
    color: black;
    float: left;
}

.socialsuite-store-button {
}

.socialsuite-share-button {
    padding: 0;
    margin: 0;
    float: left;
}

div#socialsuite-buttons {
    float: right;
}