<?php if (Mage::getStoreConfig('socialsuite/categorylike/enabled')) : ?>

    <div id="fb-root"></div>
    <fb:like
        href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"
        send="<?php if (Mage::getStoreConfig('socialsuite/categorylike/send')) : ?>true<?php else: ?>false<?php endif; ?>"
        layout="<?php echo Mage::getStoreConfig('socialsuite/categorylike/layout'); ?>"
        show_faces="<?php if (Mage::getStoreConfig('socialsuite/categorylike/showfaces')) : ?>true<?php else: ?>false<?php endif; ?>"
        action="<?php echo Mage::getStoreConfig('socialsuite/categorylike/verb'); ?>"
        colorscheme="<?php echo Mage::getStoreConfig('socialsuite/categorylike/color'); ?>"
        font="<?php echo Mage::getStoreConfig('socialsuite/categorylike/font'); ?>"
        width="<?php echo Mage::getStoreConfig('socialsuite/categorylike/width'); ?>">
    </fb:like>

<?php endif; ?>

<?php if (Mage::getStoreConfig('socialsuite/category_plus/enabled')) : ?>

    <g:plusone href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"
        size="<?php echo Mage::getStoreConfig('socialsuite/category_plus/size'); ?>"
        count="<?php if (Mage::getStoreConfig('socialsuite/category_plus/count')) : ?>true<?php else: ?>false<?php endif; ?>">
    </g:plusone>

<?php endif; ?>

<?php if (Mage::getStoreConfig('socialsuite/category_twitter/enabled')) : ?>

    <?php $category = Mage::registry('current_category'); ?>
    <?php $text = Mage::app()->getStore()->getName() . ' - ' . htmlspecialchars(trim($category->getName())); ?>
    <a href="https://twitter.com/share" class="twitter-share-button"
        data-url="<?php echo $this->helper('core/url')->getCurrentUrl() ?>"
        data-text="<?php echo $text ?>"
        data-count="<?php echo Mage::getStoreConfig('socialsuite/category_twitter/count'); ?>">
    </a>
<?php endif; ?>