<?php if (Mage::getStoreConfig('socialsuite/facebook_comments/enabled')) : ?>

    <div id="fb-root-comments"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      var locale = '<?php echo Mage::getStoreConfig('socialsuite/general/lang') ?>';
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/" + locale + "/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-comments"
         data-href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"
         data-num-posts="<?php echo Mage::getStoreConfig('socialsuite/facebook_comments/num_posts'); ?>"
         data-width="<?php echo Mage::getStoreConfig('socialsuite/facebook_comments/width'); ?>">
    </div>

<?php endif; ?>