<?php if (!Mage::helper('socialsuite')->isMobile()) : ?>
    <?php if (Mage::getStoreConfig('socialsuite/storelike/enabled') || Mage::getStoreConfig('socialsuite/store_plus/enabled') || Mage::getStoreConfig('socialsuite/store_twitter/enabled')) : ?>
    <div id="socialsuite-global-like" class="socialsute-wrapper">
        <div id="socialsuite-buttons" class="block block-poll socialsuite-hidden socialsuite-buttons-clicks">
            <div class="block-title"><strong><span><?php echo Mage::helper('socialsuite')->__('Share') ?></span></strong></div>
            <div class="block-content">
                <ol class="socialsuite-store-list">
                <?php if (Mage::getStoreConfig('socialsuite/storelike/enabled')) : ?>
                    <li class="socialsuite-store-button">
                        <div id="fb-root"></div>
                        <fb:like
                            href="<?php echo $this->getBaseUrl(); ?>"
                            send="<?php if (Mage::getStoreConfig('socialsuite/storelike/send')) : ?>true<?php else: ?>false<?php endif; ?>"
                            layout="<?php echo Mage::getStoreConfig('socialsuite/storelike/layout'); ?>"
                            show_faces="<?php if (Mage::getStoreConfig('socialsuite/storelike/showfaces')) : ?>true<?php else: ?>false<?php endif; ?>"
                            action="<?php echo Mage::getStoreConfig('socialsuite/storelike/verb'); ?>"
                            colorscheme="<?php echo Mage::getStoreConfig('socialsuite/storelike/color'); ?>"
                            font="<?php echo Mage::getStoreConfig('socialsuite/storelike/font'); ?>"
                            width="<?php echo Mage::getStoreConfig('socialsuite/storelike/width'); ?>">
                        </fb:like>
                    </li>
                    <?php if (Mage::getStoreConfig('socialsuite/store_plus/enabled')) : ?>
                    <li class="socialsuite-store-button">
                        <g:plusone href="<?php echo $this->getBaseUrl(); ?>"
                            size="<?php echo Mage::getStoreConfig('socialsuite/store_plus/size'); ?>"
                            count="<?php if (Mage::getStoreConfig('socialsuite/store_plus/count')) : ?>true<?php else: ?>false<?php endif; ?>">
                        </g:plusone>
                    </li>
                    <?php endif; ?>
                    <?php if (Mage::getStoreConfig('socialsuite/store_twitter/enabled')) : ?>
                        <li class="socialsuite-store-button">
                            <a href="https://twitter.com/share" class="twitter-share-button"
                                data-url="<?php echo $this->helper('core/url')->getCurrentUrl() ?>"
                                data-text="<?php echo htmlspecialchars(trim(Mage::app()->getStore()->getFrontendName())) ?>"
                                data-count="<?php echo Mage::getStoreConfig('socialsuite/store_twitter/count') ?>">
                            </a>
                        </li>
                    <?php endif; ?>
                <?php endif; ?>
                </ol>
            </div>
        </div>
    </div>
    <?php endif; ?>
<?php endif; ?>