<meta property="fb:app_id" content="<?php echo Mage::getStoreConfig('socialsuite/general/appid'); ?>"/>
<meta property="og:title" content="<?php echo htmlspecialchars(trim(Mage::app()->getStore()->getFrontendName())); ?>"/>
<meta property="og:url" content="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="<?php echo $this->getSkinUrl() . Mage::getStoreConfig('design/header/logo_src'); ?>"/>