/**
 * Innoexts
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_Warehouse
 * @copyright   Copyright (c) 2013 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */

/* Warehouse */
.warehouse {  }
.warehouse .warehouse-name { 
    font-weight: bold; 
}
.warehouse .warehouse-origin { 
    display: block; 
    font-style: italic; 
}
.warehouse .warehouse-distance { 
    display: block; 
    font-style: italic; 
}
.warehouse .warehouse-description { 
    display: block; 
}
/* View Product */
.product-quote tfoot td { 
    padding: 5px 10px; 
}
.product-quote .current { 
    background: #ebf1f6; 
}
.product-quote .button-update { 
    margin-left: 5px; 
}
/* Cart */
.cart-table .cart-item-product-quote-button { 
    margin-left: 10px; 
}
.cart-table .product-quote { 
    border: 1px solid #d9dde3; 
}
.cart-table .product-quote .odd  { 
    background: #ffffff; 
}
.cart-table .product-quote .even { 
    background: #ffffff; 
}
.cart-table .product-quote thead th { 
    background-image: none; 
    background-color: #ebf1f6; 
}
.cart-table .button-reset-cart span { 
    border-color: #406a83; 
    background: #618499; 
}
.cart-table .button-reset-cart { 
    float: right; 
}
.cart-table .button-reset-cart { 
    margin-left: 10px; 
}
.cart-table .btn-update { 
    float: right; 
}
.cart-table .btn-update { 
    margin-left: 10px; 
}
/* Block: Warehouse */
.warehouse-block {  }
.warehouse-block .block-title strong {
    background-position: 0 0; 
    background-repeat: no-repeat; 
    padding-left: 21px; 
}
.warehouse-block .block-title strong {
    background-image: url(../../images/warehouse/fugue_building.png); 
}
.warehouse-block .current, 
.warehouse-block .current.odd, 
.warehouse-block .current.even { 
    background: #ebf1f6; 
}
.warehouse-block input.radio { 
    float: left; 
    margin: 3px -18px 0 0; 
}
.warehouse-block .label { 
    display: block; 
    margin-left: 18px; 
}
.warehouse-block li { 
    padding: 3px 9px; 
}
.warehouse-block .actions .button-update { 
    margin-left: 5px; 
}
/* Shipping Method */
.warehouse-shipping-methods .warehouse {
    padding-top: 15px;
}
.warehouse-shipping-methods .warehouse .warehouse-name {
    font-size: 1.125em;
}
.warehouse-shipping-methods .warehouse-content {
    padding-bottom: 10px;
}
.warehouse-shipping-methods .warehouse-content .shipping-methods {
    padding-left: 15px;
}
/* Checkout */
/* Progress */
.block-progress dl.warehouse-shipping-methods { 
    border: 0; 
    padding: 0;
}
.block-progress dl.warehouse-shipping-methods dt {
    border: 0; 
    padding: 0;
    font-size: inherit !important;
    font-weight: normal;
    color: inherit !important;
}
.block-progress dl.warehouse-shipping-methods dd {
    border: 0; 
    padding: 0 0 0 5px;
}