<?php  ?>

<script type="text/javascript">
    var JQR = jQuery.noConflict();

    
    function submitfbForm() {
    
        var competitor_name  = escape(JQR('input[name=competitor_name]').val());
        var competitor_price = escape(JQR('input[name=competitor_price]').val());
        var competitor_url   = escape(JQR('input[name=competitor_url]').val());

        var user_email  = escape(JQR('input[name=user_email]').val());
        var user_phone  = escape(JQR('input[name=user_phone]').val());
        var user_skype  = escape(JQR('input[name=user_skype]').val());
        var comment     = escape(JQR('textarea[name=comment]').val());

            JQR.colorbox({href:"<?php echo Mage::getUrl('priceproposal/index/result/'); ?>"+
                                              "?competitor_name="+competitor_name+
                                              "&competitor_price="+competitor_price+
                                              "&competitor_url="+competitor_url+
                                              "&user_email="+user_email+
                                              "&user_phone="+user_phone+
                                              "&user_skype="+user_skype+
                                              "&comment="+comment+
                                              "&product_id="+<?php echo urlencode(1); ?>
                                              });
        
    }

    function indexForm() {
        JQR('button[name=complain]').colorbox({href:"<?php echo Mage::getUrl('priceproposal/index/form/'); ?>"});
    }
</script>



<h4><?php echo Mage::getStoreConfig('priceproposal/product_page/header') ?></h4>
<div class="add-proposal">
    <div class="proposal">
        <?php echo Mage::getStoreConfig('priceproposal/product_page/brief') ?>
    </div>
    <button
            name="complain"
            class='form-button btn-cart cboxElement'
            title="<?php echo Mage::getStoreConfig('priceproposal/modal_window/title') ?>"
            onclick="javascript:indexForm();"
            type="button">
            <span><span><?php echo Mage::getStoreConfig('priceproposal/product_page/button') ?></span></span>
    </button>
</div>
