<div class="magazento-feedback" >
    <form id="contactForm" action="javascript:submitfbForm();" method="post" >
     <fieldset class="group-select fielset-proposal">
        <h4 class="legend"><?php echo Mage::getStoreConfig('priceproposal/modal_window/header'); ?></h4>
        <ul class="form-list">
            <li>
                <div class="input-box">
                    <label><?php echo Mage::getStoreConfig('priceproposal/modal_window/competitor_name'); ?><span class="required"> *</span></label>
                    <br/>
                    <input type="text" value="" class="required-entry input-text" id="competitor_name" name="competitor_name">
                </div>
                <div class="input-box">
                    <label for="user_email"><?php echo Mage::getStoreConfig('priceproposal/modal_window/user_email'); ?><span class="required"> *</span></label>
                    <br/>
                    <input type="text" value="" class="required-entry input-text validate-email" id="user_email" name="user_email">
                </div>

                <div class="clear"></div>

                <div class="input-box">
                    <label><?php echo Mage::getStoreConfig('priceproposal/modal_window/competitor_price'); ?><span class="required"> *</span></label>
                    <br/>
                    <input type="text" value="" class="required-entry input-text" id="competitor_price" name="competitor_price">
                </div>
                <div class="input-box">
                    <label for="user_phone"><?php echo Mage::getStoreConfig('priceproposal/modal_window/user_phone'); ?></label>
                    <br/>
                    <input type="text" value="" class="input-text" id="user_phone" name="user_phone">
                </div>

                <div class="clear"></div>


                <div class="input-box">
                    <label><?php echo Mage::getStoreConfig('priceproposal/modal_window/competitor_url'); ?><span class="required"> *</span></label>
                    <br/>
                    <input type="text" value="" class="required-entry input-text" id="competitor_url" name="competitor_url">
                </div>
                <div class="input-box">
                    <label  for="user_skype"><?php echo Mage::getStoreConfig('priceproposal/modal_window/user_skype'); ?></label>
                    <br/>
                    <input type="text" value="" class="input-text" id="user_skype" name="user_skype">
                </div>

                <div class="clear"></div>

                <div class="input-box">
                    <label  for="comment"><?php echo Mage::getStoreConfig('priceproposal/modal_window/comment'); ?></label>
                    <br/>
                    <textarea class="input-text" rows="3" cols="5" style="height: 100px; width: 525px;" id="review_field" name="comment"></textarea>
                </div>

            </li>
        </ul>
    </fieldset>
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <button type="submit" class="form-button"><span><?php echo $this->__('Submit') ?></span></button>
    </div>
    </form>
<script type="text/javascript">
    var contactForm = new VarienForm('contactForm', true);
</script>
</div>