<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
	$_collectionSize = $_productCollection->count();    
?>
<div class="breadcrumbs">
	<ul>
    	<li>
        	<a href="<?php echo $this->getUrl() ?>" title="<?php echo $this->helper('groupdeal')->__('Go to Home Page') ?>"><?php echo $this->helper('groupdeal')->__('Home') ?></a>
            <span>-> </span>
		</li>
        <?php if($this->getRequest()->getParam('category')){?>
        <li>
        	<a href="<?php echo $this->getUrl('groupdeal') ?>" title="<?php echo $this->helper('groupdeal')->__('Go to Groupdeal') ?>"><?php echo $this->helper('groupdeal')->__('Groupdeal') ?></a>
            <span>-> </span>
		</li>
        <li><strong><?php echo $this->getCategoryName() ?></strong></li>
        <?php }else{?>
        <li><div class="bread_bg"><strong><span><?php echo $this->helper('groupdeal')->__('Groupdeal') ?></span></strong></div></li>
        <?php }?>
    </ul>
</div>
<div class="groupdeal-page">
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php if(!$_collectionSize):?>
<p class="note-msg category-deals"><?php echo $this->helper('groupdeal')->__('There are no deals matching the selection.') ?></p>
<?php else:?>
<div id="group-deal-list" class="category-products category-deals">
	<!--<div class="deallist-title"><?php echo $this->getTitle()?></div>-->
    
    <?php $i=0; foreach ($_productCollection as $_product){ ?>
    	<?php $_deal = $this->getDeal($_product->getId()) ?>
    	<?php if($i<2):?>
            <ul class="groupdeals-top products-grid">
            	<li class="item">
                    
                    <div class="info">
                        <?php 
                        $val = $_deal->getValue();
                        $pri = $_deal->getPrice();
                        $discount = ceil(100 - (( 100/$val ) * $pri ));                      
                        ?>
                        <!--<p class="description"><?php //echo $this->stripTags($_deal->getShortDescription(), null, true) ?></p>
                        -->
                        <div class="show_price"><?php echo Mage::helper('core')->currency($pri);?></div>
                        <div class="other_price">
                          <ul>
                            <li><?php echo $this->__('Value')?></li>
                            <li><?php echo $this->__('Discount')?></li>
                            <li><?php echo $this->__('You Save')?></li>
                          </ul>
                          <ul class="value">
                            <li><?php echo Mage::helper('core')->currency($val);?></li>
                            <li><?php echo $discount.'%';?></li>
                            <li><?php echo Mage::helper('core')->currency(($val-$pri))?></li>
                          </ul>                          
                        </div>
                        
                        <div class="time-box inf-box">
                            <dl class="first">
                                <dt class="old-price">
                                    <span class="time-text price-label"><?php echo $_deal->getTimeText() ?></span>
                                </dt>
                                
                                <dd class="special-price">
                                    <span id="left-time-<?php echo $_deal->getDealId() ?>" class="price"><?php echo $_deal->getLeftTime() ?></span>
                                 </dd>
                            </dl>
                         
                            <script type="text/javascript">
                                var remainTime<?php echo $_deal->getDealId() ?> = <?php echo $_deal->getRemainTime() ?>;
                                function showLeftTime<?php echo $_deal->getId() ?>(){
                                    <?php if($_deal->getDealStatus() == 2 || $_deal->getDealStatus() == 3){ ?>		
                                    remainTime<?php echo $_deal->getDealId() ?>++;
                                    <?php }else{?>
                                    remainTime<?php echo $_deal->getDealId() ?>--;
                                    <?php }?>
                                    var leftTime = getLeftTime(remainTime<?php echo $_deal->getId() ?>);
                                    $('left-time-<?php echo $_deal->getId() ?>').update(leftTime);
                                }
                                
                                setInterval("showLeftTime<?php echo $_deal->getId() ?>()", 1000);
                            </script>
                        </div>
                        <div class="amount">
                            <?php 
                            $pecent = $_deal->getBought()/$_deal->getMinimumPurchase();
                            $more = $_deal->getMinimumPurchase()-$_deal->getBought();
                            ?>
                            <div class="title"><?php echo $this->__('Be the first buy!')?></div>
                            <div class="progess-point" style="left:<?php echo ($_deal->getBought()/$_deal->getMinimumPurchase())*182 +10?>px;"></div>
                            <div class="progess-bar">
                                <div class="progess-line" style="width:<?php echo ($_deal->getBought()/$_deal->getMinimumPurchase())*182 ?>px;"></div>
                            </div>
                            <div class="quantity-number">
                                <span class="min-quantity"><?php echo $_deal->getBought()  ?></span>
                                <span class="max-quantity"><?php echo $_deal->getMinimumPurchase() ?></span>
                            </div>
                            <span class="more"><?php echo $this->__($more.' more needed to get the deal!')?></span>
                            
                        </div>
                        <?php if($_deal->getDealStatus() == 4 || $_deal->getDealStatus() == 5){ ?>
                        <div class="buy-item inf-box">
                            <dl class="first">
                                <?php if($_deal->getBought() >= $_deal->getMinimumPurchase()){ ?>
                                <span class="targetmet"><?php echo $this->helper('groupdeal')->getTargetMeetLabel() ?></span>
                                <?php }else{?>
                                <span class="targetnotmet"><?php echo $this->helper('groupdeal')->getTargetNotMetLabel() ?></span>
                                <?php }?>
                             </dl>
                            <dl class="btn">
                                <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post">
									                 <?php foreach($_deal->getProductIds() as $productId){?>
                                    <input type="hidden" name="super_group[<?php echo $productId ?>]" value="1">
                                    <?php }?>
                                    <button type="submit" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart"><span><span><?php echo $this->__('Buy Now') ?></span></span></button>
                                </form>
                            </dl>
                        </div>
                        <?php }?>
                    </div>
                    <div class="group_img">
                      <h2 class="product-name">
                            <a href="<?php echo $_deal->getDealUrl() ?>" title="<?php echo $this->stripTags($_deal->getDealTitle(), null, true) ?>">
                                <?php echo $this->stripTags($_deal->getDealTitle(), null, true) ?>
                            </a>
                      </h2>
                      <a href="<?php echo $_deal->getDealUrl() ?>" title="<?php echo $this->stripTags($_deal->getDealTitle(), null, true) ?>" class="product-image">
                          <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(298, 298); ?>" width="298" height="298" alt="<?php echo $this->stripTags($_deal->getDealTitle(), null, true) ?>" />
                       </a>
                        <div class="addthis">
                                 <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style ">
                                    <a class="addthis_button_preferred_1"></a>
                                    <a class="addthis_button_preferred_2"></a>
                                    <a class="addthis_button_preferred_3"></a>
                                    <a class="addthis_button_preferred_4"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                    </div>
                                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-519b45e2471baaf9"></script>
                                    <!-- AddThis Button END -->
                        </div>
                    <div> 
				</li>
            </ul>
            <?php $i++?>
        <?php else:?>
            <?php $_columnCount = 4; ?>
            <?php if ($i++%$_columnCount==2 || $i<$_columnCount): ?>
            <ul class="groupdeals-grid products-grid">
            <?php endif ?>
            <?php 
                $val = $_deal->getValue();
                $pri = $_deal->getPrice();
                $discount = ceil(100 - (( 100/$val ) * $pri )); 
            ?>
           
                <li class="item <?php echo $i;?><?php if(($i-2)%$_columnCount==1): ?> first<?php elseif($i%$_columnCount==2): ?> last<?php endif; ?>">                    
					     <div class="name-tag"></div>
					      <a href="<?php echo $_deal->getDealUrl() ?>" title="<?php echo $this->stripTags($_deal->getDealTitle(), null, true) ?>" class="product-image">
                  <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(278, 260); ?>" width="278" height="260" alt="<?php echo $this->stripTags($_deal->getDealTitle(), null, true) ?>" />
                </a>
                  <h2 class="product-name">
                      <a href="<?php echo $_deal->getDealUrl() ?>" title="<?php echo $this->stripTags($_deal->getDealTitle(), null, true) ?>">
                          <?php $title = $this->getOneLineTitle($_deal->getDealTitle(), 30)?>
                          <?php echo $this->stripTags($title, null, true) ?>
                      </a>
                  </h2>
      
                    <div class="price-box inf-box">
                        <dl class="first">
                            <dt class="old-price">
                                <span class="price-label"><?php echo $this->helper('groupdeal')->__('Value') ?></span>
                            </dt>
                            <dd class="special-price">
                                <span class="price"><strike><?php echo $_deal->getValueHtml() ?></strike></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="old-price">
                                <span class="price-label"><?php echo $this->helper('groupdeal')->__('Price') ?></span>
                            </dt>
                            <dd class="special-price">
                                <span class="price"><?php echo $_deal->getPriceHtml() ?></span>
                            </dd>
                        </dl>
                    </div>
                    
                    <?php if($_deal->getDealStatus() == 4 || $_deal->getDealStatus() == 5){ ?>
                    <div class="buy-item inf-box">
                        <dl class="first">
                            <?php echo $this->__('Save:').$discount.'% Off'?>
                         </dl>
                        <dl>
                        	<a href="<?php echo $_deal->getDealUrl() ?>"><?php echo $this->__('View')?></a>
                        </dl>
                    </div>
                    <?php }?>
                </li>
            <?php if ($i%$_columnCount==2 || $i==$_collectionSize+1): ?>
            </ul>
            <?php endif ?>
		<?php endif;?>
	<?php }?>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
   
  
</div>

<?php endif;?>
 <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>
</div>
<!--<div class="right-sidebar">
    <?php //echo $this->getLayout()->createBlock('groupdeal/sidebar')->setTemplate('groupdeal/sidebar/categories.phtml')->toHtml(); ?>
	<?php //echo $this->getLayout()->createBlock('groupdeal/sidebar')->setTemplate('groupdeal/sidebar/newestdeals.phtml')->toHtml(); ?>
	<?php //echo $this->getLayout()->createBlock('groupdeal/sidebar')->setTemplate('groupdeal/sidebar/newsletter.phtml')->toHtml(); ?>
</div>  -->

<script type="text/javascript">
function getLeftTime(remainTime){
	if(remainTime > 0){
		var remainDay = parseInt(remainTime/24/3600);
		var remainHour = parseInt((remainTime%(24*3600))/3600);
		if(remainHour < 10)
			remainHour = '0' + remainHour; 
		var remainMinute = parseInt(((remainTime%(24*3600))%3600)/60);
		if(remainMinute < 10)
			remainMinute = '0' + remainMinute;
		var remainSecond = parseInt(((remainTime%(24*3600))%3600)%60);
		if(remainSecond < 10)
			remainSecond = '0' + remainSecond;
		
		if(remainDay != 0)
			var leftTime = remainDay + 'd, ' + remainHour + ':' + remainMinute + ':' + remainSecond;
		else
			var leftTime = remainHour + ':' + remainMinute + ':' + remainSecond;
	}else{
		var leftTime = "<?php echo $this->helper('groupdeal')->__('Time is up') ?>";
	}
	return leftTime;
}
</script>