<?php 
	$_deal = $this->getDeal();
	$_products = $this->getProductsInDeal();
	$_helper = $this->helper('groupdeal');
?>
<div class="breadcrumbs">
	<ul>
    	<li>
        	<a href="<?php echo $this->getUrl() ?>" title="<?php echo $this->helper('groupdeal')->__('Go to Home Page') ?>"><?php echo $this->helper('groupdeal')->__('Home') ?></a>
            <span>-> </span>
		</li>
        <li>
        	<a href="<?php echo $this->getUrl('groupdeal') ?>" title="<?php echo $this->helper('groupdeal')->__('Go to Groupdeal') ?>"><?php echo $this->helper('groupdeal')->__('Groupdeal') ?></a>
            <span>-> </span>
		</li>
        <?php if($this->getCategory()){ ?>
        <li>
        	<a href="<?php echo $this->getCategoryUrl() ?>" title="<?php echo $this->getCategoryName() ?>"><?php echo $this->getCategoryName() ?></a>
            <span>-> </span>
		</li>
        <?php }?>
       	<li><div class="bread_bg"><strong><span><?php echo $_deal->getDealTitle() ?></span></strong></div></li>
    </ul>
</div>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>

<div class="groupdeal_detail">
<div class="product-view groupdeal">
    <div class="product-essential">
        <div class="top">
            <h1 class="title"><?php echo $this->stripTags($_deal->getDealTitle(), null, true) ?></h1>
            <p class="description"><?php echo $this->stripTags($_deal->getShortDescription(), null, true) ?></p>
        </div>
        <div class="group_content">
        <div class="left">
            <div class="add-to-cart">
                <?php echo $_deal->getPriceHtml() ?> 
            </div>
    
            <div class="discount">
                <dl>
                    <dt><?php echo $_helper->__('Value') ?></dt>
                    <dd><?php echo $_deal->getValueHtml() ?></dd>
                </dl>
                <dl>
                    <dt><?php echo $_helper->__('Discount') ?></dt>
                    <dd><?php echo $_deal->getDiscountHtml() ?></dd>
                </dl>
                <dl>
                    <dt><?php echo $_helper->__('You save') ?></dt>
                    <dd><?php echo $_deal->getYouSaveHtml() ?></dd>
                </dl>
            </div>
            <div class="time">
                <img class="time-image" src="<?php echo $this->getSkinUrl('images/groupdeal/hourglass.gif')?>" />
                <div class="count-time">
                    <dl>
                        <dt><?php echo $_deal->getTimeText() ?></dt>
                        <dd id="left-time"><?php echo $_deal->getLeftTime() ?></dd>
                    </dl>
                </div>
            </div>
            
            <div class="number-sold">
            	<?php $remain = $_deal->getMinimumPurchase() - $_deal->getBought()?>
				<?php if($_deal->getDealStatus() == 5 || $remain > 0){?>
                <div class="status"><?php echo $_deal->getNumberBoughtText() ?></div>
                <div id="deal-waiting">
                    <div class="progess-point" style="left:<?php echo ($_deal->getBought()/$_deal->getMinimumPurchase())*182 +10?>px;"></div>
                    <div class="progess-bar">
                        <div class="progess-line" style="width:<?php echo ($_deal->getBought()/$_deal->getMinimumPurchase())*182 ?>px;"></div>
                    </div>
                    <div class="quantity-number">
                        <span class="min-quantity">0</span>
                        <span class="max-quantity"><?php echo $_deal->getMinimumPurchase() ?></span>
                        <?php // foreach($_products as $p){echo $p->getSales();}//echo $_products->getSales();?>
                    </div>
                </div>
                <?php }else{?>
                <div id="deal-status">
                    <img class="sold-image" src="<?php echo $this->getSkinUrl('images/groupdeal/deal_on.png')?>" />
                    <?php echo $_deal->getStatusText()?>
                </div>
                <?php }?>
                
                <div class="remain-quantity"><?php echo $_deal->getRemainQuantityText() ?></div>
            </div>
            <div class="btn_bottom">
            	<form action="<?php echo $this->getAddToCartUrl() ?>" method="post">
                	<?php foreach($_deal->getProductIds() as $productId){?>
                    <input type="hidden" name="super_group[<?php echo $productId ?>]" value="1">
                    <?php }?>
                	<button id="buynow" class="button" type="submit" <?php if($_deal->getDealStatus() != 4 && $_deal->getDealStatus() != 5){?> style="display:none"<?php }?>></button>
                </form>
            </div>
            <div class="what-happen">
                <a href="javascript:void(0);" onclick="popWin('<?php echo $this->getWhatHappenUrl() ?>', 'what_happen', 'top:0,left:0,width=500,height=320,resizable=yes,scrollbars=yes'); return false;"><?php echo $_helper->__('What happen to your purchase?')?></a>
                <?php $product = $this->getProduct()?>
                 <p class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($product) ?>"><?php echo $this->__('Email to a Friend') ?></a></p>   
            </div>
        </div>
        <div class="right">
        	<div class="product-img-box">
            	<?php $gallery = $product->getMediaGallery()?>
                <?php $images = array_reverse($gallery['images'])?>
            	<ul id="deal-image" <?php if(count($images) > 1){?>onmouseover="stopSlideshow()" onmouseout="startSlideshow()<?php }?>">
                	<?php if(count($images) > 1){?><li class="prev nav-slider"><a href="javascript:prevSlideshow()" title="<?php echo $this->__('Previous photo') ?>">&#139;</a></li><?php }?>
                	<?php foreach($images as $image){?>
                    <li><img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $image['file'])->resize(380, 310) ?>" title="" height="310" width="380" /></li>
                    <?php }?>
                    <?php if(count($images) > 1){?><li class="next nav-slider"><a href="javascript:nextSlideshow()" title="<?php echo $this->__('Next photo') ?>">&#155;</a></li><?php }?>
                </ul>
                <?php if(count($images) > 1){?>
                <script type="text/javascript">
				var duration = 4000;
				var showNextImage = true;
				var total = $$('#deal-image img').length;
				var i = total-1;
				function stopSlideshow() {
					showNextImage = false;
					$$("li.nav-slider").each(function(elm){
						elm.setStyle({'opacity':'0.9', 'filter':'alpha(opacity=90)'});
					});
				} 
				function startSlideshow() {
					showNextImage = true;
					$$("li.nav-slider").each(function(elm){
						elm.setStyle({'opacity':'0.4', 'filter':'alpha(opacity=40)'})
					});
				}
				
				function nextSlideshow(){
					var imgs = $$('#deal-image img'), 
					visible = imgs.findAll(function(img){ return img.visible();});
					
					if(visible.length > 1) {
						visible.last().fade({ duration: 1 });
					} else {
						imgs.last().appear({ duration: 1, afterFinish: function(){ imgs.slice(0,imgs.length-1).invoke('show'); } });
					}
				}
				
				function prevSlideshow(){
					var imgs = $$('#deal-image img'), 
					hidden = imgs.findAll(function(img){ return !img.visible();});
				
					if(hidden.length >= 1) {
						hidden.first().appear({ duration: 1 });
					} else {
						imgs.slice(1,imgs.length-1).invoke('hide');
						imgs.last().fade({ duration: 1 });
					}
				}
				
				setInterval(function(){
					if(!showNextImage){ 
						return; 
					}
					var imgs = $$('#deal-image img'), visible = imgs.findAll(function(img){ 
						return img.visible(); 
					});
				
					if(visible.length > 1) {
						visible.last().fade({ duration: 1 });
					} else {
						imgs.last().appear({ duration: 1, afterFinish: function(){ imgs.slice(0,imgs.length-1).invoke('show'); } });
					}
				}, duration);
				</script>
                <?php }?>
            </div>
            <div class="addthis">
                          <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-519b45e2471baaf9"></script>
<!-- AddThis Button END -->
            </div>
        </div>
         <div class="clear"></div>
        </div>
       
    </div>
    
    
    <div class="product-collateral">
        <div class="product_tab">
            <div class="product_title">
              <ul>
                <li onClick="x:HoverLi(1);" id="tb_1" class="tm1"><a href="javascript:;"><?php echo $this->__('Product Description')?></a></li>
                <li onClick="x:HoverLi(2);" id="tb_2" class="tm2"><a href="javascript:;"><?php echo $this->__('Shipping Detail')?></a></li> 
                <li onClick="x:HoverLi(3);" id="tb_3" class="tm2"><a href="javascript:;"><?php echo $_helper->__('Product & review')?></a></li> 
                <li onClick="x:HoverLi(4);" id="tb_4" class="tm2"><a href="javascript:;"><?php echo $_helper->__('The Fine Print')?></a></li> 
              </ul>
            </div>
            <div class="product_details">
              <div id="tbc_01" style="display: block;">
                  <?php echo $_deal->getFullDescription() ?>
              </div>
              <div style="display: none;" id="tbc_02">
                  <!--<div class="product_tag"><?php //echo $this->getChildHtml('product_tag_list')?></div>-->
                  <div class="shipping_detail"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('shipping_detail')->toHtml()?></div>
              </div>
              <div style="display: none;" id="tbc_03">
                <div class="product_review">
               <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product_review')->toHtml()?>
                <?php //echo $_deal->getHighlights() ?>
                </div>
              </div>
              <div style="display: none;" id="tbc_04">            
                <div class="product_question">
                
                <?php  echo $_deal->getTheFinePrint()?></div>
              </div>
            </div>
          </div>
          <script type="text/javascript" language="javascript">
            //<!CDATA[
            function g(o){return document.getElementById(o);}
            function HoverLi(n){
            //如果有N个标签,就将i<=N;
            //本功能非常OK,兼容IE7,FF,IE6
            	for(var i=1;i<=4;i++)
            	{
            		g('tb_'+i).className='tm2';
            		g('tbc_0'+i).style.display='none';
            	}
            	g('tbc_0'+n).style.display='block';
            	g('tb_'+n).className='tm1';
            }
            </script> 
        <div class="clear"></div>
    </div>
    
    <?php if($this->isShowProductList()){?>
	<div class="product-collateral">
        <div class="box-collateral box-up-sell products-in-deal">
        	<h2><?php echo $this->getProductListTitle() ?></h2>
			<p><?php echo $this->getProductListDescription() ?></p>
			<table class="products-grid" id="groupdeal-product-list">
			<?php // $this->setColumnCount(5); // uncomment this line if you want to have another number of columns. also can be changed in layout ?>
			<?php $this->setColumnCount(5) ?>
			<?php for($_i=0;$_i<ceil(count($_products) / $this->getColumnCount());$_i++): ?>
				<tr>
				<?php for($_j=0;$_j<$this->getColumnCount();$_j++): ?>
					<?php if($_product=$_products[$_i*$this->getColumnCount() + $_j]): ?>
					<td>
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(125) ?>" width="125" height="125" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
						<h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h3>
						<?php echo $this->getPriceHtml($_product, true, '-upsell') ?>
						<?php echo $this->getReviewsSummaryHtml($_product) ?>
					</td>
					<?php else: ?>
					<td class="empty">&nbsp;</td>
					<?php endif; ?>
				<?php endfor; ?>
				</tr>
			<?php endfor; ?>
			</table>
			<script type="text/javascript">decorateTable('groupdeal-product-list')</script>
		</div>
        <div class="clear"></div>
    </div>
    <?php }?>
</div>

<div class="right-sidebar">
    <?php //echo $this->getLayout()->createBlock('groupdeal/sidebar')->setTemplate('groupdeal/sidebar/categories.phtml')->toHtml(); ?>
    <?php echo $this->getLayout()->createBlock('groupdeal/sidebar')->setTemplate('groupdeal/sidebar/newestdeals.phtml')->toHtml(); ?>
	<?php echo $this->getLayout()->createBlock('groupdeal/sidebar')->setTemplate('groupdeal/sidebar/newsletter.phtml')->toHtml(); ?>
</div>
</div>
<script type="text/javascript">
var remainTime, timeId;
function getLeftTime(){
	<?php if($_deal->getDealStatus() == 2 || $_deal->getDealStatus() == 3){ // ended, unreached?>
		remainTime++;
	<?php }else{?>
		remainTime--;
	<?php }?>
	
	if(remainTime > 0){
		var remainDay = parseInt(remainTime/24/3600);
		var remainHour = parseInt((remainTime%(24*3600))/3600);
		if(remainHour < 10)
			remainHour = '0' + remainHour; 
		var remainMinute = parseInt(((remainTime%(24*3600))%3600)/60);
		if(remainMinute < 10)
			remainMinute = '0' + remainMinute;
		var remainSecond = parseInt(((remainTime%(24*3600))%3600)%60);
		if(remainSecond < 10)
			remainSecond = '0' + remainSecond;
		
		if(remainDay != 0)
			var leftTime = remainDay + 'd, ' + remainHour + ':' + remainMinute + ':' + remainSecond;
		else
			var leftTime = remainHour + ':' + remainMinute + ':' + remainSecond;
	}else{
		//var leftTime = "<?php echo $_helper->__('Time is up') ?>";
		clearInterval(timeId);
		<?php if($_deal->getDealStatus() == 4 || $_deal->getDealStatus() == 5){?>
		$('buynow').hide();
		<?php }else{?>
		$('buynow').show();
		<?php }?>
		window.location.reload(true);
	}
	
	$('left-time').update(leftTime);
}

function countdownClock(){
	remainTime = parseInt('<?php echo $_deal->getRemainTime() ?>');
	<?php if($_deal->getDealStatus() == 2 || $_deal->getDealStatus() == 3){ // ended, unreached?>
		clearInterval(timeId);	
		
	<?php }else{?>
		timeId = setInterval("getLeftTime()", 1000);
	<?php } ?>
}
countdownClock();
</script>