<?php
/**
 * Innoexts
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_Warehouse
 * @copyright   Copyright (c) 2013 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */
?>
<?php $helper                   = $this->helper('warehouse') ?>
<?php $element                  = $this->getElement(); ?>
<?php $elementHtmlId            = $element->getHtmlId(); ?>
<?php $elementName              = $element->getName(); ?>
<?php $elementClass             = $element->getClass(); ?>
<?php $elementReadonly          = $element->getReadonly(); ?>
<?php $isShowWebsite            = $this->isShowWebsiteColumn(); ?>
<?php $isGroupPriceFixed        = $this->isGroupPriceFixed(); ?>
<?php $priceValidator           = $this->getPriceValidation('validate-greater-than-zero'); ?>
<?php $argumentsCount           = 6; ?>
<?php $tableColSpan             = 5; ?>

<?php if (!$isShowWebsite)  $tableColSpan++;  ?>

<tr>
    <td class="label"><?php echo $element->getLabel() ?></td>
    <td colspan="10" class="grid tier-price-grid">
    <table cellspacing="0" class="data border" id="tier_price_table">
        <?php if ($isShowWebsite) : ?>
        <col width="190" />
        <?php endif; ?>
        <col width="130" />
        <col width="110" />
        <col width="75" />
        <col width="130" />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th<?php if (!$isShowWebsite): ?> style="display:none"<?php endif; ?>><?php echo Mage::helper('sales')->__('Website') ?></th>
                
                <th><?php echo $helper->__('Warehouse') ?></th>
                
                <th><?php echo Mage::helper('catalog')->__('Customer Group') ?></th>
                <th><?php echo Mage::helper('catalog')->__('Qty') ?></th>
                <th><?php echo $this->getPriceColumnHeader(Mage::helper('catalog')->__('Price')) ?></th>
                <th class="last"><?php echo Mage::helper('catalog')->__('Action') ?></th>
            </tr>
        </thead>
        <tbody id="<?php echo $elementHtmlId ?>_container"></tbody>
        <tfoot>
            <tr>
                <td<?php if (!$isShowWebsite): ?> style="display:none"<?php endif; ?>></td>
                <td colspan="<?php echo $tableColSpan ?>" class="a-right"><?php echo $this->getAddButtonHtml() ?></td>
            </tr>
        </tfoot>
    </table>

<script type="text/javascript">
//<![CDATA[
var tierPriceRowTemplate = '<tr>'
    /* Website */
    + '<td<?php if (!$isShowWebsite): ?> style="display:none"<?php endif; ?>>'
    + '<select class="<?php echo $elementClass ?> website required-entry" name="<?php echo $elementName ?>[{{index}}][website_id]" id="tier_price_row_{{index}}_website">'
    <?php foreach ($this->getWebsites() as $_websiteId => $_info): ?>
    + '<option value="<?php echo $_websiteId ?>"><?php echo $this->jsQuoteEscape($this->htmlEscape($_info['name'])) ?><?php if (!empty($_info['currency'])): ?> [<?php echo $this->htmlEscape($_info['currency']) ?>]<?php endif; ?></option>'
    <?php endforeach ?>
    + '</select></td>'
    /* Warehouse */
    + '<td><select class="<?php echo $elementClass ?> stock" name="<?php echo $elementName ?>[{{index}}][stock_id]" id="tier_price_row_{{index}}_stock">'
    + '<option value=""><?php echo $this->jsQuoteEscape($helper->__('All Warehouses')) ?></option>'
    <?php foreach ($this->getStockIds() as $stockId) : ?>
    + '<option value="<?php echo $stockId ?>"><?php echo $this->jsQuoteEscape($this->htmlEscape($this->getWarehouseTitleByStockId($stockId))) ?></option>'
    <?php endforeach ?>
    + '</select></td>'
    /* Customer Group */
    + '<td><select class="<?php echo $elementClass ?> custgroup required-entry" name="<?php echo $elementName ?>[{{index}}][cust_group]" id="tier_price_row_{{index}}_cust_group">'
    <?php foreach ($this->getCustomerGroups() as $_groupId=>$_groupName): ?>
    + '<option value="<?php echo $_groupId ?>"><?php echo $this->jsQuoteEscape($this->htmlEscape($_groupName)) ?></option>'
    <?php endforeach ?>
    + '</select></td>'
    /* Qty */
    + '<td class="nobr"><input class="<?php echo $elementClass ?> qty required-entry validate-greater-than-zero" type="text" name="<?php echo $elementName ?>[{{index}}][price_qty]" value="{{qty}}" id="tier_price_row_{{index}}_qty" />'
    + ' <small class="nobr"><?php echo $helper->__("+")?></small></td>'
    /* Price */
    + '<td><input class="<?php echo $elementClass ?> required-entry <?php echo $priceValidator ?>" type="text" name="<?php echo $elementName ?>[{{index}}][price]" value="{{price}}" id="tier_price_row_{{index}}_price" /></td>'
    /* Delete */
    + '<td class="last"><input type="hidden" name="<?php echo $elementName ?>[{{index}}][delete]" class="delete" value="" id="tier_price_row_{{index}}_delete" />'
    + '<button title="<?php echo Mage::helper("catalog")->__("Delete Tier") ?>" type="button" class="scalable delete icon-btn delete-product-option" id="tier_price_row_{{index}}_delete_button" onclick="return tierPriceControl.onDeleteItem(event);">'
    + '<span><?php echo Mage::helper("catalog")->__("Delete") ?></span></button></td>'
    + '</tr>';

var tierPriceControl = {
    template: new Template(tierPriceRowTemplate, new RegExp('(^|.|\\r|\\n)({{\\s*(\\w+)\\s*}})', "")),
    itemsCount: 0,
    addItem : function () {
        <?php if ($elementReadonly): ?>
        if (arguments.length < <?php echo $argumentsCount ?>) {
            return;
        }
        <?php endif; ?>
        var data = {
            website_id:         '<?php echo $this->getDefaultWebsite() ?>', 
            stock_id:           '<?php echo $this->getDefaultStockId() ?>', 
            group:              '<?php echo $this->getDefaultCustomerGroup() ?>', 
            qty:                '', 
            price:              '', 
            readOnly:           false, 
            index:              this.itemsCount++
        };
        if (arguments.length >= <?php echo $argumentsCount ?>) {
            data.website_id     = arguments[0];
            data.stock_id       = arguments[1];
            data.group          = arguments[2];
            data.qty            = arguments[3];
            data.price          = arguments[4];
        }
        if (arguments.length == <?php echo $argumentsCount + 1 ?>) {
            data.readOnly       = arguments[<?php echo $argumentsCount ?>];
        }
        var container = $('<?php echo $elementHtmlId ?>_container');
        var item = this.template.evaluate(data);
        container.insert({ bottom : item });
        var elementIdPrefix = 'tier_price_row_' + data.index + '_';
        var customerGroup = $(elementIdPrefix + 'cust_group');
        var website = $(elementIdPrefix + 'website');
        var stock = $(elementIdPrefix + 'stock');
        customerGroup.setValue(data.group);
        website.setValue(data.website_id);
        stock.setValue(data.stock_id);
        <?php if ($this->isShowWebsiteColumn() && !$this->isAllowChangeWebsite()) : ?>
        var websiteName = website.options[website.selectedIndex].text;
        website.insert( { after:'<span class="website-name">' + websiteName + '</span>' } );
        website.hide();
        <?php endif;?>
        if (data.readOnly == '1') {
            var disableInputs = ['website', 'stock', 'cust_group', 'qty', 'price', 'delete'];
            disableInputs.each(function(elementName) {
                $(elementIdPrefix + elementName).disable();
            });
            $(elementIdPrefix + 'delete_button').hide();
        }
        <?php if ($elementReadonly): ?>
        container.select('input', 'select').each(this.disableElement);
        container.up('table').select('button').each(this.disableElement);
        <?php else: ?>
        container.select('input', 'select').each(function(el) { 
            Event.observe(el, 'change', el.setHasChanges.bind(el)); 
        });
        <?php endif; ?>
    }, 
    disableElement: function(el) { 
        $(el).disable(); 
        $(el).addClassName('disabled'); 
    }, 
    deleteItem: function(itemElement) {
        itemElement.select('input.delete').each(function(el) { 
            $(el).setValue('1'); 
        });
        itemElement.select(['input', 'select']).each(function(el) {
            $(el).hide(); 
        });
        itemElement.hide();
        itemElement.addClassName('no-display template');
    }, 
    onDeleteItem: function(event) {
        var tr = event.findElement('tr');
        if (tr) {
            this.deleteItem(tr);
        }
        return false;
    }
};

<?php foreach ($this->getValues() as $item): ?>
tierPriceControl.addItem('<?php echo $item['website_id'] ?>', '<?php echo $item['stock_id'] ?>', '<?php echo $item['cust_group'] ?>', '<?php echo $item['price_qty']*1 ?>', '<?php echo sprintf('%.2f', $item['price']) ?>', <?php echo (int)!empty($item['readonly'])?>);
<?php endforeach; ?>
<?php if ($elementReadonly): ?>
$('<?php echo $elementHtmlId ?>_container').up('table').select('button').each(tierPriceControl.disableElement);
<?php endif; ?>
//]]>
</script>
</td></tr>
