.postWrapper {
	padding-bottom: 15px;
	clear:both;
	border-bottom:1px solid #ddd;
	margin-bottom:15px;
}
.postTitle {
	overflow:hidden;
	zoom:1;
}
.postTitle h2 {
	padding:0px 5px;
}
.postTitle h2 a {
	color: #FF4C00;
    font-size: 14px;
    line-height: 26px;
}
.postTitle h2 a:hover {
	color:#0055CC;
}
.postTitle h3 {
	color:#575757;
	font-size:14px;
	font-weight:normal;
	padding:5px;
}
.postContent {
	color:#575757;
	padding:0 5px;
}
.postContent p {
	line-height:20px;
}
.postContent a {
	font-weight:bold;
	display:block;
	padding-top:5px;
}
.postDetails {
	text-align:right;
	
}
.postBookmarks {
	padding-bottom: 10px;
}
.postBookmarks h4 {	
	font-size: 12px;
	font-weight: bold;
}
.blogpage {
	overflow:hidden;
	zoom:1;
	margin-left:35%;
	margin-bottom:25px;
}
.blogpage li {
	float:left;
	padding:4px 3px;
	color:#555;
}
.blogpage li a {
	border:1px solid #dcdddd;
	padding:4px 6px;
	font-size:11px;
}
.blogpage li a:hover {
	border:1px solid #FF4800;
}
.blogpage li.cur a {
	color:#FF4C00;
	font-weight:bold;
	border:none;
}





.blog-post-view .postTitle h2 {
	 color: #FF4C00;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
	text-align:center;
	margin-bottom:5px;
}
.blog-post-view .postTitle h3 {
	 border-bottom: 1px dashed #DCDDDD;
    font-size: 12px;
    margin-bottom: 15px;
    padding: 0 0 10px;
    text-align: center;
}
.commentWrapper {
	padding-bottom: 15px;
}
.commentContent {
	padding-bottom: 0px;
}
.commentDetails  {
	margin-bottom:5px;
	padding: 0px;
}
.commentDetails  h4.username{
	display:inline;
}

.postError {
	font-size: 16px;
}

.tags{
	font-weight:bold;
	padding-bottom: 10px;
}
.tags UL{
	display:inline;
}
.tags UL LI{
font-weight:normal;
	display:inline;
	padding-right:6px;
}


.tags h4 {
font-size:12px;
font-weight:bold;
}


.block-blog .menu-tags UL LI{
	display:inline;
	padding:2px;
	margin-left:10px;
}
.block-blog .menu-recent UL LI{
	margin-left:10px;
}

.tagcloud{
	/* text-align:center; */ 
}
.tag-count-1{
	font-size:1em;
}
.tag-count-2{
	font-size:1.2em;
}
.tag-count-3{
	font-size:1.4em;
}
.tag-count-4{
	font-size:1.6em;
}
.tag-count-5{
	font-size:1.8em;
}
.tag-count-6{
	font-size:2em;
}
.tag-count-7{
	font-size:2em;
}
.tag-count-8{
	font-size:2em;
}
.tag-count-9{
	font-size:2em;
}
.tag-count-10{
	font-size:2em;
}

.block-blog .head h4{
padding-left: 20px;
}

.block-blog .block-title strong {
background-image:url(../images/icon_blog.png);
background-repeat:no-repeat;
padding-left:21px;
text-align:left;
}

.postWrapper .poster{
	display:inline;
}
.input-box.aw-blog-comment-area{width:100%;}

.widget-latest li{font-size:12px;padding:5px 10px;}

A.awblog_current_comment { text-decoration:none!important; font-weight: bold!important; }