.b-pad {
    padding: 0 0 0 6px;

    min-height: 500px;

}

.ls-chat-btn {
    width: 100%;
    text-align: left;
    margin: 3px 0 3px 0;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.progModal {
    display: none;
    width: 1000px;
    height: 500px;
    background: #fff;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    margin: 10px 0 0 0;
    position: relative;
    text-align: center;

}

.loadingText {
    margin: 50px 0 0 0;
    text-align: center;
    color: #666;
}

/* --- Chat Window --- */
.chatWindow {
    position: relative;
    border: 1px solid #ccc;
}

.chatoutput {
    margin: 1px 0 20px 0;
    overflow-y: auto;
    overflow-x: hidden;

    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    min-height: 480px;
    max-height: 480px;
    padding: 5px;
}

#chatouptutx li {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;

    padding: 5px;
}

.assigned {
    color: #555;
    font-size: 11px;
    float: right;
}

.unassigned {
    color: #000;
    font-size: 11px;
    float: right;
}

.newMessage {
    color: #000;
    font-size: 11px;
    float: right;
}

#chatDisplay li:last-child {
    border-bottom: none;
}

.odd {
    background: #F5FCFC;
}

#messageNotification {
    background: #63b6db; /* Old browsers */
    background: -moz-linear-gradient(top, #63b6db 0%, #309dcf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63b6db), color-stop(100%, #309dcf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #63b6db 0%, #309dcf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #63b6db 0%, #309dcf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #63b6db 0%, #309dcf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #63b6db 0%, #309dcf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#63b6db', endColorstr = '#309dcf', GradientType = 0); /* IE6-9 */

    color: #fff;
    font-size: 20px;
    padding: 10px 0 5px 10px;
}

#messageNotification small {
    color: #efefef;
    font-size: 12px;
    margin: 0 0 0 10px;
    cursor: pointer;
}

#operatorChatContainer {
    height: 607px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 0 10px 0;
}

#userPermissionTable th, #userPermissionTable td {
    text-align: center !important;
}

#userPermissionTable th {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#displayContainer {
    position: relative;
}

#typingStatus {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background: #eee;
    border-top: 1px solid #ccc;
}

#typingStatus p {
    margin: 3px 0 0 10px;
    color: #aaa;
    font-style: oblique;
}

/* web kit specific */

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0);
}

.bg {

    height: 1000px;

    padding: 10px;
    border-right: 1px solid #ccc;
}

#chatQueueContainer .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f6f8f9', endColorstr = '#f5f7f9', GradientType = 0); /* IE6-9 */

}

.tab-pane-taller {
    min-height: 600px;;
}

.transferMessageListItem {
    padding: 5px 10px 5px 10px;
    width: 338px;
    white-space: normal;
    word-wrap: break-word;
}

.transferMessageListItem p {
    width: 300px;
    vertical-align: bottom;
}

.wysywigContainer {
    width: 99%;
    position: relative;
}

.wysywigLeft {
    float: left;
    width: 30%;
    height: 100%;
}

.wysywigRight {
    float: right;
    width: 60%;
    height: 100%;
}

.statSlider {
    background: #eaeaea;
}

.ui-widget-header {
    background: #A1CCE9;
}
