<?php

    $magicToolboxHelper = Mage::helper('magiczoomplus/settings');
    if($magicToolboxHelper->isModuleOutputEnabled()) {
        //$moduleName = $this->getRequest()->getModuleName();       //catalog   review  checkout    catalog     cms     catalogsearch   catalogsearch   wishlist
        //$this->getRequest()->getRouteName()                       //catalog   review  checkout    catalog     cms     catalogsearch   catalogsearch   wishlist
        $controllerName = $this->getRequest()->getControllerName(); //product   product cart        category    index   result          advanced        index
        $actionName = $this->getRequest()->getActionName();         //view      list    configure   view        index   index           result          configure

        $productPage = false;
        if(in_array($controllerName, array('product', 'cart'))) {
            $page = 'product';
            if($actionName == 'view') {
                $productPage = true;
            }
        } else if($controllerName == 'index' && ($actionName == 'configure' || $actionName == 'view')) {
            $page = 'product';
            if($actionName != 'view') {
                //NOTE: if we need this for 'configure' action !?
                $productPage = true;
            }
        } else {
            $page = 'category';
        }

        $tool = $magicToolboxHelper->loadTool($page);
        $force = $tool->params->checkValue('include-headers-on-all-pages', 'Yes');

        $magic360ClassName = Mage::registry('magic360ClassName');
        if($magic360ClassName && !$force) {
            return;
        }

        if($force || !$tool->params->checkValue('use-effect-on-'.$page.'-page', 'No')) {
            echo $tool->headers(str_replace('/magiczoomplus.js', '', $this->getSkinUrl('js/magiczoomplus.js')), str_replace('/magiczoomplus.css', '', $this->getSkinUrl('css/magiczoomplus.css')));
            if($tool->type == 'standard' && $tool->params->checkValue('magicscroll', 'yes')) {
                $scroll = $magicToolboxHelper->loadScroll($page);
                echo $scroll->headers(str_replace('/magiczoomplus.js', '', $this->getSkinUrl('js/magiczoomplus.js')), str_replace('/magiczoomplus.css', '', $this->getSkinUrl('css/magiczoomplus.css')));
            }
            if($productPage) {
?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/magictoolbox_utils.js'); ?>"></script>
<script type="text/javascript">
    var magicToolboxOptionTitles = ['<?php echo strtolower(trim(preg_replace('/\s*,\s*/is', '\',\'', $tool->params->getValue('option-associated-with-images')))); ?>'];
    var MagicToolbox_click = '<?php echo strtolower($tool->params->getValue('selectors-change')); ?>';
    $mjs(window).je1('load', function() {
        MagicToolboxPrepareOptions();
    });
</script>
<?php
            }
        } else {
            //fix js error in configurable.phtml
?>
<script type="text/javascript">
    function MagicToolboxChangeOptionConfigurable(element, optionTitle) {
        return;
    }
</script>
<?php
        }
    }
?>
