<?php

/**
 * Magictoolbox product list template for Magento store.
 * Allow use MagicTools on product list page.
 * @mail support@magictoolbox.com
 */

$output_helper = $this->helper('catalog/output');

foreach($_productCollection as $__product) {

    $id = $__product->getId();
    $_product = Mage::getModel('catalog/product')->load($id);
    $_image_file = $_product->getImage();

    if($_image_file && $_image_file != 'no_selection') {
        $title = $this->htmlEscape($_product->getName());
        //$description = $this->htmlEscape($_product->getDescription());
        $description = $this->htmlEscape($output_helper->productAttribute($_product, $_product->getDescription(), 'description'));
        //$shortDescription = $this->htmlEscape($_product->getShortDescription());
        $shortDescription = $this->htmlEscape($output_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description'));

        $_small_image_file = $_product->getSmall_image();
        $img = $this->helper('catalog/image')->init($_product, 'image', $_small_image_file)->__toString();
        list($w, $h) = $magicToolboxHelper->magicToolboxGetSizes('category-thumb', $this->helper('catalog/image')->getOriginalSizeArray());
        $thumb = $this->helper('catalog/image')->init($_product, 'small_image', $_small_image_file)->resize($w, $h)->__toString();

        if($tool->params->checkValue('link-to-product-page', 'Yes')) {
            //NOTE: get URL from $__product (not $_product) object
            $link = $__product->getProductUrl();
        } else {
            $link = '';
        }
        if($tool->params->checkValue('disable-expand', 'Yes')) {
            if($tool->params->checkValue('drag-mode', 'Yes')) { //onclick only if drag mode is disabled
                $link = '';
            }
        }

        $html = $tool->template(compact("id", "title", "description", "shortDescription", "img", "thumb", "link"));

        if($tool->params->checkValue('show-selectors-on-category-page', 'Yes')) {
            $gallery = Mage::getModel('catalog/product')->load($id)->getMediaGalleryImages();
            $html .= '<div class="MagicToolboxSelectorsContainer">';
            foreach($gallery  as $_image) {
                $_image_file = $_image->getFile();
                $_image_path  = $_image->getPath();
                list($w, $h) = $magicToolboxHelper->magicToolboxGetSizes('category-thumb', getimagesize($_image_path));
                $medium = $this->helper('catalog/image')->init($_product, 'small_image', $_image_file)->resize($w, $h)->__toString();
                list($w, $h) = $magicToolboxHelper->magicToolboxGetSizes('category-selector', getimagesize($_image_path));
                $thumb = $this->helper('catalog/image')->init($_product, 'thumbnail', $_image_file)->resize($w, $h)->__toString();
                $img = $this->helper('catalog/image')->init($_product, 'image', $_image_file)->__toString();
                $title = $this->htmlEscape($_image->getLabel());
                $a = $tool->subTemplate(compact("id", "img", "thumb", "medium", "title"));
                $html .= $a;
            }
            $html .= '</div>';
        }

        $html = '<div class="MagicToolboxContainer">' . $html . '</div>';
        //NOTE: get URL from $__product (not $_product) object
        $pattern = '<a[^>]+href=\"' . preg_quote($__product->getProductUrl(), '/') . '\"[^>]*>\s*<img[^>]+\/>\s*<\/a>';
        $contents_new = preg_replace('/' . $pattern . '/is', $html, $contents);
        if($contents_new == $contents) {
            $pattern = '<a[^>]+>\s*<img[^>]+?src="[^"]*?'.preg_quote($_small_image_file, '/').'"[^>]*>\s*<\/a>';
            $contents_new = preg_replace('/'.$pattern.'/is', $html, $contents);
        }
        $contents = $contents_new;
    }
}

?>
