<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<script>
    !function(d,s,id) {
        var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)) {
            js=d.createElement(s);
            js.id=id;
            js.src="//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);}}
    (document,"script","twitter-wjs");
</script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
          appId  : <?php echo Mage::getStoreConfig('socialsuite/general/appid'); ?>,
          cookie : true,
          status : true,
          oauth  : true,
          xfbml  : true
        });
    };

    (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        var locale = '<?php echo Mage::getStoreConfig('socialsuite/general/lang') ?>';
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/" + locale + "/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));
</script>