<?php if (Mage::getStoreConfig('firecheckout/general/enabled')) : ?>
    <script type="text/javascript">
        function initSocialSuite(){
            var Options = new SocialSuite({
                'google'        : '<?php echo Mage::getStoreConfig('socialsuite/google_login/enabled') ?>',
                'facebook'      : '<?php echo Mage::getStoreConfig('socialsuite/facebook_login/enabled') ?>',
                'googleFire'    : '<?php echo Mage::getStoreConfig('socialsuite/google_login/firecheckout') ?>',
                'facebookFire'  : '<?php echo Mage::getStoreConfig('socialsuite/facebook_login/firecheckout') ?>',
                'googleImage'   : '<?php echo $this->getGoogleImage() ?>',
                'facebookImage' : '<?php echo $this->getFacebookImage() ?>',
                'googleUrl'     : '<?php echo $this->getGoogleLoginUrl() ?>',
                'facebookUrl'   : '<?php echo $this->getFacebookLoginUrl() ?>',
                'loginText'     : '<?php echo '<span class="socialsuite-firecheckout">' . Mage::helper('socialsuite')->__('Sign in with') . '</span>' ?>'
            });
        }

        if (Prototype.Browser.IE) {
            Event.observe(window, 'load', function(){ //KB927917 fix
                initSocialSuite();
            });
        } else {
            document.observe("dom:loaded", function(){
                initSocialSuite();
            });
        }
    </script>
<?php endif; ?>