<?php

/**
 * @copyright  Copyright (c) 2010 Capacity Web Solutions Pvt. Ltd  (http://www.capacitywebsolutions.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>


<div id="about-copy">
	<h1>Thank You.</h1>
	<p>Thank you for contacting us. A company representative will contact you with more information within two business days.</p>
</div>