/* Minification failed. Returning unminified contents.
(4516,5): run-time error CSS1062: Expected semicolon or closing curly-brace, found '!important'
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    outline: 0;
}

/*ul {
    list-style: none;
}*/

.content li {
    padding-bottom: 5px;
}

blockquote, q {
    quotes: none;
}


blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    font-size: 14px;
    color: #333;
    font-family: 'Helvetica Neue', Arial, Sans-serif;
    margin: 0 7px;
    -webkit-font-smoothing: antialiased;
}

select, input {
    font-family: 'Helvetica Neue', Arial, Sans-serif;
}

textarea {
    font-family: 'Helvetica Neue', Arial, Sans-serif;
    font-size: 14px;
}

td {
    font-size: 14px;
}

small {
    font-size: 12px;
}

h1 {
    margin-bottom: 8px;
}

h3 {
    font-weight: bold;
    font-size: 12pt;
}

a:visited {
    color: #800080;
}

a {
    text-decoration: none;
    color: #06c;
}

a:hover, a:focus {
    color: #0397D3;
    text-decoration: underline;
}

.never-visited a:visited {
    color: #06c;
}

.never-visited a:hover, .never-visited a:focus {
    color: #0397D3;
}

.no-underline a:visited, .no-underline a, .no-underline a:hover, .no-underline a:focus {
    text-decoration: none;
}

.no-underline .hover-underline:hover, .no-underline .hover-underline:focus {
    text-decoration: underline;
}

.never-visited:visited {
    color: #06c;
}

.never-visited:hover, .never-visited:focus {
    color: #0397D3;
}

.no-underline:visited, .no-underline, .no-underline:hover, .no-underline:focus {
    text-decoration: none;
}

.inactive:visited, .inactive, .inactive:hover, .inactive:focus {
    color: #333;
    text-decoration: none;
}

.disabled:visited, .disabled, .disabled:hover, .disabled:focus {
    color: #999;
    text-decoration: none;
}

.buy-now:visited, .buy-now, .buy-now:hover, .buy-now:focus {
    color: #c60;
    text-decoration: none;
}

.img:visited, .img, .img:hover, .img:focus {
    text-decoration: none;
}

.sprite-button:visited, .sprite-button, .sprite-button:hover, .sprite-button:focus {
    border-bottom: 0;
    text-decoration: none;
}

.helptitle {
    font-size: 13pt;
    font-weight: bold;
    color: #c60;
    margin-top: 10px;
}

.help {
    font-size: 14px;
    font-weight: bold;
}

/*
.fairfax-nav {
min-width: 980px;
font-size: 12px;
color: #333;
background: #F7F7F7;
border-bottom: solid 1px #ccc;
font-weight: bold;
height: 2.2em;
text-align: left;
white-space: nowrap;
}

.fairfax-nav a:visited {
color: #06c;
}

.fairfax-nav a, .fairfax-nav span {
border-right: 1px solid #ccc;
display: block;
float: left;
margin-top: 5px;
padding: 0 12px;
text-decoration: none;
border-bottom: 0;
}


.fairfax-nav a:hover, .fairfax-nav a:focus {
color: #0397D3;
text-decoration: underline;
}

.fairfax-nav .last {
border-right: 0;
}
*/
.tabs a, .tabs span {
    margin: -3px 8px 0;
    display: block;
}

.tabs a:visited, .tabs a, .tabs span {
    color: #06c;
}

.tabs a:hover, .tabs a:focus {
    color: #0397D3;
}

.QLContainer {
    width: 90%;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
}

.QLContainer td {
    font-size: 12px;
}

.QLHeader1 {
    background: #f90 url(/Images/side_cnr_l.gif) no-repeat top left;
    font-weight: bold;
    color: #fff;
}

.QLHeader2 {
    background: url(/Images/side_cnr_r.gif) no-repeat top right;
}

.QLHeader2 img {
    margin: 3px 15px 3px 10px;
    vertical-align: middle;
}

.QLBody {
    background: #ffeeab;
    border: 2px solid #f90;
}

.QLInnerBody {
    width: 100%;
    text-align: left;
}

.QLFooter {
    margin-top: -9px;
    background: url(/Images/side_cnr_br.gif) no-repeat bottom right;
}

.shipping-table, .shipping-table tr td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

body {
    margin: 0;
    padding: 0;
}

img {
    border: 0 none;
}

.sidebar-column a img {
    vertical-align: middle;
}

.region-chooser-close-button {
    float: left;
    display: inline;
    height: 17px;
    width: 18px;
    margin: 10px;
    background: url(/Images/buttons/change-region_17px_open-icon_v1.png) 0 0;
    padding: 0;
    text-indent: 9999px;
}

.region-chooser-close-button:hover, .region-chooser-close-button:focus {
    background-position: 18px -17px;
}

.region-chooser-close-button:active {
    background-position: 18px -34px;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
}

h1 img {
    vertical-align: middle;
}

.HeaderTabOn {
    background: url(/Images/3/Common/bg_on.gif);
}

.HeaderTabOff {
    background: url(/Images/3/Common/bg_off.gif);
}

.Overlay {
    position: absolute;
    left: 40px;
    top: -3px;
}

.login-greeting {
    border: 1px solid #fc0;
    margin: 5px 4px 0;
    padding: 5px;
}

.time-bar {
    padding-top: 5px;
    text-align: right;
    font-size: 1em;
    margin-right: 10px;
}

.checkLabel {
    font-size: 7pt;
}

.featured-title {
    background: url(/Images/3/Common/bar.gif) top right no-repeat;
    background-color: #fff0B2;
    padding: 5px 5px 5px 10px;
    margin-top: 25px;
    border-bottom: 1px solid #fc0;
    font-weight: bold;
}

.landing {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
}

.moo {
    margin: 10px 0;
    border-bottom: 1px dashed #ccc;
    padding: 0;
    width: 50%;
    vertical-align: middle !important;
}

.timfm {
    margin-top: 5px;
    border: 0;
    color: #333;
    font-size: 12px;
    font-weight: bold;
}

.fmselling {
    float: left;
    padding-left: 50px;
    text-align: center;
    clear: right;
}

.services td strong {
    padding-right: 5px;
}

.services td {
    vertical-align: middle;
}

.list-a-service-button {
    display: block;
    height: 31px;
    width: 207px;
    background-image: url(/Images/buttons/services_list-service_31px_v1.png);
    margin-bottom: 8px;
}

.ads {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.ads td {
    vertical-align: top;
    text-align: center;
}

.count {
    color: #666;
    font-size: 12px;
    padding-left: 5px;
}

.itemsContainer {
    width: 100%;
    margin-left: 10px;
    max-width: 666px;
}

.itemsContainer td {
    width: 33%;
    vertical-align: top;
    line-height: 1.5em;
}

.region-chooser {
    z-index: 99;
    width: 266px;
    height: 273px;
    position: absolute;
}

.region-chooserIFrame {
    width: 256px;
    height: 264px;
    position: absolute;
}

.region-chooserCloseButton img {
    border: 0;
    margin: 10px;
    float: left;
}

.region-chooser strong {
    line-height: 2.2em;
}

.region-chooser ul {
    font-size: 12px;
    float: left;
    width: 105px;
    margin: 0;
    padding: 0;
}

.region-chooser ul li {
    display: inline;
    line-height: 14px;
}

.region-chooser ul li a {
    float: left;
    width: 100px;
    margin-top: 2px;
    padding: 1px 3px 1px 1px;
    z-index: 400;
    line-height: 14px;
}

.location-chooser {
    z-index: 99;
    width: 266px;
    height: 250px;
    position: absolute;
}

.location-chooser-iframe {
    width: 256px;
    height: 225px;
    position: absolute;
}

.location-chooser-close-button img {
    border: 0;
    margin-left: 0;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-right: 15px;
    float: right;
}

.location-chooser strong {
    line-height: 2.2em;
}

.location-chooser ul {
    font-size: 12px;
    float: left;
    margin: 0;
    padding: 0;
}

.location-chooser ul li {
    display: inline;
    line-height: 14px;
}

.location-chooser ul li a {
    display: block;
    width: 100px;
    margin-top: 3px;
    padding: 1px 3px 1px 1px;
    z-index: 400;
}

.landing-header {
    text-indent: -5000px;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 28px;
    margin: 10px 0;
}

.motors-heading {
    background-image: url(/Images/motors/landing/motors_landing.png);
}

.motors-heading-motorbikes {
    height: 48px;
    background-image: url(/Images/motors/landing/motors_motorbikes.png);
    margin-top: 5px;
}

.motors-heading-new-cars {
    height: 40px;
    background-image: url(/Images/motors/landing/motors_new-cars.png);
    margin-top: 5px;
}

.motors-heading-used-cars {
    height: 40px;
    background-image: url(/Images/motors/landing/motors_used-cars.png);
    margin-top: 5px;
}

.motors-heading-boats {
    height: 48px;
    background-image: url(/Images/motors/landing/motors_boats-and-marine.png);
    margin-top: 5px;
}

.property-heading-retirementvillage {
    background-image: url(/Images/property/landing/property_retirement.png);
}

.property-heading-rural {
    background-image: url(/Images/property/landing/property_rural.png);
}

.property-heading-lifestyle {
    background-image: url(/Images/property/landing/property_lifestyle.png);
}

.property-heading-openhomes {
    background-image: url(/Images/property/landing/property_open-homes.png);
}

.property-heading-commercial {
    background-image: url(/Images/property/landing/property_commercial.png);
}

.property-heading-residential {
    height: 37px;
    background-image: url(/Images/property/landing/property_residential.png);
    margin-top: 5px;
}

.property-heading-private-seller {
    height: 42px;
    background-image: url(/Images/property/propertyguide/Guide_to_selling_your_house.png);
}

.property-heading-guide-to-buy {
    height: 42px;
    background-image: url(/Images/property/propertyguide/Guide_to_buying_a_house.png);
}

.jobs-six-figures {
    background-image: url(/Images/jobs/landing/jobs_six-figure-jobs.png);
}

.searchTips {
    list-style-type: disc;
    padding-left: 0;
    margin: 10px 0 0;
}

.searchTips li {
    list-style-type: disc;
    padding-left: 0;
    margin-left: 20px;
}

.advanced-search-regions label {
    padding-top: 3px;
}

.advanced-search-regions input, .advanced-search-regions label {
    display: block;
    float: left;
}

.change-region-open {
    background-image: url(/Images/buttons/change-region_17px_open-icon_v1.png);
    display: block;
    float: left;
    height: 17px;
    margin-top: 2px;
    margin-left: 5px;
    padding: 0;
    width: 18px;
}

.dasher {
    border-top: 1px dashed #ccc;
}

.adBox {
    text-align: center !important;
}

.listings {
    width: 100%;
}

.listings .listDetails {
    margin: 0 0 5px 0;
    padding: 0 !important;
}

.listings .listDetails li {
    display: inline;
    font-weight: bold;
    font-size: 12px;
}

.listings .listDetails li span {
    padding: 0 8px;
    border-right: 1px solid #ccc;
}

.listings .listDetails .first span {
    padding-left: 0;
}

.listings .listDetails .firstandonly span {
    border: 0 !important;
    padding-left: 0;
}

.listings .listDetails .last span {
    border: 0 !important;
}

.propD {
    margin: 5px 0;
    width: 100%;
}

.propD td {
    vertical-align: top;
}

.propD .al {
    text-align: center;
    width: 150px;
}

.propD font.title {
    display: block;
}

.attDll {
    width: 100%;
}

.breadCrumbs {
    font-size: 12px;
    margin: 0;
    padding-top: 0;
    margin-bottom: 8px;
}

.attSearchResultList {
    margin: 0 0 0 10px;
}

.region-links {
    font-size: 12px;
    margin: 7px 0;
    padding: 0;
    width: 400px;
    overflow: hidden;
}

.region-links li {
    display: inline-block;
    float: left;
    padding: 0 8px 2px;
}

.region-links .first {
    border-right: 1px solid #ccc;
    padding-left: 0;
}

.region-links .reg-second {
    padding-right: 0;
}

.form {
    width: 500px;
    border: 0;
}

.labelColumn {
    vertical-align: top;
    background-color: #eee;
    padding: 5px;
}

.labelColumnError {
    vertical-align: top;
    background-color: #ff3;
}

.fieldColumn {
    width: 250px;
    vertical-align: top;
    background-color: #fec;
    padding: 5px;
}

.singleControlRow {
    background-color: #fff;
    text-align: left;
}

.singleButtonRow {
    background-color: #fff;
    text-align: center;
}

.site-stats .Heading {
    background-color: #eee;
}

.site-stats .Data {
    background-color: #ffc;
}

.filter_item {
    float: left;
    margin: 2px 0;
    display: block;
    white-space: nowrap;
}

.dot {
    padding: 0 23px;
}

.jobCardListing {
    padding: 0;
    margin-bottom: 0;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 100%;
    background-image: url(/Images/3/Jobs/dots_horizontal.gif);
    background-repeat: repeat-x;
    background-position: bottom;
}

.jobCardListingTitle {
    font-size: large;
    padding: 4px 0 7px 5px;
    float: left;
    width: 100%;
}

.BountyHunterIcon {
    display: inline;
    padding-top: 10px;
}

.jobCardListingShortSummary {
    padding-left: 5px;
    width: 100%;
    vertical-align: text-top;
}

.jobCardListingAttributes {
    padding: 5px 0 10px 5px;
    width: 100%;
    vertical-align: text-top;
    font-size: 0.85em;
}

.jobCardListingAttributeSpacer {
    color: #ccc;
}

.jobCardListingToday {
    font-weight: bold;
    color: #c00;
    white-space: nowrap;
}

.jobCardListingAttribute {
    font-weight: bold;
    white-space: nowrap;
}

.jobCardListingLogoLarge {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    vertical-align: middle;
}

.jobCardListingLogoSmall {
    float: right;
    padding-left: 20px;
    padding-right: 0;
    height: 100%;
    vertical-align: middle;
    text-align: right;
}

.listingDealerIcon {
    height: 15px;
    vertical-align: middle;
    width: 33px;
}

.icon-key {
    width: 100%;
    margin: 35px 0 0;
    text-align: center;
    font-size: 12px;
}

.icon-key .heading {
    font-weight: bold;
    line-height: 18px;
}

.icon-key .icon {
    text-indent: 0;
    margin-bottom: 0;
    display: table-cell;
    background: none;
    vertical-align: top;
    padding: 0 12px;
}

.galleryCard {
    display: block;
    overflow: hidden;
    width: 248px;
    height: 402px;
    float: left;
    border: 1px solid #ddd;
    margin-right: 5px;
    margin-bottom: 5px;
}

.galleryCard.end {
    margin-right: 0;
}

.galleryImageHolder {
    width: 235px;
    height: 176px;
    text-align: center;
    border: 1px solid #999;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
    background-color: #fff;
}

.galleryTitleHolder {
    text-align: center;
    font-size: 16px;
    margin: 5px;
}

.galleryTitleHolder .dotted {
    line-height: 22px;
}

.galleryTitleHolder img {
    vertical-align: middle;
    margin: 4px 0;
}

.gallerySubtitle {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    margin: 5px 0;
}

.galleryPriceHolder {
    width: 100%;
    text-align: center;
    margin: 12px 0 10px;
}

.galleryPriceHolder table {
    margin: auto;
}

.galleryBuyNowPrice {
    font-size: 16px;
    font-weight: bold;
    color: #c60;
}

.galleryBuyNowText {
    font-size: 12px;
    color: #c60;
}

.galleryBidPrice {
    font-size: 16px;
    font-weight: bold;
}

.galleryBidCount {
    font-size: 12px;
}

.galleryReserveIcon {
    vertical-align: top;
    padding: 0 5px;
}

.galleryClassifyCol {
    font-size: 16px;
    font-weight: bold;
}

.gallery-attributes {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 4px 0;
    padding-bottom: 10px;
    line-height: 16px;
}

.galleryLocation {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 4px 0;
}

.galleryCloseDateTime {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 4px 0;
}

#lastChanceUpgradeButton {
    margin: 3px 8px 5px 0;
    background: url(/Images/sell/button_click_upgrade.png) no-repeat;
    width: 205px;
    height: 31px;
    display: block;
}

#lastChanceUpgradeSaved {
    margin: 3px 8px 5px 0;
    background: url(/Images/sell/button_click_upgrade.png) no-repeat;
    width: 205px;
    height: 31px;
    display: block;
    background-position: 0 -62px;
}

#lastChanceUpgradeButton:hover {
    background-position: 0 -31px;
}

#lastChanceUpgradeButtonBooksCds {
    margin: 3px 8px 5px 0;
    background: url(/Images/sell/button_click_upgrade25.png) no-repeat;
    width: 205px;
    height: 31px;
    display: block;
}

#lastChanceUpgradeSavedBooksCds {
    margin: 3px 8px 5px 0;
    background: url(/Images/sell/button_click_upgrade25.png) no-repeat;
    width: 205px;
    height: 31px;
    display: block;
    background-position: 0 -62px;
}

#lastChanceUpgradeButtonBooksCds:hover {
    background-position: 0 -31px;
}

.flatmateCard {
    height: 330px;
}

.flatmateCard .galleryTitleHolder {
    font-weight: bold;
}

.flatmateCard .galleryPrice {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

.galleryFlatmateAvaliability {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}

.motorCard, .propertyCard {
    height: 440px;
    position: relative;
}

.galleryHighlight {
    border: 2px solid #fc0;
    width: 246px;
    height: 438px;
}

.motorImageHolder, .propertyImageHolder {
    width: 237px;
    height: 178px;
    text-align: center;
    border: 1px solid #000;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
    background-color: #000;
}

.gPhCH {
    width: 237px;
    height: 30px;
    text-align: left;
    border-right: 1px solid #494949;
    border-bottom: 1px solid #494949;
    border-left: 1px solid #494949;
    margin: auto;
    overflow: hidden;
    background: url(/Images/NewSearchCards/GVIcons/photoBarBG_v2.gif) repeat-x;
}

.gPhCH td {
    color: #E2E2E2;
    font-size: 12px;
}

.galleryPhotoControl {
    text-align: center;
    color: #E2E2E2;
    font-size: 12px;
    padding: 0 5px;
}

.galleryPhotoScrollLeft {
    vertical-align: middle;
    cursor: pointer;
    float: left;
}

.galleryPhotoScrollRight {
    vertical-align: middle;
    cursor: pointer;
    float: right;
}

.gPhCtC {
    padding-top: 2px;
}

.motorTitleHolder, .pTH {
    width: 237px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 5px auto;
}

.motorTitleHolder .dotted, .pTH .dotted {
    line-height: 24px;
}

.motorDealerCol {
    width: 150px;
}

.motorDealerCol img {
    margin-left: 5px;
}

.motorsOnePhotoCounter {
    padding-right: 10px;
    text-align: right;
}

.motorTitleHolder img {
    vertical-align: middle;
}

.motorPrice {
    width: 237px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.motorPrice.bid {
    margin: 0 auto;
}

.motorPrice.buynow {
    margin: 0 auto 5px auto;
}

.motorPrice.classify {
    margin: 0 auto 5px auto;
}

.motorSubtitle {
    width: 237px;
    text-align: center;
    margin: 5px auto 7px auto;
    font-size: 12px;
    font-style: italic;
}

.motorSpecs {
    width: 237px;
    text-align: center;
    margin: 4px auto;
    font-size: 12px;
}

.motorLocation {
    width: 237px;
    text-align: center;
    margin: 4px auto;
    font-size: 12px;
}

.motorCloseDate {
    width: 237px;
    text-align: center;
    margin: 4px auto;
    font-size: 12px;
}

.galleryPremiumBranding {
    display: block;
    margin: 5px auto;
}

.pAgLIC {
    width: 150px;
}

.pPSCol {
    width: 140px;
    padding-left: 10px;
}

.pOPC {
    padding-right: 10px;
    text-align: right;
}

.pPrCol {
    width: 237px;
    text-align: center;
    margin: 5px auto;
    font-size: 16px;
    font-weight: bold;
}

.pLoc {
    width: 237px;
    text-align: center;
    margin: 4px auto;
    font-size: 12px;
}

.pSize {
    width: 237px;
    text-align: center;
    margin: 4px auto;
    font-size: 12px;
}

.pArea {
    width: 237px;
    text-align: center;
    margin: 4px auto;
    font-size: 12px;
}

.pAvail {
    width: 237px;
    text-align: center;
    margin: 4px auto;
    font-size: 12px;
}

.pCDate {
    font-size: 12px;
    color: #666;
    left: 20px;
    bottom: 10px;
    position: absolute;
}

.pListingID {
    font-size: 12px;
    color: #666;
    right: 20px;
    bottom: 10px;
    position: absolute;
}

.pAgentName {
    position: absolute;
    font-size: 12px;
    color: #666;
    right: 20px;
    bottom: 30px;
    text-align: right;
}

.LVGLBar {
    border: 0;
    width: 100%;
}

.LVGLBar .left {
    width: 7px;
    background-repeat: no-repeat;
}

.LVGLBar .middle {
    background-repeat: repeat-x;
    font-size: 12px;
    vertical-align: top;
}

.LVGLBar .right {
    width: 7px;
    background-repeat: no-repeat;
}

.LVGLBar table {
    width: 100%;
    clear: both;
    padding-top: 10px;
    border: none;
    border-collapse: separate;
}

.LVGLBar td {
    font-size: 12px;
}

.General, .Services {
    background-color: #fff1B9;
}

.General .left {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/GeneralBarL.gif);
}

.GeneralActive .left {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/GeneralBarL_A.gif);
}

.General .middle {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/GeneralBarM.gif);
}

.General .right {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/GeneralBarR.gif);
}

.NoTab table {
    margin: 5px 0;
}

.stores-extra-side-bar-container {
    width: 180px;
    margin: 20px 20px 0 0;
    padding: 0;
    background-color: white;
    float: left;
}

.stores-extra-current-page {
    font-weight: normal;
    font-size: 14px;
    line-height: 177%;
    color: #333;
}

.Stores-extra-title-bar {
    background-color: #F3F3F3;
}

.stores-extra-page-body {
    margin: 20px 0 20px 0;
    overflow: hidden;
}


.Stores-extra-title-bar .left {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/StoresBarL.gif);
}

.Stores-extra-active .left {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/StoresBarL_A.gif);
}

.Stores-extra-title-bar .middle {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/StoresBarM.gif);
}

.Stores-extra-title-bar .right {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/StoresBarR.gif);
}

.Motors {
    background-color: #EEEFF3;
}

.Motors .left {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/MotorsBarL.gif);
}

.MotorsActive .left {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/MotorsBarL_A.gif);
}

.Motors .middle {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/MotorsBarM.gif);
}

.Motors .right {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/MotorsBarR.gif);
}

.Properties {
    background-color: #EDF7D2;
}

.Properties .left {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/PropertiesBarL.gif);
}

.PropertiesActive .left {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/PropertiesBarL_A.gif);
}

.Properties .middle {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/PropertiesBarM.gif);
}

.Properties .right {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/PropertiesBarR.gif);
}

.Properties .middle table {
    padding-top: 10px;
    border: none;
}

.Jobs .left {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/JobsL.gif);
}

.Jobs .middle {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/JobsM.gif);
}

.Jobs .right {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/JobsR.gif);
}

.Jobs table {
    padding: 7px 0;
}

.Jobs .left.bottom {
    background: none;
    width: 0;
    height: 0;
}

.Jobs .right.bottom {
    background: none;
    width: 0;
    height: 0;
}

.Jobs .middle.bottom {
    background: none;
    width: 0;
    height: 0;
}

.bottom {
    height: 7px;
}

.General .LeftBottom, .Services .LeftBottom {
    height: 7px;
    width: 7px;
    background-repeat: no-repeat;
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/GeneralBarL_B.gif);
}

.General .RightBottom, .Services .RightBottom {
    height: 7px;
    width: 7px;
    background-repeat: no-repeat;
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/GeneralBarR_B.gif);
}

.Motors .LeftBottom {
    height: 7px;
    width: 7px;
    background-repeat: no-repeat;
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/MotorsBarL_B.gif);
}

.Motors .RightBottom {
    height: 7px;
    width: 7px;
    background-repeat: no-repeat;
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/MotorsBarR_B.gif);
}

.Stores-extra-title-bar .LeftBottom {
    height: 7px;
    width: 7px;
    background-repeat: no-repeat;
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/StoresBarL_B.gif);
}

.Stores-extra-title-bar .RightBottom {
    height: 7px;
    width: 7px;
    background-repeat: no-repeat;
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/StoresBarR_B.gif);
}

.Properties .LeftBottom {
    height: 7px;
    width: 7px;
    background-repeat: no-repeat;
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/PropertiesBarL_B.gif);
}

.Properties .RightBottom {
    height: 7px;
    width: 7px;
    background-repeat: no-repeat;
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/PropertiesBarR_B.gif);
}

.RecentlyViewed {
    height: 33px;
}

.RecentlyViewed .middle table {
    margin-top: 8px;
}

.RecentlyViewed {
    background-color: #fff1B9;
}

.RecentlyViewed .left {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/RecentlyViewedBarM.gif);
    background-repeat: repeat-x;
}

.RecentlyViewed .middle {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/RecentlyViewedBarM.gif);
    padding-left: 5px;
}

.RecentlyViewed .right {
    background-image: url(/Images/NewSearchCards/LVGVTitleBars/RecentlyViewedBarM.gif);
    background-repeat: repeat-x;
}

.tab {
    float: left;
    text-align: right;
    font-weight: bold;
    margin: 2px 5px 0 0;
    padding: 8px 7px 7px;
}

.General .on {
    background-color: #fff8DB;
}

.Motors .on {
    background-color: #F5F7F9;
}

.Stores-extra-title-bar .on {
    background-color: #F5F7F9;
}

.Properties .on {
    background-color: #EEF7DD;
}

.hexTableLeft {
    background-color: #eee;
}

.hexTableRight {
    background-color: #fec;
}

.hexError {
    background-color: #ff3;
}

.button17:hover, .button17:focus {
    background-position: 0 -17px;
}

.button17:active {
    background-position: 0 -34px;
}

.button20:hover, .button20:focus {
    background-position: 0 -20px;
}

.button20:active {
    background-position: 0 -40px;
}

.button23:hover, .button23:focus {
    background-position: 0 -23px;
}

.button23:active {
    background-position: 0 -46px;
}

.button24:hover, .button24:focus {
    background-position: 0 -24px;
}

.button24:active {
    background-position: 0 -48px;
}

.button25:hover, .button25:focus {
    background-position: 0 -25px;
}

.button25:active {
    background-position: 0 -50px;
}

.button26:hover, .button26:focus {
    background-position: 0 -26px;
}

.button26:active {
    background-position: 0 -52px;
}

.button27:hover, .button27:focus {
    background-position: 0 -27px;
}

.button27:active {
    background-position: 0 -54px;
}

.button30:hover, .button30:focus {
    background-position: 0 -30px;
}

.button30:active {
    background-position: 0 -60px;
}

.button31:hover, .button31:focus {
    background-position: 0 -31px;
}

.button31:active {
    background-position: 0 -62px;
}

.button34:hover, .button34:focus {
    background-position: 0 -34px;
}

.button34:active {
    background-position: 0 -68px;
}

.button35:hover, .button35:focus {
    background-position: 0 -23px;
}

.button35:active {
    background-position: 0 -46px;
}

.button36:hover, .button36:focus {
    background-position: 0 -23px;
}

.button36:active {
    background-position: 0 -46px;
}

.ie8 .button17:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -33px;
}

.ie8 .button20:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -39px;
}

.ie8 .button23:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -45px;
}

.ie8 .button24:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -47px;
}

.ie8 .button25:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -49px;
}

.ie8 .button26:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -51px;
}

.ie8 .button27:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -53px;
}

.ie8 .button30:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -59px;
}

.ie8 .button31:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -61px;
}

.ie8 .button34:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -67px;
}

.ie8 .button35:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -46px;
}

.ie8 .button36:active {
    -ms-background-position-x: 1px;
    -ms-background-position-y: -46px;
}

.spriteButton, .spriteButton {
    background-color: Transparent;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    text-indent: -5000px;
    border-bottom: 0;
}

.generic-send-button {
    background-image: url(/Images/buttons/send_27px-sprites.png);
    height: 27px;
    width: 98px;
    display: block;
    border: 0;
}

.download {
    background-image: url(/Images/iphone/tm-for-iphone_download-sprites.png);
    height: 31px;
    margin-left: 5px;
    width: 127px;
    display: block;
}

.generic-authenticate-button {
    background-image: url(/Images/buttons/authenticate-buttton.png);
    height: 31px;
    margin-right: 5px;
    width: 217px;
    display: block;
}

.q-email-button {
    display: inline-block;
    vertical-align: top;
    width: 56px;
    height: 20px;
    margin: 0 18px 0 23px;
    background-image: url(/Images/buttons/email_button-20px.png);
}

.browse-region-link {
    background-image: url(/Images/buttons/change-region_17px_v1.png);
    height: 17px;
    width: 93px;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}

.attribute-search .change-region-open {
    float: left;
    display: block;
    height: 17px;
    width: 18px;
    background-image: url(/Images/buttons/change-region_17px_open-icon_v1.png);
    padding: 0;
}

.attribute-search .search-button {
    display: block;
    height: 27px;
    width: 94px;
    margin-top: 3px;
}

.attribute-search .propertySearchButton {
    background-image: url(/Images/buttons/property_sidebar-search_27px-sprites.png);
}

.attribute-search .jobsSearchButton {
    background-image: url(/Images/buttons/jobs_sidebar-search_27px-sprites.png);
}

.attribute-search .motorsSearchButton {
    background-image: url(/Images/buttons/motors_sidebar-search_27px-sprites.png);
}

.attribute-search .dvdSearchButton {
    background-image: url(/Images/buttons/sidebar_search-main_27px_v1.png);
}

.attribute-search .standardSearchButton {
    background-image: url(/Images/buttons/sidebar_search-main_27px_v1.png);
}

.SaveFavourite {
    clear: left;
    margin-top: 10px;
}

.favButtonSavedContainer a, .favButtonContainer a {
    display: block;
    height: 24px;
    margin: 0;
    text-align: left;
}

.favButtonSavedContainer a, .newFavButtonContainer a {
    margin: 0;
    text-align: center;
    width: 116px;
}

.favButtonContainer a {
    cursor: pointer;
    background-position: 0 0;
}

.favButtonSavedContainer a {
    cursor: pointer;
    background-position: 0 -96px;
}

.favButtonContainer .category {
    background-image: url(/Images/buttons/save-category_24px_v1.png);
    background-repeat: no-repeat;
    width: 148px;
}

.favButtonContainer .seller {
    background-image: url(/Images/buttons/save-seller_24px_v1.png);
    width: 126px;
}

.favButtonContainer .subscribe {
    background-image: url(/Images/buttons/save-subscribe_24px_v1.png);
    width: 106px;
}

.favButtonContainer .advertiser {
    background-image: url(/Images/buttons/save-advertiser_24px_v1.png);
    width: 154px;
}

.favButtonContainer .search {
    background-image: url(/Images/buttons/save-search_24px_v1.png);
    width: 135px;
}

.favButtonContainer a:hover {
    background-position: 0 -24px;
}

.favButtonContainer a:active {
    background-position: 0 -48px;
}

.favButtonContainer .saving {
    background-position: 0 -72px;
    cursor: default;
}

.favButtonContainer .saved {
    background-position: 0 -96px;
    cursor: default;
}

.favButtonContainer .saved:hover {
    background-position: 0 -96px;
    cursor: default;
}

.favButtonContainer .saved:active {
    background-position: 0 -96px;
    cursor: default;
}

.favButtonContainer .saved-with-unsave {
    background-position: 0 -96px;
    cursor: default;
}

.favButtonContainer .saved-with-unsave:hover {
    background-position: 0 -96px;
    cursor: default;
}

.favButtonContainer .saved-with-unsave:active {
    background-position: 0 -120px;
    cursor: default;
}

.favButtonSavedContainer {
    line-height: 1px;
}

.save-message { 
    font-size: 12px; 
} 
.save-message a:visited { 
    color: #06c; 
} 
.save-message a:hover { 
    color: #0397D3; 
}

.sell-a-dvd-button {
    display: block;
    height: 31px;
    width: 146px;
    background-image: url(/Images/buttons/movies-and-tv_sell-dvd_31px_v1.png);
    margin: 0 auto;
}

.SellCatalogueDVDButton {
    display: block;
    height: 23px;
    width: 92px;
    background-image: url(/Images/buttons/movies-and-tv_sell-dvd_23px-sprites.png);
    margin: 0 auto;
}

.SellCatalogueBlurayButton {
    display: block;
    height: 23px;
    width: 92px;
    background-image: url(/Images/buttons/movies-and-tv_sell-blu-ray_23px-sprites.png);
    margin: 0 auto;
}

.find-catalogue-item-button {
    height: 23px;
    width: 62px;
    background-image: url(/Images/buttons/movies-and-tv_sell-search_23px-sprites.png);
    margin: 0 auto;
}

.list-a-job-button {
    display: block;
    height: 31px;
    width: 167px;
    background-image: url(/Images/buttons/jobs_list-job_31px_v1.png);
    margin: 0 auto;
}

.list-a-service-button {
    display: block;
    height: 31px;
    width: 207px;
    background-image: url(/Images/buttons/services_list-service_31px_v1.png);
    margin-bottom: 8px;
}

.button-sell-my-house {
    margin-top: 10px;
    display: block;
    height: 31px;
    width: 207px;
    background-image: url(/Images/buttons/property_list-property_31px_v1.png);
}

.sell-my-vehicle-button {
    display: block;
    height: 31px;
    width: 207px;
    background-image: url(/Images/buttons/motors_sell-vehicle_31px_v1.png);
    margin: 0 auto;
}

.sell-my-bike-button {
    display: block;
    height: 31px;
    width: 207px;
    background-image: url(/Images/buttons/motors_sell-bike_31px_v1.png);
    margin: 0 auto;
}

.sell-my-boat-button {
    display: block;
    height: 31px;
    width: 207px;
    background-image: url(/Images/buttons/motors_sell-boat_31px_v1.png);
    margin: 0 auto;
}

.fm-button {
    width: 210px;
}

.find-a-flat-button {
    display: block;
    height: 31px;
    width: 207px;
    background-image: url(/Images/buttons/flatmates_find-flatmate_31px_v1.png);
    margin: 0 auto;
}

.pay-by-credit-card-button {
    display: block;
    height: 31px;
    width: 185px;
    background-image: url(/Images/buttons/post-sale_pay-by-credit-card_31px_v1.png);
    margin: 0 auto;
}

.choose-delivery-address-button {
    display: block;
    height: 31px;
    width: 239px;
    background-image: url(/Images/buttons/post-sale_choose-delivery-address_31px_v1.png);
    margin: 0 auto;
}

.travel-bug-payment-link {
    display: block;
    height: 31px;
    width: 297px;
    background-image: url(/Images/buttons/travel_pay-by-credit-card-travelbug_31px-sprites.png);
    margin: 0 auto;
}

.test-drive-link {
    display: block;
    height: 27px;
    width: 196px;
    background-image: url(/Images/buttons/new-cars_book-test-drive_27px_v1.png);
    margin: 5px 0 0;
    float: left;
}

.dealer-location-link {
    display: block;
    height: 27px;
    width: 196px;
    background-image: url(/Images/buttons/new-cars_view-dealer-locations_27px_v1.png);
    margin: 5px 0 0;
    float: right;
}

.bid-buy-now-buttons {
    height: 27px;
    margin: 20px 0 20px 190px;
}

.bidBuyConfirm {
    width: 98px;
    height: 27px;
    background-image: url(/Images/buttons/listing-page_confirm_27px_v1.png);
}

.bid-buy-cancel {
    display: block;
    width: 98px;
    height: 27px;
    background-image: url(/Images/buttons/listing-page_cancel_27px_v1.png);
    float: left;
    margin-right: 5px;
}

.credit-your-account-button {
    display: block;
    width: 180px;
    height: 27px;
    background-image: url(/Images/buttons/general_credit-your-account_27px_v1.png);
    margin: 0;
}

.add-photo-button {
    display: block;
    width: 145px;
    height: 31px;
    margin: 0 auto;
    background-image: url(/Images/buttons/sell_add-photos_yellow_31px_v1.png);
}

.add-another-photo-button {
    display: block;
    width: 206px;
    height: 31px;
    background-image: url(/Images/buttons/sell_add-another-photo_yellow_31px_v1.png);
}

.clearLeft {
    clear: left;
}

.IeSpacerImage {
    display: none;
}

.mbHeading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 0;
}

.mbHeading img {
    vertical-align: middle;
}

.mbHeading small {
    display: block;
    float: right;
    font-size: 0.75em;
    font-weight: normal;
}

.mbThread td {
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    padding-top: 7px;
}

.mbMessage {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.mbMessageTopRow td {
    padding-top: 17px;
}

.ac_results {
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #aaa;
    font-size: 14px;
    color: #333;
}

.ac_results ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.ac_results ul li {
    list-style-type: none;
    display: block;
    padding: 0 5px 0 3px;
    margin: 0;
    cursor: default;
    display: block;
    line-height: 20px;
    overflow: hidden;
}

.ac_over {
    background-color: #39f;
    color: #fff;
}


.Widget {
    background-image: url(/Images/Common/sprites_non-repeating_v19.png);
    background-repeat: no-repeat;
}

.Background {
    background-image: url(/Images/Common/sprites_repeating_v5.png);
    background-repeat: repeat-x;
}

.VerticalBackground {
    background-image: url(/Images/Common/sprites_repeating_v_v3.png);
    background-repeat: repeat-y;
}

.site-heading {
    position: relative;
    height: 100px;
    font-size: 14px;
    line-height: 130%;
    color: #333;
    margin: 0;
}

.SmallScreen .site-heading {
    margin: 0 10px;
}

/*.site-navigation {
margin: 0;
}*/

.SmallScreen .site-navigation {
    margin: 0 10px;
}



.heading-ad-space {
    position: absolute;
    top: 10px;
    right: 0;
    width: 468px;
    height: 60px;
}

.AdvertisementText {
    font-size: 12px;
    color: #ccc;
    text-align: right;
    line-height: 100%;
    margin-bottom: 1px;
    display: block;
}

.AdvertisementText.Centered {
    text-align: center;
}

.AdvertisementText .Widget {
    background-position: -40px -230px;
    width: 70px;
    height: 9px;
}

.site-nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 38px;
    border-top: 1px solid #A4C0BC;
    border-bottom: 1px solid #A4C0BC;
    background-color: #EDFBFB;
    background-position: 0 0;
    background-repeat: repeat-x;
    position: relative;
}

.site-nav-links li {
    display: inline;
    height: 38px;
    float: left;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    border-right: 1px solid #C8DDDB;
    color: #333;
    line-height: 18px;
    padding-bottom: 0;
    margin-left: 0;
}

.site-nav-links .Vertical {
    float: right;
    font-size: 14px;
    font-weight: normal;
    border-right: none;
    height: auto;
    margin: 10px 10px 0;
}

.site-nav-links li a {
    display: block;
    height: 38px;
    padding-left: 10px;
    color: #06c;
    float: left;
    overflow: hidden;
    cursor: pointer;
    background-position: -20px 0;
}

.site-nav-links .Vertical a {
    height: auto;
}

.site-nav-links .Vertical a:hover, .site-nav-links .Vertical a:focus {
    text-decoration: underline;
}

.site-nav-links li a:hover, .site-nav-links li a:visited, .site-nav-links li a:focus {
    color: #06c;
}

.site-nav-links li span {
    display: block;
    padding-right: 10px;
    height: 38px;
    z-index: 1;
    float: left;
    background-position: right 0;
}

.site-nav-links li span strong {
    display: block;
    padding-top: 10px;
    float: left;
    font-weight: 700;
}

.site-nav-links .SelectedTab {
    background-color: #DAF2F6;
    background-position: -20px -60px;
}

.site-nav-links .SelectedTab a {
    background-color: #DAF2F6;
    background-position: -20px -60px;
}

.site-nav-links .SelectedTab span {
    display: inline;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 0;
    background-position: right -60px;
    background-repeat: no-repeat;
    height: 38px;
}

.site-nav-links .SelectedTab a span {
    margin-left: 0;
}

.site-nav-links li a:hover, .site-nav-links .PermanentHover a, .site-nav-links li a:active, .site-nav-links .PermanentHover a:active, .site-nav-links li a:focus {
    background-position: -20px -120px;
    background-repeat: no-repeat;
    text-decoration: none;
    background-color: #C6ECF5;
}

.site-nav-links li a:hover span, .site-nav-links .PermanentHover a span, .site-nav-links .PermanentHover a:active span, .site-nav-links li a:focus span {
    background-position: right -120px;
    background-repeat: no-repeat;
}

.site-nav-links li a:active, .site-nav-links li .active {
    background-position: -20px -180px;
}

.site-nav-links li a:active span, .site-nav-links li .active span {
    background-position: right -180px;
}

.site-nav-links .Vertical a {
    display: inline;
    margin-top: 0;
    padding: 0;
}

.site-nav-links .Vertical a:hover, .site-nav-links .Vertical a:focus {
    color: #0397D3;
    background: none;
}

.site-nav-links .BrowseLinkItem a:hover em.browse-drop-down, .site-nav-links .BrowseLinkItem:hover .browse-drop-down {
    background-position: -360px -77px;
}

.site-nav-links li span .browse-drop-down {
    display: block;
    margin: 11px -5px 0 3px;
    padding: 0;
    float: left;
    width: 18px;
    height: 17px;
    background-position: -360px -60px;
    cursor: pointer;
}

.site-nav-links .BrowseLinkItem a:hover span .browse-drop-down:hover, .site-nav-links .BrowseLinkItem:hover span .browse-drop-down:hover, .site-nav-links li span .browse-drop-down:hover {
    background-position: -360px -94px;
}

.site-nav-links .PermanentHover a:hover span .browse-drop-down:hover, .site-nav-links .PermanentHover a:hover span .browse-drop-down, .site-nav-links .PermanentHover span .browse-drop-down, .site-nav-links .PermanentHover:hover span .browse-drop-down, .site-nav-links .PermanentHover:hover span .browse-drop-down:hover {
    background-position: -360px -128px !important;
}

.site-nav-links li span .browse-drop-down:active, .site-nav-links .BrowseLinkItem a:hover span .browse-drop-down:active, .site-nav-links .PermanentHover span .browse-drop-down:active, .site-navigation .site-nav-links .PermanentHover span em.browse-drop-down.active, .site-nav-links .PermanentHover span:hover .browse-drop-down:active {
    background-position: -360px -111px !important;
}

.site-nav-links li .home-link-left {
    position: absolute;
    top: -1px;
    left: 0;
    width: 10px;
    height: 39px;
    background-image: inherit;
    background-position: 0 0;
}

.site-nav-links .SelectedTab .home-link-left {
    background-position: 0 -60px;
}

.site-nav-links li a:hover .home-link-left, .site-nav-links li a:focus .home-link-left {
    background-position: 0 -120px;
}

.site-nav-links li a:active .home-link-left, .site-nav-links li .active .home-link-left {
    background-position: 0 -180px;
}

.site-nav-links li .nav-right {
    position: absolute;
    right: 0;
    top: -1px;
    background-position: -250px 0;
    width: 8px;
    height: 39px;
}

.browse-links-box {
    width: 570px;
    border: 1px solid #A4C0BC;
    border-bottom: none;
    border-top: none;
    background-color: #FBFBFB;
    padding-bottom: 6px;
    display: none;
    position: absolute;
    top: 143px;
    left: 85px;
    z-index: 90;
    background-position: -1px -530px;
}

.browse-links-box ul {
    list-style: none;
    width: 180px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    display: inline;
    margin-bottom: 0;
    padding-left: 0;
}

.browse-links-box .First {
    width: 190px;
}

.browse-links-box .Last {
    width: 170px;
}

.browse-links-box ul li {
    font-size: 12px;
    line-height: 19px;
    float: left;
    clear: left;
    width: 100%;
    margin-left: 0;
}

.browse-links-bottom {
    clear: both;
    background-position: 0 -260px;
    position: absolute;
    left: -1px;
    bottom: -6px;
    height: 6px;
    width: 572px;
}

.browse-links-box .BrowseQuickLinks {
    width: 550px;
    border-top: 1px solid #CFDDDB;
    padding-top: 8px;
    margin-top: 6px;
}

.browse-links-box .BrowseQuickLinks li {
    display: inline;
    border-right: 1px solid #ccc;
    width: auto;
    clear: none;
    margin-right: 12px;
    padding-right: 12px;
    line-height: 110%;
    padding-bottom: 0;
}

.browse-links-box .BrowseQuickLinks .LastBrowseQuickLink {
    border-right: none;
}

.login-modal-box {
    width: 208px;
    position: absolute;
    top: 52px;
    left: 303px;
    z-index: 99;
    display: none;
}

.SmallScreen .login-modal-box {
    left: 313px;
}

.login-inner {
    background-position: -40px 0;
    height: 100%;
}

.login-modal-box form {
    display: block;
    margin: 0 7px 0 12px;
    padding: 14px 0 10px 0;
    font-size: 12px;
    color: #333;
    clear: both;
}

.login-modal-box h3 {
    font-weight: bold;
    font-size: 14px;
    color: #c60;
    margin-top: 0;
}

.login-close {
    position: absolute;
    cursor: pointer;
    width: 9px;
    height: 9px;
    top: 15px;
    left: 181px;
    background-position: -530px -180px;
}

.login-modal-box label {
    display: block;
    margin: 7px 0 0;
    font-size: 12px;
    color: #333;
}

.login-modal-box .text {
    width: 173px;
    font-size: 14px;
    color: #333;
    margin: 3px 0 0;
}

.loginButton {
    background-image: url(/Images/buttons/login_23px_v1.png);
    height: 23px;
    width: 56px;
    display: block;
}

.login-modal-box .loginButton {
    margin: 10px 0 0;
    float: left;
}

.login-modal-box .auto-login {
    margin: 15px 0 0 10px;
    float: left;
    width: 12px;
    height: 12px;
    padding: 0;
}

.login-modal-box .for-auto-login {
    margin: 14px 0 0 5px;
    float: left;
}

.login-modal-box .reminder {
    clear: both;
    padding-top: 9px;
}

.login-footer {
    height: 12px;
    background-position: -310px -180px;
}

.page-body {
    background: #fff;
    padding: 0;
    /*width: 1020px;*/
    margin: 0 auto;
    /*border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;*/
    position: relative;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
}


.page-body:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    margin: 0 30px 0 30px;
    position: relative;
}

.main {
    margin: 20px 10px;
    position: relative;
}

.SmallScreen .page-body {
    background: #fff;
    padding: 0 0 36px 0;
    min-width: 980px;
    border: none;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.SmallScreen .container {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.SmallScreen .main {
    width: 960px;
    margin: 20px 10px 0;
}

.clear {
    clear: both;
}

/*.content {
overflow: hidden;
text-align: left;
}*/

.sidebar-column {
    width: 180px;
    margin: 0 19px 0 1px;
    padding: 0;
    background-color: #fff;
    float: left;
}

.breakerTop {
    margin: 0;
    background-color: #fff;
    margin-top: 20px;
}

.breakerBottom {
    margin: 0;
    background-color: #fff;
    padding-bottom: 20px;
}

.side-ad {
    background: #f3f3f3;
    margin: 0;
    text-align: center;
    padding: 3px 10px 10px;
    position: relative;
}

.side-ad p {
    text-align: center;
    padding-bottom: 15px;
}
/*
.search-bar-minimised {
height: 7px !important;
}

.search-bar {
height: 45px;
position: relative;
}

.search-bar-hasBranding {
height: 44px;
}

.general-search {
background-color: #FDCE0C;
background-position: 0 -50px;
display: block;
height: 45px;
}

.search-bar-hasBranding .general-search {
background-position: 0 -110px;
height: 44px;
}

.search-bar-minimised .general-search {
background-position: 0 -170px;
height: 7px;
}
*/


/*
.search-bar .ChangeRegionLink {
display: none;
}
*/

.search-bl-cr {
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 45px;
    background-position: -270px 0;
}

.search-bar-hasBranding .search-bl-cr {
    background-position: -310px 0;
    height: 44px;
}

.search-bar-minimised .search-bl-cr {
    background-position: -350px 0;
    width: 8px;
    height: 7px;
}

.search-br-cr {
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 45px;
    background-position: -290px 0;
}

.search-bar-hasBranding .search-br-cr {
    background-position: -330px 0;
    height: 44px;
}

.search-bar-minimised .search-br-cr {
    background-position: -370px 0;
    width: 8px;
    height: 7px;
}

.QuickLinks, .mb-search-container, .announcement-search-container {
    border: 1px solid #ccc;
    background: #FBFBFB;
    position: relative;
}

.Promotion {
    background: #FBFBFB;
    position: relative;
}

.QuickLinks ul {
    list-style-type: none;
    list-style-image: none;
    border: 1px solid #fff;
    margin-top: 0;
    padding: 11px 9px 0;
}

.QuickLinks li {
    margin-left: 0;
}

.QuickLinks .Selling {
    margin-top: 4px;
    margin-bottom: 9px;
}

.QuickLinks ul li li {
    padding-bottom: 0;
}

.QuickLinks ul strong {
    font-weight: bold;
    font-size: 16px;
    color: #c60;
}

.QuickLinks ul li ul {
    border: none;
    margin: 0;
    padding-top: 1px;
    padding-left: 7px;
    padding-bottom: 0;
}

.QuickLinks ul li ul li a {
    font-weight: normal;
    font-size: 14px;
    line-height: 177%;
}

.QuickLinks ul li ul li span {
    font-weight: normal;
    font-size: 14px;
    line-height: 177%;
    color: #333;
}

.QuickLinks ul .BecomeAuthenticated {
    font-size: 12px;
}

.QuickLinks ul .BecomeAuthenticated a img {
    border-bottom: 2px solid #FBFBFB;
    border-left: 5px solid #FBFBFB;
    background-color: #FBFBFB;
}

.QuickLinks.Homepage ul {
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    display: block;
    padding: 5px 0 6px 7px;
    height: 16px;
}

.QuickLinks.Homepage ul li strong {
    float: left;
    margin-right: 8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.QuickLinks.Homepage ul .Selling {
    float: right;
    margin: 0;
}

.QuickLinks.Homepage ul li ul {
    float: left;
    font-size: 12px;
    margin: 0;
    margin-left: 0;
    padding: 0;
}

.ie8 .QuickLinks.Homepage ul li ul {
    padding-top: 1px;
}

.QuickLinks.Homepage ul .Selling ul {
    padding-right: 7px;
}

.QuickLinks.Homepage ul li ul li {
    width: auto;
}

.QuickLinks.Homepage ul li ul li {
    padding-right: 9px;
    margin-right: 9px;
    border-right: 1px solid #ddd;
}

.QuickLinks.Homepage ul li ul .Last {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

.QuickLinks.Homepage ul li ul li a {
    line-height: 100%;
}

.QuickLinks.Homepage li {
    float: left;
    padding-bottom: 0;
    line-height: 16px;
    margin-bottom: 9px;
}

.QuickLinks .Corner, .attribute-search .Corner, .side-ad .Corner, .mb-search-container .Corner, .announcement-search-container .Corner, .Promotion .Corner {
    width: 6px;
    height: 6px;
    position: absolute;
}

.QuickLinks .TL, .attribute-search .TL, .mb-search-container .TL, .announcement-search-container .TL {
    top: -1px;
    left: -1px;
    background-position: -390px 0;
}

.QuickLinks .TR, .attribute-search .TR, .mb-search-container .TR, .announcement-search-container .TR {
    top: -1px;
    right: -1px;
    background-position: -410px 0;
}

.QuickLinks .BL, .attribute-search .BL, .mb-search-container .BL, .announcement-search-container .BL {
    bottom: -1px;
    left: -1px;
    background-position: -390px -20px;
}

.QuickLinks .BR, .attribute-search .BR, .mb-search-container .BR, .announcement-search-container .BR {
    bottom: -1px;
    right: -1px;
    background-position: -410px -20px;
}

.side-ad .TL, .Promotion .TL {
    top: 0;
    left: 0;
    background-position: -590px 0;
}

.side-ad .TR, .Promotion .TR {
    top: 0;
    right: 0;
    background-position: -610px 0;
}

.side-ad .BL, .Promotion .BL {
    bottom: 0;
    left: 0;
    background-position: -590px -20px;
}

.side-ad .BR, .Promotion .BR {
    bottom: 0;
    right: 0;
    background-position: -610px -20px;
}

/*
.site-footer {
border-top: none;
text-align: center;
margin: 0;
clear: both;
min-width: 980px;
}

.SmallScreen .site-footer {
border-top: 1px solid #ccc;
text-align: center;
margin: 0;
clear: both;
min-width: 980px;
}

.footer-items {
width: 960px;
margin: 0 auto;
}

.footer-items li {
float: left;
display: inline;
margin: 22px 25px 0 0;
padding: 0 0 25px;
font-size: 14px;
color: #06c;
}

.footer-items .footer-logo {
float: right;
margin: 19px 0 0;
font-size: 12px;
color: #333;
text-align: left;
width: 200px;
padding: 0;
background-position: -100px -180px;
}

.footer-items .footer-logo div {
float: left;
margin: 0;
width: 130px;
height: 19px;
background: #eee;
padding: 6px 0 0 20px;
}

*/
.attribute-search-header {
    background-repeat: no-repeat;
    display: block;
    text-indent: -5000px;
    height: 59px;
    width: 180px;
}

.attribute-search-jobs .attribute-search-header {
    background-image: url(/Images/sidebar/sidebar-logo_jobs.png);
}

.attribute-search-property .attribute-search-header {
    background-image: url(/Images/sidebar/sidebar-logo_property.png);
}

.attribute-search-motors .attribute-search-header {
    background-image: url(/Images/sidebar/sidebar-logo_motors.png);
}

.attribute-search-services .attribute-search-header {
    background-image: url(/Images/sidebar/sidebar-logo_services.png);
}

.attribute-search {
    color: #333;
    position: relative;
    font-size: 12px;
}

.attribute-search-property .attributeSearchInner {
    padding-top: 7px;
}

.attribute-search-motors .attributeSearchInner {
    padding-top: 7px;
}

.attribute-search-jobs .attributeSearchInner {
    padding-top: 7px;
}

.attribute-search-services .attributeSearchInner {
    padding-top: 7px;
}

/* Jobs */

.attribute-search-jobs .attribute-search {
    color: #333;
}

.attribute-search-jobs .attribute-search-container {
    border: 1px Solid #d75000;
    border-top: 0;
}

.attribute-search-jobs .attribute-search-container .attributeSearchInner {
    border: 1px Solid #ffae56;
    border-top: 0;
    background-color: #ff7e00;
}

.attribute-search-property form a, .attribute-search-motors form a, .attribute-search-jobs form a {
    color: #fff;
}

/* Property */

.attribute-search-property .attribute-search-container {
    border: 1px Solid #377103;
    border-top: 0;
}

.attribute-search-property .attribute-search-container .attributeSearchInner {
    border: 1px Solid #72b644;
    border-top: 0;
    background-color: #549325;
}

.attribute-search-property .attribute-search {
    color: #fff;
}

/* Motors */

.attribute-search-motors .attribute-search-container {
    border: 1px Solid #5c687e;
    border-top: 0;
}

.attribute-search-motors .attribute-search-container .attributeSearchInner {
    border: 1px Solid #8798b3;
    border-top: 0;
    background-color: #6a7e9e;
}

.attribute-search-motors .attribute-search {
    color: #fff;
}

/* Services */

div.attribute-search-services .attribute-search-container {
    border: 1px Solid #999999;
    border-top: 0;
}

div.attribute-search-services .attribute-search-container .attributeSearchInner {
    border: 1px Solid #EFEFEF;
    border-top: 0;
    background-color: #E2E2E2;
}

div.attribute-search-services #attributeSearch {
    color: #333;
}

/* General */

.attribute-search-general .attribute-search-container {
    border: 1px Solid #ccc;
}

.attribute-search-general .attribute-search-container .attributeSearchInner {
    border: 1px Solid #fff;
    background-color: #fbfbfb;
}

.attributeSearchInner .new-car-search {
    padding-bottom: 5px;
}

.attribute-search-min .attributeSearchInner {
    padding: 0;
    height: 0;
}

.attribute-search .TL {
    height: 6px;
    width: 6px;
    top: 0;
    left: 0;
}

.attribute-search .TR {
    height: 6px;
    width: 6px;
    top: 0;
    right: 0;
}

.attribute-search .BR {
    height: 7px;
    width: 7px;
    bottom: 0;
    right: 0;
    float: left;
}

.attribute-search .BL {
    height: 7px;
    width: 7px;
    bottom: 0;
    left: 0;
    float: left;
}

.attribute-search-general .attribute-search .BR {
    height: 6px;
    width: 6px;
}

.attribute-search-general .attribute-search .BL {
    height: 6px;
    width: 6px;
}

.attribute-search-jobs .attribute-search .BL {
    background-position: -250px -130px;
}

.attribute-search-jobs .attribute-search .BR {
    background-position: -260px -130px;
}

.attribute-search-motors .attribute-search .BL {
    background-position: -270px -130px;
}

.attribute-search-motors .attribute-search .BR {
    background-position: -280px -130px;
}

.attribute-search-property .attribute-search .BL {
    background-position: -290px -130px;
}

.attribute-search-property .attribute-search .BR {
    background-position: -300px -130px;
}

.attribute-search-services .attribute-search .BL {
    background-position: -310px -130px;
}

.attribute-search-services .attribute-search .BR {
    background-position: -320px -130px;
}



.ie7 .attribute-search .BR, .ie7 .attribute-search .BL {
    bottom: 20px;
}

.attributeSearchInner {
    clear: both;
    border: 1px solid #fff;
    padding: 10px 9px;
    min-height: 7px;
}

.attributeSearchInner h2 {
    font-weight: bold;
    font-size: 16px;
    color: #c60;
    background-color: Transparent;
    background-image: none;
    padding: 0;
    margin: 0 0 5px;
}

.attribute-search-jobs h2 {
    color: #333;
}

.attribute-search-property h2 {
    color: #fff;
}

.attribute-search-motors h2 {
    color: #fff;
}

.attribute-search-services h2 {
    color: #fff;
}

.attribute-search form {
    margin: 0;
}

.attribute-search select {
    width: 158px;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.attribute-search .SmallBottomMargin {
    margin-bottom: 2px;
}

.attribute-search .NoEndMargin {
    margin-bottom: 0;
}

.attribute-search .SmallBottomMargin select {
    margin-bottom: 5px;
}

.attribute-search .text {
    font-size: 14px;
    color: #333;
    margin-bottom: 7px;
    width: 152px;
    margin-top: 3px;
}

.attribute-search .Checkbox {
    margin-bottom: 10px;
}

.attribute-search .Checkbox input {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.attribute-search .Checkbox label {
    vertical-align: middle;
}

.attribute-search .RangeCombo {
    vertical-align: -1px;
    font-size: 12px;
    margin-bottom: 7px;
}

.attribute-search .RangeCombo select {
    width: 68px;
    vertical-align: -1px;
    margin-bottom: 0;
}

.attribute-search .RangeCombo label {
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
}

.attribute-search .EditWithExample {
    margin: 5px 0 7px;
}

.attribute-search .EditWithExample input {
    margin-bottom: 2px;
}

.attribute-search .ResetLink, .reset-link {
    display: block;
    padding-top: 9px;
    margin-left: 103px;
    margin-bottom: 7px;
}

.attribute-search .AdvancedCars {
    clear: both;
    margin-top: 17px;
    display: block;
    margin-bottom: 3px;
}

.attribute-search button {
    float: left;
    margin-bottom: 4px;
}

.attribute-search .attRegions {
    margin-bottom: 8px;
}

.attribute-search select[disabled] {
    color: #999;
}

.search-tabs-holder {
    padding-top: 3px;
    padding-bottom: 10px;
}

.search-tabs {
    display: block;
    width: 158px;
    height: 26px;
    padding: 0;
    margin: 0;
}

.search-tabs a {
    cursor: pointer;
}

.search-tabs .search-tab-selected a {
    cursor: default;
}

.search-tabs li a small {
    font-size: 10px;
    ;
    line-height: 7px;
    display: block;
    font-weight: normal;
    padding-top: 1px;
}

.attribute-search-property .search-tabs-right li {
    background-position: -40px -340px;
}

.attribute-search-property .search-tabs-right li:hover {
    background-position: -40px -370px;
}

.attribute-search-property .search-tabs-right li:active {
    background-position: -40px -280px;
}

.attribute-search-property .search-tabs-right .search-tab-selected,
.attribute-search-property .search-tabs-right .search-tab-selected:hover {
    background-position: -119px -340px;
}

.attribute-search-property .search-tabs-left li {
    background-position: -119px -280px;
}

.attribute-search-property .search-tabs-left li:hover {
    background-position: -119px -310px;
}

.attribute-search-property .search-tabs-left li:active {
    background-position: -119px -340px;
}

.attribute-search-property .search-tabs-left .search-tab-selected,
.attribute-search-property .search-tabs-left .search-tab-selected:hover {
    background-position: -40px -280px;
}

.attribute-search-motors .search-tabs-left li {
    background-position: -119px -400px;
}

.attribute-search-motors .search-tabs-left li:hover {
    background-position: -119px -430px;
}

.attribute-search-motors .search-tabs-left li:active {
    background-position: -119px -460px;
}

.attribute-search-motors .search-tabs-left .search-tab-selected,
.attribute-search-motors .search-tabs-left .search-tab-selected:hover {
    background-position: -40px -400px;
}

.attribute-search-motors .search-tabs-right li {
    background-position: -40px -460px;
}

.attribute-search-motors .search-tabs-right li:hover {
    background-position: -40px -490px;
}

.attribute-search-motors .search-tabs-right li:active {
    background-position: -40px -400px;
}

.attribute-search-motors .search-tabs-right .search-tab-selected,
.attribute-search-motors .search-tabs-right .search-tab-selected:hover {
    background-position: -119px -460px;
}

div.attribute-search-services .search-tabs-right li {
    background-position: -40px -340px;
}

div.attribute-search-services .search-tabs-right li:hover {
    background-position: -40px -370px;
}

div.attribute-search-services .search-tabs-right li:active {
    background-position: -40px -280px;
}

div.attribute-search-services .search-tabs-right li.search-tab-selected {
    background-position: -119px -340px;
}

div.attribute-search-services .search-tabs-left li {
    background-position: -119px -280px;
}

div.attribute-search-services .search-tabs-left li:hover {
    background-position: -119px -310px;
}

div.attribute-search-services .search-tabs-left li:active {
    background-position: -119px -340px;
}

div.attribute-search-services .search-tabs-left li.search-tab-selected {
    background-position: -40px -280px;
}

.search-tabs li {
    float: left;
    display: inline;
    padding-bottom: 0;
    width: 79px;
    height: 27px;
    padding-bottom: 0;
}

.search-tabs li a {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    display: block;
    width: 79px;
    height: 21px;
    text-align: center;
    color: #fff;
    padding-top: 2px;
}

.search-tabs li a:hover, .search-tabs li a:focus {
    color: #fff;
    text-decoration: none;
}

.CommonShortForm {
    background: #EBEBEB;
    display: block;
    position: relative;
    padding: 13px 0;
}

.HelpMessageSize {
    margin-top: 30px;
    width: 515px;
    margin-left: 40px;
}

.common-short-form-v2 {
    width: 580px;
    color: #333;
}

.CommonShortForm .CommonFormInner {
    background: #fff;
    border: 1px solid #cecece;
    margin: 0 13px;
    padding: 8px 9px 9px;
}

.CommonShortForm .Row {
    padding: 4px 6px 6px;
}

.CommonShortForm input.Text, .CommonShortForm strong.Text {
    font-weight: bold;
    font-size: 16px;
    margin-top: 2px;
}

.CommonShortForm textarea.Text {
    font-size: 12px;
    margin-top: 2px;
}

.CommonShortForm br {
    clear: left;
}

.CommonShortForm .Corner {
    position: absolute;
    width: 20px;
    height: 20px;
    display: inline;
}

.CommonShortForm .TL {
    top: 0;
    left: 0;
    background-position: -740px -230px;
}

.CommonShortForm .TR {
    top: 0;
    right: 0;
    background-position: -770px -230px;
}

.CommonShortForm .BL {
    bottom: 0;
    left: 0;
    background-position: -740px -260px;
}

.CommonShortForm .BR {
    bottom: 0;
    right: 0;
    background-position: -770px -260px;
}

.CommonShortForm .Error {
    background-color: #FFEE00;
    position: relative;
    margin-bottom: 2px;
}

.CommonShortForm .Error .Corner, .error-state .corner {
    position: absolute;
    width: 5px;
    height: 5px;
}

.CommonShortForm .Error .TL, .error-state .TL {
    top: 0;
    left: 0;
    background-position: -800px -230px;
}

.CommonShortForm .Error .TR, .error-state .TR {
    top: 0;
    right: 0;
    background-position: -810px -230px;
}

.CommonShortForm .Error .BL, .error-state .BL {
    bottom: 0;
    left: 0;
    background-position: -800px -240px;
}

.CommonShortForm .Error .BR, .error-state .BR {
    bottom: 0;
    right: 0;
    background-position: -810px -240px;
}

.CommonShortForm .Error {
    font-size: 12px;
    display: block;
    margin-top: 2px;
}

.common-short-form-v2 .Row {
    padding: 4px 6px 6px;
    margin-bottom: 6px;
}

.common-short-form-v2 .row-with-columns {
    overflow: auto;
}

.common-short-form-v2 .CommonFormInner {
    padding: 13px 9px 9px;
}

.common-short-form-v2 label, .common-short-form-v2 .form-fake-label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

.common-short-form-v2 .form-over-panels {
    margin-bottom: 2px;
}

.common-short-form-v2 textarea {
    width: 514px;
    height: 60px;
}

.common-short-form-v2 .textbox {
    font-size: 14px;
    color: #333;
}

.form-secondary-column {
    width: 240px;
    float: left;
}

.form-secondary-column label {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 1px;
}

.form-secondary-column .textbox {
    width: 220px;
    margin-bottom: 0;
}

.common-short-form-v2 .form-additional-info {
    margin: 0;
    padding: 0 6px 6px;
}

.common-short-form-v2 .form-cancel-link {
    font-size: 14px;
    line-height: 27px;
}

.form-required-star {
    color: #F00;
    font-weight: normal;
}

.HelpBubble {
    vertical-align: middle;
    margin-top: -8px;
}

.tm-dialog-box h3 {
    font-weight: bold;
    font-size: 20px;
    color: #c60;
    margin-bottom: 10px;
}

.tm-dialog-box p {
    font-size: 14px;
    color: #333;
    line-height: 150%;
}

.tm-dialog-top-container {
    margin-left: 20px;
    margin-right: 34px;
    background-position: 0 -250px;
    height: 20px;
    position: relative;
}

.tm-dialog-bottom-container {
    margin-left: 20px;
    margin-right: 34px;
    background-position: 0 -280px;
    height: 34px;
    position: relative;
}

.tm-dialog-box .TL {
    position: absolute;
    top: 0;
    left: -20px;
    background-position: -250px -60px;
    width: 20px;
    height: 20px;
}

.tm-dialog-box .TR {
    position: absolute;
    top: 0;
    right: -34px;
    background-position: -280px -60px;
    width: 34px;
    height: 20px;
}

.tm-dialog-box .BL {
    position: absolute;
    bottom: 0;
    left: -20px;
    background-position: -250px -90px;
    width: 20px;
    height: 34px;
}

.tm-dialog-box .BR {
    position: absolute;
    bottom: 0;
    right: -34px;
    background-position: -280px -90px;
    width: 34px;
    height: 34px;
}

.tm-inner-left {
    background-position: 0 0;
    padding-left: 20px;
}

.tm-inner-right {
    background-position: 336px 0;
    padding-right: 34px;
}

.tm-inner {
    background-color: #fff;
    padding: 0 10px 4px;
}

.tm-dialog-content {
    font-size: 14px;
    color: #333;
}

.diag-shade {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.tm-dialog-buttons {
    margin-top: 17px;
    overflow: auto;
    font-size: 14px;
}

.dialog-cancel-link {
    line-height: 23px;
}

.about-us-dialog-box h3 {
    font-weight: bold;
    font-size: 20px;
    color: #c60;
    margin-bottom: 10px;
}

.about-us-dialog-box p {
    font-size: 14px;
    color: #333;
    line-height: 150%;
}

.about-us-dialog-top-container {
    margin-left: 20px;
    margin-right: 34px;
    height: 20px;
    position: relative;
    background-color: #fff;
}

.about-us-dialog-bottom-container {
    margin-left: 20px;
    margin-right: 34px;
    background-position: 0 -320px;
    height: 34px;
    position: relative;
}

.about-us-dialog-box .TL {
    position: absolute;
    top: 0;
    left: -20px;
    background-position: -550px -180px;
    width: 20px;
    height: 20px;
}

.about-us-dialog-box .TR {
    position: absolute;
    top: 0;
    right: -33px;
    background-position: -580px -180px;
    width: 33px;
    height: 20px;
}

.about-us-dialog-box .BL {
    position: absolute;
    bottom: 0;
    left: -20px;
    background-position: -550px -210px;
    width: 20px;
    height: 34px;
}

.about-us-dialog-box .BR {
    position: absolute;
    bottom: 0;
    right: -33px;
    background-position: -580px -210px;
    width: 33px;
    height: 34px;
}

.about-us-inner-left {
    background-position: 0 0;
    padding-left: 20px;
    background-color: #fff;
    margin-right: 20px;
}

.about-us-inner-right {
    background-position: 571px top;
    padding-right: 34px;
    margin-right: -20px;
}

.about-us-inner {
    background-color: #fff;
    padding: 4px 10px 10px;
}

.NotificationBox {
    margin-top: 14px;
    padding: 9px 6px 12px;
    position: relative;
    margin-bottom: 20px;
    zoom: 1;
}

.NotificationBox p {
    line-height: 140%;
    margin: 0;
    margin-top: 6px;
}

.NotificationBox .Message {
    margin-left: 38px;
}

.NotificationBox.Highlight .Message {
    margin-left: 0;
}

.NotificationBox .Message, .NotificationBox p, .NotificationBox h2 {
    font-size: 12px;
    color: #333;
}

.NotificationBox h2 {
    font-weight: bold;
    margin-top: 0;
}

.NotificationBox.Single {
    padding-bottom: 7px;
    padding-top: 7px;
}

.NotificationBox.Single .Message {
    padding-top: 6px;
}

.NotificationBox.Success {
    background-color: #FBFFE8;
    border: 1px solid #BFD99C;
}

.NotificationBox .Icon {
    width: 28px;
    height: 28px;
    float: left;
    margin-top: 3px;
}

.NotificationBox.Single .Icon {
    margin-top: 0;
}

.NotificationBox.Success .Icon {
    background-position: -340px -230px;
}

.NotificationBox.Error {
    background-color: #FEF4F3;
    border: 1px solid #F6B4B6;
}

.NotificationBox.Error .Icon {
    background-position: -310px -230px;
}

.NotificationBox.Information h2 {
    margin-top: 2px;
}

.NotificationBox.Information {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
}

.NotificationBox.Information .Icon {
    background-position: -400px -230px;
}

.NotificationBox.Information .TL {
    background-position: -230px -230px;
}

.NotificationBox.Information .TR {
    background-position: -240px -230px;
}

.NotificationBox.Information .BL {
    background-position: -230px -240px;
}

.NotificationBox.Information .BR {
    background-position: -240px -240px;
}

.NotificationBox.General {
    background-color: #EEF8FF;
    border: 1px solid #AFD4FF;
}

.NotificationBox.Highlight {
    background-color: #fffFC1;
    border: 1px solid #fc0;
}

.NotificationBox .Corner {
    width: 7px;
    height: 7px;
    position: absolute;
}

.NotificationBox.Highlight .Corner {
    width: 8px;
    height: 8px;
}

.NotificationBox.Lightbulb {
    background-color: #ffffc1;
    border: 1px solid #fc0;
}

.NotificationBox.Lightbulb .Icon {
    background-position: -370px -230px;
}

.NotificationBox.Lightbulb .TL {
    background-position: -820px -230px;
}

.NotificationBox.Lightbulb .TR {
    background-position: -831px -230px;
}

.NotificationBox.Lightbulb .BL {
    background-position: -820px -241px;
}

.NotificationBox.Lightbulb .BR {
    background-position: -831px -241px;
}

.NotificationBox .TL {
    top: -1px;
    left: -1px;
}

.NotificationBox .TR {
    top: -1px;
    right: -1px;
}

.NotificationBox .BL {
    bottom: -1px;
    left: -1px;
}

.NotificationBox .BR {
    bottom: -1px;
    right: -1px;
}

.NotificationBox.Success .TL {
    background-position: -270px -230px;
}

.NotificationBox.Success .TR {
    background-position: -280px -230px;
}

.NotificationBox.Success .BL {
    background-position: -270px -240px;
}

.NotificationBox.Success .BR {
    background-position: -280px -240px;
}

.NotificationBox.Error .TL {
    background-position: -250px -230px;
}

.NotificationBox.Error .TR {
    background-position: -260px -230px;
}

.NotificationBox.Error .BL {
    background-position: -250px -240px;
}

.NotificationBox.Error .BR {
    background-position: -260px -240px;
}

.NotificationBox.General .TL {
    background-position: -290px -230px;
}

.NotificationBox.General .TR {
    background-position: -300px -230px;
}

.NotificationBox.General .BL {
    background-position: -290px -240px;
}

.NotificationBox.General .BR {
    background-position: -300px -240px;
}

.NotificationBox.Highlight .TL {
    background-position: -820px -230px;
}

.NotificationBox.Highlight .TR {
    background-position: -830px -230px;
}

.NotificationBox.Highlight .BL {
    background-position: -820px -240px;
}

.NotificationBox.Highlight .BR {
    background-position: -830px -240px;
}

.dotted-line {
    height: 1px;
    background-image: url(/Images/dotted_line.gif);
    background-repeat: repeat-x;
    margin-top: 15px;
    margin-bottom: 8px;
}

.action-item-centerer {
    text-align: center;
}

.action-item-centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.action-item {
    background-position: -860px -290px;
    padding-left: 25px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
    line-height: 130%;
}

.sub-nav {
    overflow: hidden;
    zoom: 1;
    margin: -10px 10px 0;
}

.sub-nav-left {
    float: left;
}

.sub-nav-right {
    float: right;
}

.sub-nav ul {
    margin: 0;
    padding: 0;
}

.sub-nav ul li {
    padding: 0 11px 0 8px;
    font-size: 12px;
    line-height: 26px;
    margin: 0;
    list-style: none;
    float: left;
    height: 24px;
}

.sub-nav ul a, .sub-nav ul a:visited {
    padding: 0;
    display: block;
    color: #fff;
}

.sub-nav ul li a:hover {
    color: #fff;
}

.sub-nav .sub-nav-left, .sub-nav .sub-nav-right {
    height: 24px;
    width: 6px;
}

.sub-nav-motors {
    background-color: #6D80A0;
    background-position: 0 -410px;
}

.sub-nav-motors .sub-nav-left {
    background-position: -350px -30px;
}

.sub-nav-motors .sub-nav-right {
    background-position: -360px -30px;
}

.sub-nav-motors .sub-nav-item {
    background-position: 100% -400px;
}

.sub-nav-property {
    background-color: #4D8B1F;
    background-position: 0 -440px;
}

.sub-nav-property .sub-nav-left {
    background-position: -380px -30px;
}

.sub-nav-property .sub-nav-right {
    background-position: -390px -30px;
}

.sub-nav-property .sub-nav-item {
    background-position: 100% -430px;
}

.sub-nav-jobs {
    background-color: #EC5E00;
    background-position: 0 -470px;
}

.sub-nav-jobs .sub-nav-left {
    background-position: -410px -30px;
}

.sub-nav-jobs .sub-nav-right {
    background-position: -420px -30px;
}

.sub-nav-jobs .sub-nav-item {
    background-position: 100% -460px;
}

.sub-nav-services {
    background-color: #E2E2E2;
    background-position: 0 -440px;
}

.sub-nav-services .sub-nav-left {
    background-position: -380px -30px;
}

.sub-nav-services .sub-nav-right {
    background-position: -390px -30px;
}

.sub-nav-services .sub-nav-item {
    background-position: 100% -430px;
}

.sub-nav ul .sub-nav-first {
    padding-left: 4px;
}

.itemsDiv {
    float: left;
    margin-left: 8px;
    line-height: 1.5em;
    white-space: nowrap;
}

.StockMeterSprites {
    background: url(/Images/DailyDeals/stock-o-meter_sprites.png) no-repeat;
    width: 210px;
    height: 11px;
    line-height: 1px;
    font-size: 1px;
}

.StockMeter100 {
    background-position: 0 0;
}

.StockMeter95 {
    background-position: 0 -20px;
}

.StockMeter90 {
    background-position: 0 -40px;
}

.StockMeter85 {
    background-position: 0 -60px;
}

.StockMeter80 {
    background-position: 0 -80px;
}

.StockMeter75 {
    background-position: 0 -100px;
}

.StockMeter70 {
    background-position: 0 -120px;
}

.StockMeter65 {
    background-position: 0 -140px;
}

.StockMeter60 {
    background-position: 0 -160px;
}

.StockMeter55 {
    background-position: 0 -180px;
}

.StockMeter50 {
    background-position: 0 -200px;
}

.StockMeter45 {
    background-position: 0 -220px;
}

.StockMeter40 {
    background-position: 0 -240px;
}

.StockMeter35 {
    background-position: 0 -260px;
}

.StockMeter30 {
    background-position: 0 -280px;
}

.StockMeter25 {
    background-position: 0 -300px;
}

.StockMeter20 {
    background-position: 0 -320px;
}

.StockMeter15 {
    background-position: 0 -340px;
}

.StockMeter10 {
    background-position: 0 -360px;
}

.StockMeter05 {
    background-position: 0 -380px;
}

.StockMeter00 {
    background-position: 0 -400px;
}

.daily-deals-homepage .listingCard {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 11px;
    clear: both;
    overflow: auto;
    zoom: 1;
}

.daily-deals-homepage .listingCard.last {
    border-bottom: none;
}

.list-view-list .listingCard.last {
    background-image: none;
}

.daily-deals-homepage .listingimageColDaily {
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 15px;
    margin-bottom: 6px;
    padding: 0 15px 0 3px;
    margin-bottom: 6px;
    width: 160px;
    height: 120px;
    display: inline;
    float: left;
    text-align: center;
    position: relative;
    border: 1px solid #CCC;
    line-height: 116px;
    padding: 0px;
}

.daily-deals-homepage .titleCol {
    line-height: 150%;
    width: 536px;
    display: inline;
    float: left;
    padding: 3px 0;
    text-align: left;
}

.daily-deals-homepage .listingTitle {
    font-weight: bold;
}

.daily-deals-homepage .gallery-view-deal-button {
    margin-left: 86px;
    margin-right: 86px;
}

.daily-deals-homepage .galleryViewNormalPricing {
    margin-top: 8px;
}

.daily-deals-homepage .gallery-view-stock-meter {
    margin-left: 18px;
}

.daily-deals-homepage .gallery-view-title {
    font-size: 16px;
    font-weight: bold;
    color: #06c;
}

.daily-deals-homepage .listingDealPriceCol {
    width: 220px;
    float: right;
    display: inline;
    font-size: 12px;
    padding: 3px 0 0;
    text-align: right;
    margin-right: 24px;
}

.daily-deals-homepage .listingDealPriceColMember {
    width: 225px;
    float: right !important;
    display: inline;
    font-size: 12px;
    padding: 9px 0 0 !important;
    text-align: right;
}

.daily-deals-homepage .listingDealStock {
    font-size: 12px;
    color: #333;
    padding-top: 7px;
    padding-bottom: 11px;
}

.daily-deals-homepage .listingDealStockGalleryView {
    font-size: 12px;
    color: #333;
    padding-top: 12px;
    padding-bottom: 11px;
}

.daily-deals-homepage .StockMeterSprites {
    margin-top: 3px;
}

.daily-deals-homepage .centerAlign {
    text-align: center;
}

.listingBuyNowPrice {
    font-weight: bold;
    font-size: 16px;
}

.daily-deals-homepage .listingBuyNowPrice {
    margin-bottom: 5px;
}

.view-deal-button {
    display: block;
    background: url(/Images/buttons/daily-deals_view-deal_23px-sprites.png);
    width: 76px;
    height: 23px;
}

.deal-image {
    vertical-align: middle;
}

.deal-savings-image {
    text-align: left;
    position: absolute;
    top: 45px;
    left: 77px;
}

.gallery-view-deal-savings-image {
    text-align: left;
    position: absolute;
    top: 116px;
    left: 177px;
}

.list-view-deal-savings-image {
    text-align: left;
    position: absolute;
    top: 55px;
    left: 83px;
}

.deals-message {
    font-size: 14px;
    margin: 6px 0 1px;
    color: #333;
}

.grey-pipe {
    color: #ccc;
    font-size: 16px;
}

.deal-sold-out {
    position: absolute;
    top: 1px;
    left: 3px;
}



.sidebar-advanced-search-link {
    padding: 5px 0;
    clear: both;
}

.pagination-top {
    float: right;
    font-size: 14px;
    margin-top: 3px;
    line-height: 19px;
}

.PaginationTopSmall {
    font-size: 12px;
    !important;
}

.pagination-top *, .pagination-bottom * {
    margin: 0 5px;
}

.pagination-top .PageText {
    margin-right: 0;
}

.pagination-top .PreviousLink {
    margin-left: 4px;
}

.pagination-top .NextLink {
    margin-right: 0;
    margin-left: 4px;
}

.pagination-top .Ellipsis {
    margin: 0 1px;
}

.pagination-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 18px;
    color: #333;
    line-height: 22px;
}

.pagination-bottom .PageText {
    margin-right: 0;
}

.pagination-bottom .PreviousLink {
    font-weight: bold;
    margin-right: 4px;
    font-weight: bold;
    font-size: 16px;
}

.pagination-bottom .NextLink {
    margin-right: 0;
    margin-left: 4px;
    font-weight: bold;
    font-weight: bold;
    font-size: 16px;
}

.pagination-bottom .Ellipsis {
    margin: 0 1px;
}

.pagination-top.AllThreads {
    margin-top: -33px;
}

.content-narrow {
    width: 360px;
    margin: 0 auto;
    color: #333;
    font-size: 14px;
    line-height: 21px;
}

.content-narrow h1 {
    color: #c60;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 5px;
}

.services-list-button-container {
    background-color: #F3F3F3;
    border-radius: 10px;
    height: 130px;
    margin: 0px;
    padding: 30px 20px;
    white-space: normal;
    width: 250px;
}

.services-list-button-container h3 {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    font-family: sans-serif;
}

.service-list-button-link-container {
    float: left;
    padding-left: 25px;
    text-align: center;
}


.services-list-button-caption {
    border: 0;
    color: #d46200;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}

.services-list-button-caption p {
    margin-top: 1px;
}

#bread-crumbs,
.site-breadcrumbs {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0;
}

.category-listings-breadcrumbs {
    font-size: 12px;
    float: left;
    padding-bottom: 8px;
}

.ok-button {
    display: block;
    background-image: url(/Images/buttons/listing-page_ok_27px_v1.png);
    height: 27px;
    width: 98px;
    border-bottom: none !important;
    float: left;
    margin-right: 10px;
}

.diag-shade-2 {
    background-color: transparent;
    position: absolute;
    height: 2000px;
    width: 100%;
    z-index: 999;
    background-image: url(/Images/10pixel_black.png);
}

.StandardArial {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.sell-process-notification {
    display: block;
    float: left;
    width: 536px;
}

.italics {
    
}

.inline-block {
    display: inline-block;
    *display: inline;
    *margin: 0;
    zoom: 1;
}

/** Mobile toggler x2 **/
.version-toggle {
    clear: both;
    margin: 0 auto 20px;
    font-size: 12px;
    color: #333;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.toggle-icon {
    background: url(/Images/Common/footer-icons.png) no-repeat;
    display: inline-block;
}

.toggle-desktop {
    font-weight: bold;
    padding-right: 10px;
    border-right: 1px solid #CCC;
}

.toggle-desktop .toggle-icon {
    width: 16px;
    height: 12px;
    margin-bottom: -2px;
}

.toggle-mobile {
    padding-left: 6px;
}

.toggle-mobile .toggle-icon {
    width: 8px;
    height: 14px;
    background-position: -20px -20px;
    margin-bottom: -3px;
}

.toggle-mobile:hover .toggle-icon {
    background-position: -40px -20px;
}

.mtm-item-separator {
    line-height: 0px;
    font-size: 0;
}

.SelectLoadingText {
    display: none;
    color: #666;
    font-size: 12px;
    padding-left: 4px;
}

.visuallyhidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/*TODO: Remove this nasty hack once redesign goes out*/
.list-view-list li ul .listing-image-col-general {
    line-height: inherit !important;
}

.closing-soon {
    font-style: normal;
    color: #c00;
}



.name-value-list {
    
} 

.name-value-list dt {
    float: left;
} 

.name-value-list dd {
    padding-left: 75px;
} 

.mtm-name-value-list {
	font-size: 12px;
    color: #666;
    line-height: 18px;
    margin-top: 3px;
}

.mtm-name-value-list dt {
	
}

.mtm-name-value-list dd {
	
}

/** Keep this down here to cascade correctly **/
@media print {
    body, html {
        width: 960px !important;
    }


    .PageOuter {
        width: 960px !important;
        background: #fff !important;
    }

    .page-body {
        border: 0 solid transparent !important;
    }

    .container, .main, .page-body {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .site-heading, .site-navigation, .sidebar-column, .fairfax-nav, .login-modal-box, .site-footer {
        display: none !important;
    }

    input[type="checkbox"] {
        display: none !important;
    }

    .list-view-list .listingCard {
        float: none !important;
        display: list-item !important;
        width: 100% !important;
        border-left: none !important;
        margin-bottom: 5px;
        clear: both !important;
        background: none !important;
    }

    .list-view-list li ul .titleCol {
        width: 300px !important;
    }

    .firefox3 .list-view-list li ul .titleCol, .ie8 .list-view-list li ul .titleCol {
        width: 500px !important;
    }

    .list-view-list {
        width: 100% !important;
    }

    .ie8 .list-view-list, .ie7 .list-view-list {
        display: table !important;
        page-break-after: avoid;
        page-break-inside: auto;
    }

    .list-view-list .listingCard ul {
        overflow: hidden !important;
        width: 100% !important;
        clear: both;
        page-break-after: avoid;
    }

    .ie7 .list-view-list .listingCard {
        display: table-row !important;
    }

    .list-view-list ul li {
        orphans: 0;
        widows: 0;
    }

    .ie8 .list-view-list li ul li, .ie7 .list-view-list li ul li {
        display: table-cell !important;
    }

    .galleryCard {
        margin-right: -1px !important;
        margin-bottom: -1px !important;
        width: 245px !important;
        page-break-before: avoid;
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    .galleryCard.end {
        clear: right !important;
    }
}
/*** Putting stuff below this line? Place it above the Print section instead, k? **/

