/*#payment_form_checkmo {display:none;}
#payment_form_banktransfer{display:none;}
#payment_form_paypal_standard{display:none;}*/
.jcarousel-container .jcarousel-prev{-moz-user-select: none; } 
/*ul#mycarousel{-moz-user-select: none;}*/