<?php
/**
 * Innoexts
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 *
 * @category    Innoexts
 * @package     Innoexts_CustomerLocator
 * @copyright   Copyright (c) 2013 Innoexts (http://www.innoexts.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php $helper = $this->helper('customerlocator'); ?>

<?php if ($helper->isCoordinatesGeolocatorEnabled()) : ?>

<form id="coordinates-geolocator-form" method="post" action="<?php echo $this->getUrl('customer/account/applyAddressCoordinates') ?>">
    <input id="coordinates-geolocator-latitude" type="hidden" name="latitude" />
    <input id="coordinates-geolocator-longitude" type="hidden" name="longitude" />
</form>

<script type="text/javascript">
//<![CDATA[

document.observe("dom:loaded", function () {

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(onLocateSuccess);
    }
    
    function onLocateSuccess(position) {
        if (position && position.coords) {
            var latitude            = position.coords.latitude;
            var longitude           = position.coords.longitude;
            var geolocatorForm      = $('coordinates-geolocator-form');
            if (geolocatorForm) {
                $('coordinates-geolocator-latitude').setValue(latitude);
                $('coordinates-geolocator-longitude').setValue(longitude);
                geolocatorForm.submit();
            }
        }
    }
    
});

//]]>
</script>

<?php endif; ?>
