<?php if (Mage::getStoreConfig('socialsuite/general/enabled')) : ?>
    <?php if (Mage::getStoreConfig('socialsuite/facebook_share/enabled_order')) : ?>
        <div id='fb-root-share-order'></div>
        <script src='http://connect.facebook.net/en_US/all.js'></script>
        <p>
        <a onclick='postToFeed(); return false;'>
            <img src="<?php echo Mage::getBaseUrl('media') . 'socialsuite/' . Mage::getStoreConfig('socialsuite/facebook_share/share_image') ?>" alt="" />
        </a>
        </p>
        <script>
          var actions = <?php echo Zend_Json::encode($this->getOrderProductsDataShare())?>;
          FB.init({
              appId: <?php echo Mage::getStoreConfig('socialsuite/general/appid'); ?>,
              status: true,
              cookie: true
          });

          function postToFeed() {
            // calling the API ...
            var obj = {
              method: 'feed',
              link: '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>',
              picture: '<?php echo $this->getSkinUrl() . Mage::getStoreConfig('design/header/logo_src'); ?>',
              name: '<?php echo htmlspecialchars(trim(Mage::app()->getStore()->getFrontendName())); ?>',
              caption: '<?php echo Mage::helper('socialsuite')->__("I just bought next products:") ?>',
              description: ' ',
              properties: actions,
            };

            function callback(response) {
            }
            FB.ui(obj, callback);
          }
        </script>
    <?php endif; ?>
<?php endif; ?>