/*.custom-banner {
	border: 1px solid #dfdfdf;
	padding: 2px;
}
.custom-banner img.custom-banner-img {
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.custom-banner div.custom-banner-txt {
	border: 1px solid #CCCCCC;
	padding: 3px;
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
}*/
/*********************Numbered Banner**************************/
/*.banner {
	margin-top: -50px;
	margin-left: 4px;
	text-align: right;
}
.banner a:link, .banner a:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	background: #000000;
	border: 1px solid #000000;
	color: #FFFFFF;
	padding: 2px 6px;
	text-decoration: none;
}
.banner a.selected:link, .banner a.selected:visited, .banner a:hover {
	background: #015289;
	border: 1px solid #000000;
}*/

