<?php
/**
 * Innoexts
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_Warehouse
 * @copyright   Copyright (c) 2013 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */
?>

<?php $helper               = $this->helper('warehouse'); ?>
<?php $element              = $this->getElement(); ?>
<?php $elementHtmlId        = $element->getHtmlId(); ?>
<?php $elementName          = $element->getName(); ?>
<?php $elementClass         = $element->getClass(); ?>
<?php $elementReadonly      = $element->getReadonly(); ?>
<?php $scope                = $this->getPriceScopeStr(); ?>

<tr>
    <td class="label"><?php echo $element->getLabel() ?></td>
    <td id="batch_special_price_grid" colspan="10" class="grid batch-special-price-grid">
    <table cellspacing="0" class="data border" id="batch_special_price_table">
        <col width="175"/>
        <col width="150" />
        <col />
        <thead>
            <tr class="headings">
                <th><?php echo $helper->__('Warehouse'); ?></th>
                <th>
                    <?php echo $helper->__('Price'); ?><br/>
                    <?php echo $helper->__($scope) ?>
                </th>
            </tr>
        </thead>
        <tbody id="<?php echo $elementHtmlId ?>_container">
            <?php foreach ($this->getValues() as $item) : ?>
            <?php $stockId          = $item['stock_id']; ?>
            <?php $price            = $item['price']; ?>
            <?php $useDefault       = (int) $item['use_default']; ?>
            <tr>
                <td>
                    <input class="stock" type="hidden" name="<?php echo $elementName ?>[<?php echo $stockId ?>][stock_id]" value="<?php echo $stockId ?>"/>
                    <strong><?php echo $helper->getWarehouseTitleByStockId($stockId) ?></strong>
                </td>
                <td class="nobr">
                    <input class="<?php echo $elementClass ?> price validate-number" type="text" name="<?php echo $elementName ?>[<?php echo $stockId ?>][price]" value="<?php echo $price ?>"<?php if ($useDefault) : ?> disabled="disabled"<?php endif; ?> />&nbsp;
                    <input type="checkbox" name="<?php echo $elementName ?>[<?php echo $stockId ?>][use_default]" value="1"<?php if ($useDefault) : ?> checked="checked"<?php endif; ?> onclick="toggleValueElements(this, this.parentNode);" class="checkbox"/>
                    <label class="normal"><?php echo $helper->__('Default') ?></label>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    </td>
</tr>
