<?php

    $magic360ClassName = Mage::registry('magic360ClassName');


    if($magic360ClassName) {
        return;
    }


    $magicToolboxHelper = Mage::helper('magiczoomplus/settings');
    if((!method_exists($magicToolboxHelper, 'isModuleOutputEnabled') && !Mage::getStoreConfigFlag('advanced/modules_disable_output/MagicToolbox_MagicZoomPlus')) || $magicToolboxHelper->isModuleOutputEnabled()) {
        //$moduleName = $this->getRequest()->getModuleName();       //catalog   review  checkout    catalog     cms     catalogsearch   catalogsearch   wishlist
        //$this->getRequest()->getRouteName()                       //catalog   review  checkout    catalog     cms     catalogsearch   catalogsearch   wishlist
        $controllerName = $this->getRequest()->getControllerName(); //product   product cart        category    index   result          advanced        index
        $actionName = $this->getRequest()->getActionName();         //view      list    configure   view        index   index           result          configure

        //$page = ($controllerName == 'product')?'product':'category';
        //$productPage = ($controllerName == 'product') && ($actionName == 'view');
        $productPage = false;
        if(in_array($controllerName, array('product', 'cart'))) {
            $page = 'product';
            if($actionName == 'view') {
                $productPage = true;
            }
        } else if($controllerName == 'index' && $actionName == 'configure') {
            $page = 'product';
            $productPage = true;
        } else {
            $page = 'category';
        }

        $tool = $magicToolboxHelper->loadTool($page);
        if(!$tool->params->checkValue('use-effect-on-'.$page.'-page', 'No')) {

            /*if($productPage && $tool->params->checkValue('selector-position', array('left', 'right'))) {
?>
<style type="text/css">
    div.MagicToolboxWrapper {float: left; width: <?php echo $tool->params->getValue('thumb-max-width'); ?>px; }
    .product-view .product-img-box .more-views li { clear: both; }
    div.MagicToolboxSelectorsContainer { float: left; }
</style>
<?php
            }*/


            echo $tool->headers(str_replace('/magiczoomplus.js', '', $this->getSkinUrl('js/magiczoomplus.js')), str_replace('/magiczoomplus.css', '', $this->getSkinUrl('css/magiczoomplus.css')));
            if($tool->type == 'standard' && $tool->params->checkValue('magicscroll', 'yes')) {
                $scroll = $magicToolboxHelper->loadScroll($page);
                echo $scroll->headers(str_replace('/magiczoomplus.js', '', $this->getSkinUrl('js/magiczoomplus.js')), str_replace('/magiczoomplus.css', '', $this->getSkinUrl('css/magiczoomplus.css')));
            }


            if($productPage) {
?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/magictoolbox_utils.js'); ?>"></script>
<script type="text/javascript">
    var magicToolboxOptionTitles = ['<?php echo strtolower(trim(preg_replace('/\s*,\s*/is', '\',\'', $tool->params->getValue('option-associated-with-images')))); ?>'];

    var MagicToolbox_click = '<?php echo strtolower($tool->params->getValue('selectors-change')); ?>';




    $mjs(window).je1('load', function() {
        MagicToolboxPrepareOptions();
    });


</script>
<?php
            }

        } else {
            //fix js error in configurable.phtml
?>
<script type="text/javascript">
    function MagicToolboxChangeOptionConfigurable(element, optionTitle) {
        return;
    }
</script>
<?php
        }
    }

?>
