<?php
/**
 * Innoexts
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_Warehouse
 * @copyright   Copyright (c) 2013 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */
?>

<!-- Warehouse -->
<?php $helper                       = $this->helper('warehouse') ?>
<?php $config                       = $helper->getConfig() ?>

<?php if ($config->isMultipleMode() && $config->isSplitOrderEnabled()) : ?>
<?php foreach ($this->getAddresses() as $address) : ?>
<?php $warehouse            = $address->getWarehouse() ?>
<?php if (!$warehouse) continue; ?>
<?php $rateIdPrefix         = 's_method_' ?>
<?php $stockId              = $warehouse->getStockId() ?>
<?php $shippingMethod       = $this->_getShippingMethod($stockId) ?>
<?php $shippingRates        = $this->_getShippingRates($stockId) ?>
<?php if (count($shippingRates)) : ?>

<div id="order-shipping-method-choose-<?php echo $stockId; ?>" style="display:none">
    <strong><label><?php echo $this->escapeHtml($warehouse->getTitle()) ?></label></strong>
    <dl class="shipment-methods">
    <?php foreach ($shippingRates as $code => $_rates): ?>
        <dt><i><strong><?php echo $this->escapeHtml($this->getCarrierName($code)) ?></strong></i></dt>
        <dd>
            <ul>
            <?php foreach ($_rates as $_rate): ?>
            <?php $_radioProperty = 'name="order[shipping_method]['.$stockId.']" type="radio" onclick="order.setStockShippingMethod('.$stockId.', this.value)"' ?>
            <?php $rateCode = $_rate->getCode(); ?>
            <?php $rateId = $rateIdPrefix.$rateCode.'_'.$stockId; ?>
            <li>
                <?php if ($_rate->getErrorMessage()): ?>
                <ul class="messages"><li class="error-msg"><?php echo $this->escapeHtml($_rate->getErrorMessage()) ?></li></ul>
                <?php else: ?>
                <?php $_checked = ($rateCode == $shippingMethod) ? 'checked="checked"' : '' ?>
                <input <?php echo $_radioProperty ?> value="<?php echo $rateCode ?>" id="<?php echo $rateId ?>" <?php echo $_checked ?>/>
                <label class="normal" for="<?php echo $rateId ?>">
                   <?php echo $_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription()?> -
                   <strong>
                   <?php $_excl = $this->_getShippingPrice($stockId, $_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                   <?php $_incl = $this->_getShippingPrice($stockId, $_rate->getPrice(), true); ?>
                   <?php echo $_excl; ?>
                   <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                       (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                   <?php endif; ?>
                   </strong>
                </label>
                <?php endif ?>
            </li>
            <?php endforeach; ?>
            </ul>
        </dd>
    <?php endforeach; ?>
    </dl>
</div>
<?php if ($_rate = $this->_getActiveMethodRate($stockId)): ?>
<div id="order-shipping-method-info-<?php echo $stockId ?>">
    <strong><label><?php echo $this->escapeHtml($warehouse->getTitle()) ?></label></strong><br/>
    <i><strong><?php echo $this->escapeHtml($this->getCarrierName($_rate->getCarrier())) ?></strong></i><br/>
    <?php echo $_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription() ?> -
    <strong>
    <?php $_excl = $this->_getShippingPrice($stockId, $_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
    <?php $_incl = $this->_getShippingPrice($stockId, $_rate->getPrice(), true); ?>
    <?php echo $_excl; ?>
    <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
    <?php endif; ?>
    </strong>
    <br/>
    <a href="#" onclick="$('order-shipping-method-info-<?php echo $stockId ?>').hide();$('order-shipping-method-choose-<?php echo $stockId ?>').show();return false">
        <?php echo Mage::helper('sales')->__('Click to change shipping method') ?>
    </a>
</div>
<?php else: ?>
<script type="text/javascript">$('order-shipping-method-choose-<?php echo $stockId ?>').show();</script>
<?php endif; ?>

<?php elseif($this->getIsRateRequest()): ?>
<div><strong><?php echo sprintf($helper->__('There are no shipping methods available for %s warehouse.'), $warehouse->getTitle()) ?></strong></div>
<?php else: ?>
<div id="order-shipping-method-summary-<?php echo $stockId ?>">
    <a href="#" onclick="order.loadShippingRates();return false">
        <?php echo Mage::helper('sales')->__('Get shipping methods and rates') ?>
    </a>
    <input type="hidden" name="order[has_shipping]" value="" class="required-entry">
</div>
<?php endif; ?>


<?php endforeach; ?>
<?php else : ?>
<!-- End Warehouse -->


<?php if($_shippingRateGroups = $this->getShippingRates()): ?>
    <div id="order-shipping-method-choose" style="display:none">
    <dl class="shipment-methods">
    <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
        <dt><strong><?php echo $this->escapeHtml($this->getCarrierName($code)) ?></strong></dt>
        <dd>
            <ul>
            <?php foreach ($_rates as $_rate): ?>
                <?php $_radioProperty = 'name="order[shipping_method]" type="radio" onclick="order.setShippingMethod(this.value)"' ?>
                <?php $_code=$_rate->getCode() ?>
                <li>
                   <?php if ($_rate->getErrorMessage()): ?>
                        <ul class="messages">
                            <li class="error-msg"><?php echo $this->escapeHtml($_rate->getErrorMessage()) ?></li>
                        </ul>
                   <?php else: ?>
                        <?php $_checked = $this->isMethodActive($_code) ? 'checked="checked"' : '' ?>
                        <input <?php echo $_radioProperty ?> value="<?php echo $_code ?>" id="s_method_<?php echo $_code ?>" <?php echo $_checked ?>/>
                        <label class="normal" for="s_method_<?php echo $_code ?>">
                            <?php echo $this->escapeHtml($_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription()) ?> -
                            <strong>
                                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

                                <?php echo $_excl; ?>
                                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                <?php endif; ?>
                            </strong>
                        </label>
                   <?php endif ?>
                </li>
            <?php endforeach; ?>
            </ul>
        </dd>
    <?php endforeach; ?>
    </dl>
    </div>
    <?php if ($_rate = $this->getActiveMethodRate()): ?>
        <div id="order-shipping-method-info">
            <strong><?php echo $this->getCarrierName($_rate->getCarrier()) ?></strong><br/>
            <?php echo $_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription() ?> -
            <strong>
                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

                <?php echo $_excl; ?>
                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                <?php endif; ?>
            </strong>
            <!--input type="text" class="input-text" style="width:70px"/-->
            <br/>
            <a href="#" onclick="$('order-shipping-method-info').hide();$('order-shipping-method-choose').show();return false">
                <?php echo Mage::helper('sales')->__('Click to change shipping method') ?>
            </a>
        </div>
    <?php else: ?>
        <script type="text/javascript">$('order-shipping-method-choose').show();</script>
    <?php endif; ?>
<?php elseif($this->getIsRateRequest()): ?>
    <strong><?php echo Mage::helper('sales')->__('Sorry, no quotes are available for this order at this time.') ?></strong>
<?php else: ?>
    <div id="order-shipping-method-summary">
        <a href="#" onclick="order.loadShippingRates();return false">
            <?php echo Mage::helper('sales')->__('Get shipping methods and rates') ?>
        </a>
        <input type="hidden" name="order[has_shipping]" value="" class="required-entry" />
    </div>
<?php endif; ?>
<div style="display:none;" id="shipping-method-overlay" class="overlay"><span><?php echo $this->__('Shipping method selection is not applicable') ?></span></div>
<script type="text/javascript">
order.overlay('shipping-method-overlay', <?php if ($this->getQuote()->isVirtual()): ?>false<?php else: ?>true<?php endif; ?>);
order.overlay('address-shipping-overlay', <?php if ($this->getQuote()->isVirtual()): ?>false<?php else: ?>true<?php endif; ?>);
</script>



<!-- Warehouse -->
<?php endif; ?>
<!-- End Warehouse -->