/**
 * Innoexts
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_Warehouse
 * @copyright   Copyright (c) 2013 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */
/**
 * Manage Warehouses
 */
.head-adminhtml-warehouse { 
    background-image: url(../images/warehouse/fugue_building.png);
}
/**
 * Manage Shipping Table Rate Methods
 */
.head-adminhtml-tablerate-method, 
.head-tablerate-method { 
    background-image: url(../images/shippingtablerate/fugue_table_money.png);
}
/**
 * Product Table 
 */
#productGrid_table td .qty-table, 
#productGrid_table td .batch-prices-table { 
    border:0 !important; 
    background: transparent !important; 
    width:100% !important; 
}
#productGrid_table td .qty-table tr, 
#productGrid_table td .batch-prices-table tr { 
    background: transparent !important; 
}
#productGrid_table td .qty-table tr td, 
#productGrid_table td .batch-prices-table tr td { 
    border:0 !important; 
    background: transparent !important; 
}
/**
 * Batch Price 
 */
.batch-price-grid .data {
    width: 465px !important; 
}
.batch-price-grid .data input {  }
/**
 * Batch Special Price 
 */
.batch-special-price-grid .data {
    width: 465px !important;
}
.batch-special-price-grid .data input {  }
/**
 * Tier Price 
 */
.tier-price-grid .data {
    width: 640px !important; 
}
.tier-price-grid .data input {  }
/**
 * Stock Priority
 */
.stock-priority .data { 
    width: 465px; 
}
.stock-priority .data input.priority { 
    width: 50px !important; text-align: left; 
}
/**
 * Stock Shipping Carrier 
 */
.stock-shipping-carrier .data { 
    width: 465px; 
}
.stock-shipping-carrier .data select.shipping-carrier { 
    width: 200px !important; text-align: left; 
}
/**
 * Shelf 
 */
.shelf .data { }
.shelf .data input { 
    width: 585px !important; 
}