<?php echo $this->getIgLightBoxJsConfig() ?>
<?php
$_ig_lightbox_images_count = 0;

$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
?>

<div id="ig-lightbox-back"></div>
<div id="ig-lightbox-image"></div>
<!--<div id="ig-lightbox-loading"></div>-->

<div id="ig-lightbox-name" style="visibility: hidden;background: none repeat scroll 0 0 #F3F3F3;
     height: 35px;
     line-height: 35px;
     position: absolute;
     border:1px solid #DDDDDD;
     text-align: center;">
    <div style="display: block;" id="ig-lightbox-name_str"></div>
</div>

<img id="ig-lightbox-image-src" />
<table id="ig-lightbox-image-commands" style="display:none">
    <tbody>
        <tr>
            <td style="text-align: center" width="64"><a href="#" onclick="ig_lightbox_prev()"><img id="ig-lightbox-prev" src="<?php echo $this->getSkinUrl('images/ig_lightbox/prev.png') ?>" alt="prev" /></a></td>
            <td id="ig-lightbox-image-commands-label-td"><div id="image-label"></div></td>
            <td style="text-align: center" width="64"><a href="#" onclick="ig_lightbox_next()"><img id="ig-lightbox-next" src="<?php echo $this->getSkinUrl('images/ig_lightbox/next.png') ?>" alt="next" /></a></td>
        </tr>
    </tbody>
</table>

<div id="ig-lightbox-image-close" style="display:none"><a href="#" onclick="ig_lightbox_hide()"><img id="ig-lightbox-image-close-img" src="<?php echo $this->getSkinUrl('images/ig_lightbox/close.png') ?>" alt="close" /></a></div>



<a  onclick="ig_lightbox_show(-1,'<?php echo $_product->getName(); ?>');return false;" >
    <?php
    list($width, $height) = $this->getIgLightBoxMainImageSize();
    $_img = '<img id="image" src="' . $this->helper('catalog/image')->init($_product, 'image')->keepFrame(false)->resize($width, $height) . '" alt="' . $this->htmlEscape($this->getImageLabel()) . '" title="' . $this->htmlEscape($this->getImageLabel()) . '" />';
    echo $_helper->productAttribute($_product, $_img, 'image')
    ?>
</a>

<?php
$js_load = array();
if (count($this->getGalleryImages()) > 1) {
    ?>
    <div class="slideshow-wrapper-inner">
        <div id="slideshow-upsell-product" class="slideshow">
            <div class="slideshow-box">
                <ul style="position: relative; top: 0px; left: 0px;" class="products-grid">
                    <?php
                    $c = 0;
                    foreach ($this->getGalleryImages() as $_image) {
                        list($width, $height) = $this->getIgLightBoxBigImageSize();
                        $src = $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->keepFrame(false)->constrainOnly(true)->resize($width, $height);

                        if ($_image->getFile() == $_product->getImage()) {
                            array_push($js_load, "ig_lightbox_main_img=$c;");
                        }

                        $lbl = $this->__("Image %d of %d", $c + 1, sizeof($this->getGalleryImages()));

                        //if ($_image->getLabel())
                            //$lbl.=' - ' . $this->htmlEscape($_image->getLabel());

                        array_push($js_load, "ig_lightbox_img_sequence.push('$src');");
                        array_push($js_load, "ig_lightbox_img_labels.push(" . json_encode($lbl) . ");");

                        list($width, $height) = $this->getIgLightBoxThumbnailImageSize();
                        ?>
                        <li class="item">
                            <a href="#" onclick="ig_lightbox_show('<?php echo $_ig_lightbox_images_count; ?>', '<?php echo $_product->getName(); ?>')">
                                <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->keepFrame(true)->resize($width, $height); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
                            </a>
                        </li>
                        <?php
                        $_ig_lightbox_images_count++;
                        $c++;
                    }
                    ?>
                </ul>

            </div>
            <?php if (count($this->getGalleryImages()) > 0): ?>
                <a href="javascript:void(0)" class="previous">Previous</a>
                <a href="javascript:void(0)" class="next">Next</a>
            <?php endif; ?>
        </div>
    </div>
    <?php
}
else {
    list($width, $height) = $this->getIgLightBoxBigImageSize();
    $src = $this->helper('catalog/image')->init($_product, 'image')->keepFrame(false)->resize($width, $height);

    array_push($js_load, "ig_lightbox_img_sequence.push('$src');");
    array_push($js_load, "ig_lightbox_img_labels.push(" . json_encode($_product->getName()) . ");");
}
?>

<script type="text/javascript">
                Event.observe(window, 'load', function() {
<?php foreach ($js_load as $line)
    echo "$line\n"
    ?>
                });
                function decorateSlideshowUpsellProduct() {
                    var $$li = $$('#slideshow-upsell-product li.item');
                    if ($$li.length > 0) {
                        var ul = $$('#slideshow-upsell-product ul.products-grid')[0];
                        var w = 0;
                        $$li.each(function(li) {
                            w += li.getWidth();
                        });
                        ul.setStyle({'width': w + 'px'});
                        var previous = $$('#slideshow-upsell-product a.previous')[0];
                        var next = $$('#slideshow-upsell-product a.next')[0];
                        var num = 1;
                        var width = ul.down().getWidth() * num;
                        var slidePeriod = 3;
                        var manualSliding = false;
                        function nextSlide() {
                            new Effect.Move(ul, {x: -width, mode: 'relative', queue: 'end', duration: 1.0, afterFinish: function() {
                                    for (var i = 0; i < num; i++)
                                        ul.insert({bottom: ul.down()});
                                    ul.setStyle('left:0');
                                }});
                        }
                        function previousSlide() {
                            new Effect.Move(ul, {x: width, mode: 'relative', queue: 'end', duration: 1.0, beforeSetup: function() {
                                    for (var i = 0; i < num; i++)
                                        ul.insert({top: ul.down('li.item:last-child')});
                                    ul.setStyle({'position': 'relative', 'left': -width + 'px'});
                                }});
                        }
                        function startSliding() {
                            sliding = true;
                        }
                        function stopSliding() {
                            sliding = false;
                        }
                        next.observe('click', function(event) {
                            Event.stop(event);
                            manualSliding = true;
                            nextSlide();
                        });
                        previous.observe('click', function(event) {
                            Event.stop(event);
                            manualSliding = true;
                            previousSlide();
                        });
                    }
                }


                document.observe("dom:loaded", function() {
                    decorateSlideshowUpsellProduct();
                });
</script>
