<?php
    $_layout = $this->getLayout();
    $_dob    = $_layout->createBlock('customer/widget_dob');
    $_gender = $_layout->createBlock('customer/widget_gender');
    $_taxvat = $_layout->createBlock('customer/widget_taxvat');
    $_isCustomerLoggedIn = $this->isCustomerLoggedIn();
    $_address = $this->getAddress();
    $_prefix  = 'billing';

    $status = Mage::getStoreConfig('firecheckout/address_form_status');
    $fields = array(
        'name'  => array(),
        'email' => array(
            'class'  => 'input-text validate-email',
            'label'  => 'Email Address',
            'status' => $_isCustomerLoggedIn ? 'hidden' : 'required'
        ),
        'company' => array(
            'class' => 'input-text',
            'label' => 'Company'
        ),
        'fax' => array(
            'class' => 'input-text',
            'label' => 'Fax'
        ),
        'telephone' => array(
            'class' => 'input-text',
            'label' => 'Telephone'
        ),
        'city' => array(
            'class' => 'input-text',
            'label' => 'City'
        ),
        'postcode' => array(
            'class' => 'input-text validate-zip-international',
            'label' => 'Zip/Postal Code'
        ),
        'street1' => array(
            'class' => 'input-text',
            'label' => 'Address',
            'title' => 'Street Address',
            'name'  => $_prefix . '[street][]',
            'value' => $_address->getStreet(1)
        ),
        'country_id' => array(
            'label' => 'Country',
            'required_to_render' => 1
        ),
        'region' => array(
            'label' => 'City',
            'required_to_render' => 1
        ),
        'dob' => array(
            'status' => (!$_isCustomerLoggedIn && $_dob->isEnabled()) ? 'optional' : 'hidden'
        ),
        'gender' => array(
            'status' => (!$_isCustomerLoggedIn && $_gender->isEnabled()) ? 'optional' : 'hidden'
        ),
        'taxvat' => array(
            'status' => (!$_isCustomerLoggedIn && $_taxvat->isEnabled()) ? 'optional' : 'hidden'
        ),
        'vat_id' => array(
            'status' => $this->helper('customer/address')->isVatAttributeVisible() ? 'optional' : 'hidden',
            'class'  => 'input-text ' . $this->helper('customer/address')->getAttributeValidationClass('vat_id'),
            'label'  => 'VAT Number'
        )
    );
?>

<div id="billing-address" class="firecheckout-section">
    <?php if (!$this->canShip() || !Mage::getStoreConfig('firecheckout/general/shipping_address')): ?>
        <div class="block-title"><span><?php echo $this->helper('checkout')->__('Address'); ?></span></div>
    <?php else: ?>
        <div class="block-title"><span><?php echo $this->helper('checkout')->__('Address'); ?></span></div>
    <?php endif; ?>
    <?php echo $this->getChildHtml('shipping.address') ?>  
    <ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <label for="billing-address-select"><?php echo $this->helper('checkout')->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </li>
        
    <?php endif; ?>
 
    <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <fieldset>
            <input type="hidden" name="billing[address_id]" value="<?php echo $_address->getId() ?>" id="billing:address_id" />
            <ul>
                <?php foreach (Mage::helper('firecheckout/address')->getSortedFields() as $row) : ?>
                    <?php
                        $countVisible          = 0;
                        $countRequiredToRender = 0;

                        foreach ($row as $key => $field) { // do not use break in this cycle to fill statuses for all fields
                            if (!isset($fields[$field])) { // shipping address doesn't has all of the fields
                                unset($row[$key]);
                                continue;
                            }

                            if (empty($status[$field])) {
                                if (!empty($fields[$field]['status'])) {
                                    $status[$field] = $fields[$field]['status'];
                                } else {
                                    $status[$field] = 'required';
                                }
                            }
                            if (!empty($fields[$field]['required_to_render'])) {
                                $countRequiredToRender++;
                            }
                            if ('hidden' !== $status[$field]) {
                                $countVisible++;
                            }
                        }

                        $isMulticolumn = ($countVisible > 1 || current($row) == 'name');
                    ?>

                    <?php if (!$countVisible && !$countRequiredToRender): continue; endif; ?>

                    <li class="<?php echo $isMulticolumn ? 'fields' : 'wide' ?>"<?php echo $countVisible ? '' : ' style="display: none;"' ?>>
                        <?php foreach ($row as $field) : ?>
                            <?php $required = ('required' === $status[$field]); ?>

                            <?php if ('name' === $field) : ?>
                                <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($_address)->setFieldIdFormat($_prefix . ':%s')->setFieldNameFormat($_prefix . '[%s]')->toHtml() ?>
                            <?php else : ?>

                                <?php if ('hidden' === $status[$field]) :
                                    if (empty($fields[$field]['required_to_render'])) :
                                        continue;
                                    endif; ?>

                                    <div style="display: none;">
                                <?php endif; ?>

                                <?php if ($isMulticolumn) : ?>
                                    <div class="field">
                                <?php endif; ?>

                                <?php if ('dob' === $field): ?>
                                    <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat($_prefix . ':%s')->setFieldNameFormat($_prefix . '[%s]')->toHtml() ?>
                                <?php elseif ('gender' === $field): ?>
                                    <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat($_prefix . ':%s')->setFieldNameFormat($_prefix . '[%s]')->toHtml() ?>
                                <?php elseif ('taxvat' === $field): ?>
                                    <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat($_prefix . ':%s')->setFieldNameFormat($_prefix . '[%s]')->toHtml() ?>
                                <?php else: ?>
                                    <label for="<?php echo $_prefix ?>:<?php echo $field ?>"
                                        class="<?php echo $required ? 'required' : '' ?>"
                                        ><?php if ($required): ?><?php endif; ?><?php echo $this->__($fields[$field]['label']) ?><em>*</em></label>
                                    <div class="input-box">
                                        <?php if ('country_id' === $field) : ?>
                                            <?php echo $this->getCountryHtmlSelect($_prefix) ?>
                                        <?php elseif ('region' === $field): ?>
                                            <select id="<?php echo $_prefix ?>:region_id" name="<?php echo $_prefix ?>[region_id]"
                                                title="<?php echo (empty($fields[$field]['title']) ? $this->__($fields[$field]['label']) : $this->__($fields[$field]['title'])) ?>"
                                                class="validate-select<?php echo $required ? ' required-entry' : '' ?>" style="display:none;"
                                            >
                                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                            </select>
                                            <script type="text/javascript">
                                            //<![CDATA[
                                                $('<?php echo $_prefix ?>:region_id').setAttribute('defaultValue',  "<?php echo $_address->getRegionId() ?>");
                                            //]]>
                                            </script>
                                            <input type="text" id="<?php echo $_prefix ?>:region" name="<?php echo $_prefix ?>[region]"
                                                value="<?php echo $this->escapeHtml($_address->getRegion()) ?>"
                                                title="<?php echo (empty($fields[$field]['title']) ? $this->__($fields[$field]['label']) : $this->__($fields[$field]['title'])) ?>"
                                                class="input-text<?php echo $required ? ' required-entry' : '' ?>" style="display:none;"
                                            />
                                        <?php else: ?>
                                            <?php
                                                if (isset($fields[$field]['value'])):
                                                    $value = $fields[$field]['value'];
                                                else:
                                                    $method = 'get' . ucfirst($field);
                                                    $value = $_address->{$method}();
                                                endif;
                                            ?>
                                            <input type="text"
                                                name="<?php echo (empty($fields[$field]['name']) ? $_prefix . '[' . $field . ']' : $fields[$field]['name']) ?>"
                                                id="<?php echo $_prefix ?>:<?php echo $field ?>"
                                                value="<?php echo $this->escapeHtml($value) ?>"
                                                title="<?php echo (empty($fields[$field]['title']) ? $this->__($fields[$field]['label']) : $this->__($fields[$field]['title'])) ?>"
                                                class="<?php echo $fields[$field]['class'] ?><?php echo $required ? ' required-entry' : '' ?>"
                                            />
                                        <?php endif ?>
                                    </div>
                                <?php endif; ?>

                                <?php if ($isMulticolumn) : ?>
                                    </div>
                                <?php endif; ?>

                                <?php if ('hidden' === $status[$field]) : ?>
                                    </div>
                                <?php endif; ?>

                            <?php endif; ?>

                            <?php if ('street1' === $field) : ?>
                                <?php for ($_i = 3, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                                    </li>
                                    <li class="wide">
                                        <div class="input-box">
                                            <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="<?php echo $_prefix ?>[street][]" id="<?php echo $_prefix ?>:street<?php echo $_i?>" value="<?php echo $this->escapeHtml($_address->getStreet($_i)) ?>" class="input-text" />
                                        </div>
                                <?php endfor ?>
                            <?php endif; ?>

                        <?php endforeach; ?>
                    </li>
                <?php endforeach; ?>

                <?php if (!$this->isCustomerLoggedIn()) : ?>
                    <?php
                        $registrationMode = Mage::getStoreConfig('firecheckout/general/registration_mode');
                        $register = $this->getRegisterAccount();
                    if ('optional' == $registrationMode || $register) : ?>
                        <li class="control">
                            <input type="checkbox" name="billing[register_account]" value="1" title="<?php echo $this->__('Create account for later use') ?>" id="billing:register_account" onclick="if(window.billing) billing.setCreateAccount(this.checked);"<?php if ($register):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:register_account"><?php echo $this->__('Create account for later use') ?></label>
                        </li>
                    <?php else: ?>
                        <li class="no-display">
                            <input type="hidden" name="billing[register_account]" value="1"/>
                        </li>
                    <?php endif ?>
                    <?php if ('hidden' !== $registrationMode || $register) : ?>
                        <li class="fields" id="register-customer-password" <?php if ('optional' == $registrationMode && !$register) : ?>style="display: none;" <?php endif; ?>>
                            <div class="field">
                                <label for="billing:customer_password" class="required"><?php echo $this->__('Password') ?><em>*</em></label>
                                <div class="input-box">
                                    <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="billing:confirm_password" class="required"><?php echo $this->__('Confirm Password') ?><em>*</em></label>
                                <div class="input-box">
                                    <input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
                                </div>
                            </div>
                        </li>
                    <?php endif; ?>
                <?php endif; ?>
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                    <li class="control">
                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" <?php if ($_address->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; ?>
               <!-- <?php if (Mage::helper('firecheckout')->canShowNewsletter()) : ?>
                    <p class="newsletter">
                        <input type="checkbox" id="newsletter-signup" name="newsletter" value="1" checked="checked" title="<?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>" class="checkbox" />
                        <label for="newsletter-signup">
                            <strong><?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?></strong>
                        </label>
                    </p>
                <?php endif; ?>-->
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </ul>
        </fieldset>
    </li>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('checkout.onepage.billing.extra')?>
    </ul>
    <?php if (!$this->canShip() || !Mage::getStoreConfig('firecheckout/general/shipping_address')): ?>
        <input type="hidden" name="billing[use_for_shipping]" value="1" />
    <?php else: ?>
        <input type="hidden" name="billing[use_for_shipping]" id="billing:use_for_shipping" value="<?php if ($this->isUseBillingAddressForShipping()):?>1<?php else:?>0<?php endif; ?>" />
    <?php endif; ?>
    <script type="text/javascript">
    //<![CDATA[
        var billing = new Billing();
        RegionUpdater.prototype.setMarkDisplay = function(){};
        ZipUpdater.prototype._setPostcodeOptional = function(){};
        var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
    //]]>
    </script>
</div>

