<?php if (Mage::getStoreConfig('socialsuite/general/enabled')) : ?>
    <?php if (Mage::getStoreConfig('socialsuite/facebook_share/enabled_review')) : ?>
        <?php $product = Mage::registry('current_product'); ?>
        <div id='fb-root-share-wishlist'></div>

        <script src='http://connect.facebook.net/en_US/all.js'></script>
        <script>
          FB.init({
              appId: <?php echo Mage::getStoreConfig('socialsuite/general/appid'); ?>,
              status: true,
              cookie: true
          });

          function postToFeed() {
            // calling the API ...
            var review = $$('ul.form-list li div.input-box textarea#review_field')[0].value;

            var obj = {
              method: 'feed',
              link: '<?php echo $product->getProductUrl() ?>',
              picture: '<?php echo $product->getImageUrl() ?>',
              name: '<?php echo $product->getName() ?>',
              caption: '<?php echo Mage::helper('socialsuite')->__("I just posted review:") ?>',
              description: review
            };

            function callback(response) {
                var button = $$('div.form-add div.buttons-set button.button')[0];
                $('review-form').submit();
            }
            FB.ui(obj, callback);
          }

          function prepareObserver() {
              var button = $$('div.form-add div.buttons-set button.button');
              button.each(function(el) {
                  Event.observe(el, 'click', function(e) {
                      e.stop();
                      if ($('socialsuite-share-review').checked) {
                          postToFeed();
                      }

                  });
              });
          }

          function addFacebookShareButton() {
              var panelButton = $$('div.form-add div.buttons-set')[0];
              if (undefined == panelButton) {
                    return;
              }
              var html = panelButton.innerHTML;

              var check = '<input type="checkbox" id="socialsuite-share-review" name="shareReview"> '
                  + ' <?php echo Mage::helper("socialsuite")->__("Share via Facebook") ?>';

                  panelButton.innerHTML = check + html;
          }
          if (Prototype.Browser.IE) {
              Event.observe(window, 'load', function(){ //KB927917 fix
                  addFacebookShareButton();
                  prepareObserver();
              });
          } else {
              document.observe("dom:loaded", function(){
                  addFacebookShareButton();
                  prepareObserver();
              });
          }
        </script>
    <?php endif; ?>
<?php endif; ?>