<?php if (Mage::getStoreConfig('socialsuite/general/enabled')) : ?>
    <?php if (Mage::getStoreConfig('socialsuite/facebook_share/enabled_wishlist')) : ?>
        <div id='fb-root-share-wishlist'></div>
        <script src='http://connect.facebook.net/en_US/all.js'></script>
        <script>
          var actions = <?php echo Zend_Json::encode($this->getWishlistProductsDataShare())?>;
          FB.init({
              appId: <?php echo Mage::getStoreConfig('socialsuite/general/appid'); ?>,
              status: true,
              cookie: true
          });

          function postToFeed() {
            // calling the API ...
            var obj = {
              method: 'feed',
              link: '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>',
              picture: '<?php echo $this->getSkinUrl() . Mage::getStoreConfig('design/header/logo_src'); ?>',
              name: '<?php echo htmlspecialchars(trim(Mage::app()->getStore()->getFrontendName())); ?>',
              caption: '<?php echo Mage::helper('socialsuite')->__("I just add to wishlist next products:") ?>',
              description: ' ',
              properties: actions,
            };

            function callback(response) {
            }
            FB.ui(obj, callback);
          }
          function addFacebookShareButton() {
              var panel = $$('div.my-wishlist div.buttons-set')[0];
              if (undefined == panel) {
                    return;
              }
              var html = panel.innerHTML;
              var button = '<button type="submit" onclick="postToFeed(); return false;"'
                  + ' title="<?php echo Mage::helper("socialsuite")->__("Share via Facebook") ?>"'
                  + ' class="button btn-share"><span>'
                  + '<span><?php echo Mage::helper("socialsuite")->__("Share via Facebook") ?></span></span></button>';
              panel.innerHTML = button + html;
          }
          if (Prototype.Browser.IE) {
              Event.observe(window, 'load', function(){ //KB927917 fix
                  addFacebookShareButton();
              });
          } else {
              document.observe("dom:loaded", function(){
                  addFacebookShareButton();
              });
          }
        </script>
    <?php endif; ?>
<?php endif; ?>