<?php
/**
 * Innoexts
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_Warehouse
 * @copyright   Copyright (c) 2013 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */
?>

<!-- Warehouse -->
<?php $helper                       = $this->helper('warehouse') ?>
<?php $config                       = $helper->getConfig() ?>
<!-- End Warehouse -->

<?php $order = $this->getOrder(); ?>
<h1><?php echo $this->__('Order #%s', $this->getObjectData($order, 'real_order_id')); ?></h1>
<p class="order-date"><?php echo $this->__('Order Date: %s', $this->formatDate($this->getObjectData($order, 'created_at_store_date'), 'long')) ?></p>

<!-- Warehouse -->
<?php if ($config->isInformationVisible()) : ?>
<p class="order-date order-warehouse">
    <?php echo $helper->__('Order Warehouse: ') ?>
    <?php if ($order->isMultipleWarehouse()) : ?>
    <?php echo implode($helper->__(', '), $order->getWarehouseTitles()) ?>
    <?php elseif ($order->getWarehouse()) : ?>
    <?php echo $order->getWarehouseTitle() ?>
    <?php else : ?>
    <?php echo $helper->__('No warehouse') ?>
    <?php endif ?>
</p>
<?php endif ?>
<!-- End Warehouse -->

<?php if (!$this->getObjectData($order, 'is_virtual')): ?>
<?php foreach ($this->getShipmentsCollection() as $shipment): ?>
    <h2 class="h2"><?php echo $this->__('Shipment #%s', $this->getObjectData($shipment, 'increment_id')); ?></h2>
    <div class="col2-set">
        <div class="col-1">
            <h3><?php echo $this->__('Shipping Address') ?></h3>
            <address><?php echo $this->getShipmentAddressFormattedHtml($shipment); ?></address>
        </div>
        <div class="col-2">
            <h3><?php echo $this->__('Billing Address') ?></h3>
            <address><?php echo $this->getBillingAddressFormattedHtml($order); ?></address>
        </div>
    </div>
    <div class="col2-set">
        <div class="col-1">
            <h3><?php echo $this->__('Shipping Method') ?></h3>
             <?php echo $this->escapeHtml($this->getObjectData($order, 'shipping_description')); ?>
             <?php $tracks = $this->getShipmentTracks($shipment); 
                if ($tracks): ?>
                <table class="data-table" id="my-shipment-tracking">
                    <col />
                    <col />
                    <thead>
                        <tr>
                            <th><?php echo Mage::helper('sales')->__('Title')?></th>
                            <th><?php echo Mage::helper('sales')->__('Number')?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($tracks as $track): ?>
                            <tr>
                                <td><?php echo $this->escapeHtml($this->getObjectData($track, 'title')); ?></td>
                                <td><?php echo $this->escapeHtml($this->getObjectData($track, 'number')); ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                <script type="text/javascript">decorateTable('my-shipment-tracking');</script>
            <?php endif; ?>
        </div>
        <div class="col-2">
            <h3><?php echo $this->__('Payment Method') ?></h3>
            <?php echo $this->getPaymentInfoHtml() ?>
        </div>
    </div>
    <h3><?php echo $this->__('Items Shipped') ?></h3>
    <table class="data-table" id="my-shipment-table-<?php echo $this->getObjectData($shipment, 'id') ?>">
        <col />
        <col width="1" />
        <col width="1" />
        
        <!-- Warehouse -->
        <?php if ($config->isInformationVisible()) : ?>
        <col width="1" />
        <?php endif ?>
        <!-- End Warehouse -->
        
        <thead>
            <tr>
                <th><?php echo $this->__('Product Name') ?></th>
                <th><?php echo $this->__('SKU') ?></th>
                <th class="a-center"><span class="nobr"><?php echo $this->__('Qty Shipped') ?></span></th>
                
                <!-- Warehouse -->
                <?php if ($config->isInformationVisible()) : ?>
                <th><?php echo $helper->__('Warehouse') ?></th>
                <?php endif ?>
                <!-- End Warehouse -->
                
            </tr>
        </thead>
        <?php foreach ($this->getShipmentItems($shipment) as $item): ?>
        <tbody>
            <?php echo $this->getItemHtml($item) ?>
        </tbody>
        <?php endforeach; ?>
    </table>
    <script type="text/javascript">decorateTable('my-shipment-table-<?php echo $this->getObjectData($shipment, 'id')?>', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
<?php endforeach; ?>
<?php endif; ?>
<script type="text/javascript">window.print();</script>