<?php
/**
 * SFC - Featured Catagories Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to support@storefrontconsulting.com so we can send you a copy immediately.
 *
 *
 * @package    SFC_FeaturedCategories
 * @copyright  (C)Copyright 2010 StoreFront Consulting, Inc (http://www.StoreFrontConsulting.com/)
 * @author     Adam Lundrigan
 */

$_categories = $this->getFeaturedCategories();
$_catNo = 0;
?>

<div class="featured-cat-block">
	<div class="featured-cat-title"><h2>Featured Categories</h2></div>
	<div class="featured-cat-content">
    <script> var x = document.body.clientWidth;
document.cookie = "screenx=" + x;</script>
<?php  $screenx = $_COOKIE['screenx'];

?>
    <?php $i=0; $a=0; $j=0;?>
     <?php  $_columnCount = 5;?>
   
     <?php $_lieCount = 4; ?>
		<?php
		foreach ( $_categories as $FeaturedGroup ):
    		if ( isset($FeaturedGroup['Category']) ):
		?>
          
           <?php if($j++%5==0):?>
		           <ul class="fac<?php echo $j;?>">
            <?php endif ?>
            <li class="featured-cat <?php if((($_catNo++-$_lieCount) % $_columnCount) == 0) echo 'featured-cat-right'; ?>">
				<div class="cat-image">
					<a href="<?php echo $FeaturedGroup['Category']->getUrl(); ?>">
						<img 
							src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$FeaturedGroup['Category']->getData('thumbnail'); ?>" 
							border="0" width="180" height="180" />
					</a>
				</div>
				<div class="cat-title">
                    <a href="<?php echo $FeaturedGroup['Category']->getUrl(); ?>">
                             <?php echo $FeaturedGroup['Category']->getName(); ?>
                    </a>
                </div>
				<ul>
					<?php
					if ( isset($FeaturedGroup['Subcats']) && count($FeaturedGroup['Subcats']) > 0 ) {
					   $a=0;
						foreach ( $FeaturedGroup['Subcats'] as $SubCat ) {
						  $a++;
					?>
                   
						<li>
                            <a href="<?php echo $SubCat->getUrl(); ?>">
                                     <?php echo  Mage::helper("core/string")->truncate($SubCat->getName(),25); ?>
                            </a>
                       </li>
                        
					<?php if($a >=3){ break;}                    
                      
                    }} ?>
				 <span class="more">
                   <a href="<?php echo $FeaturedGroup['Category']->getUrl(); ?>">
                         <?php echo $this->__('More Wholesale Product >>')?>
                   </a>
                  </span>
               </ul>
               
              </li>
                <?php if($j%$_columnCount==0): ?>
			                 </ul>
             
                  
                 <?php endif?>
                 
             <?php if($j>=10){break;} ?>
          
      
		<?php endif;?>
        <?php endforeach;?>
	
	
	</div>
</div>
