@font-face {
    font-family: "HelveticaLTStd-roman";
    font-weight: normal;
    src: url("fonts/HelveticaLTStd-Roman.otf") format("truetype");
}
@font-face {
    font-family: "HelveticaLTStd-bold";
    font-weight: bold;
    src: url("fonts/HelveticaLTStd-Bold.otf") format("truetype");
}



.groupdeal-index-index #messages_product_view {
	background:url(../../images/group_title.jpg)  no-repeat;
	margin:20px 0 15px 25px;
	height:65px;
}
#group-deal-list {
	width:1200px;
	margin:0 auto;
}
#group-deal-list .groupdeals-top {
	width:575px;
	float:left;
	margin-bottom:15px;
}
.groupdeals-top.first  {
	display:inline;
	margin-right:50px;
}
.groupdeals-top li.item {
	zoom:1;
	position:relative;
}
.groupdeals-top .info {
	float:left; 
	width:230px;
	padding:10px;
	height:395px;
	border:1px solid #E6E6E6;
}
.groupdeals-top .info .show_price {
	background:url(../../images/price_tag.png) no-repeat;
	width:253px;
	height:77px;
	line-height:77px;
	position:absolute;
	left:-25px;
	top:6px;
}
.groupdeals-top .info .show_price span {
	display:block;
	color:#e80505;
	font-size:20px;
	padding-left:142px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.groupdeals-top .info .other_price {
	margin-top:80px;
	border-bottom:1px solid #c6c6c6;
	padding-bottom:8px;
	margin-bottom:10px;
}
.groupdeals-top .info .other_price ul {
	overflow:hidden;
	zoom:1;
	font-size:14px;
}
.groupdeals-top .info .other_price ul li {
	float:left;
	width:33%;
	text-align:center;
	line-height:22px;
	color:#727171;
}
.groupdeals-top .info .other_price ul.value li {
	color:#000000;
	font-weight:bold;
	font-size:12px;
} 
.groupdeals-top .info .time-box {
	border-bottom:1px solid #c6c6c6;
	padding:8px 0 15px 0;
	
}
.groupdeals-top .info .time-box dl.first {
	overflow:hidden;
	zoom:1;
}

.groupdeals-top .info .time-box span.time-text {
	background:url(../../images/clock.png) left center no-repeat;
	padding-left:20px;
	color:#000000;
	display:block;
	height:22px;
	line-height:22px;
}
.groupdeals-top .info .time-box span.price {
	background:url(../../images/time.png) no-repeat;
	display:block;
	width:95px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#ff4d0b;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.groupdeals-top .info .amount {
	border-bottom:1px solid #c6c6c6;
	padding:12px 0 12px 6px;
}
.groupdeals-top .info .amount .title  {
	color:#000;
	line-height:22px;
	font-size:12px;
	font-weight:bold;
}
.groupdeals-top .info .amount .progess-bar {
	background:url(../../images/bar.png) no-repeat;
	width:212px;
	height:6px;
	margin:5px 0;
}
.groupdeals-top .progess-line{ 
	background:url("../../images/bar_color.png") no-repeat; 
	position:relative; 
	height:10px;
}
.groupdeals-top .info .amount .progess-point {
	background:url(../../images/boll.png) no-repeat;
	width:13px;
	height:13px;
	position:relative;
	top:16px;
	z-index:999;
}
.groupdeals-top .info .amount .quantity-number {
	width:200px;
	padding:0 6px;
	overflow:hidden;
	zoom:1;
}
.groupdeals-top .info .amount .quantity-number .min-quantity {
	display:block;
	float:left;
}
.groupdeals-top .info .amount .quantity-number .max-quantity {
	float:right;
}
.groupdeals-top .info .amount .more {
	display:block;
	padding:5px 0;
	font-size:11px;
	color:#6f6f6f;
}
.groupdeals-top .info .buy-item {
	padding:15px 0 5px 0;
	text-align:center;
}
.groupdeals-top .info .buy-item dl.first {
	display:none;
}
.groupdeals-top .info .buy-item button.btn-cart {
	background:url(../../images/buy.png) no-repeat;
	width:130px;
	height:40px;
	border:none;
}
.groupdeals-top .info .buy-item button.btn-cart span{
    border: 0 none;
    background: none transparent;
	padding: 0;
	font-size:0px;
}

#group-deal-list .groupdeals-top .group_img {
	width:300px;
	float:left;
	border-top:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	height:395px;
	padding:10px;	
}
#group-deal-list .groupdeals-top .group_img .addthis {
	margin-top:10px;
}
.groupdeals-top .group_img .addthis .addthis_toolbox { width:150px; margin:0 auto; } 
.groupdeals-top .group_img .product-name {
	font-size:18px;
	padding:5px 0 5px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.groupdeals-top .group_img .product-name a {
	color:#181818;
}
.groupdeals-top .group_img  .product-image {
	display:block;
	width:298px;
	height:298px;
	border:1px solid #e6e6e6;
}
.groupdeals-top .group_img  .product-image img {
	width:298px;
}



#group-deal-list .groupdeals-grid.last {
	clear:both;
}

.groupdeals-grid {
	overflow:hidden;
	zoom:1;
	padding-top:30px;
	clear:both;
}
.groupdeals-grid li.item {
	float:left;
	width:280px;
	border:1px solid #e6e6e6;
	display:inline;
	margin-right:24px;
	position:relative;
}
#group-deal-list .groupdeals-grid li.last{ 
	margin-right:0
}
.groupdeals-grid .product-image {
	width:278px;
	height:260px;
	display:block;
	border-bottom:1px solid #E6E6E6;
}
.groupdeals-grid .name-tag{
	background:url(../../images/gp.png) no-repeat;
	width:117px;
	height:43px;
	position:absolute;
	top:22px;
	left:0px;
}
.groupdeals-grid .product-name{
	margin:5px 2px 5px 10px;
}
.groupdeals-grid .product-name a {
	display:block;
	line-height:20px;
	color:#333;
}
.groupdeals-grid .inf-box {
	overflow:hidden;
	zoom:1;
	 padding:0 0 0 10px;
	 line-height:25px;
}
.groupdeals-grid .inf-box dl {
	float:left;
	margin-right:8px;
	display:inline;
}
.groupdeals-grid  dl.first .special-price .price {
	color:#6d6e71;
	font-size:12px;
	font-weight:normal;
}
.groupdeals-grid .special-price .price {
	color:#d7000f;
	font-size:20px;
}

.groupdeals-grid .buy-item {
	background:#f0f0f0;
	height:56px;
	margin-top:5px;	
	border-top:1px solid #E6E6E6;
}
.groupdeals-grid .buy-item dl.first {
	padding:8px 0px 0 10px;
	color:#d7000f;
}
.groupdeals-grid .buy-item dl {
	padding:10px 0 0 50px;
}
.groupdeals-grid .buy-item dl a {
	background:url(../../images/view.png) no-repeat;
	width:85px;
	height:33px;
	border:none;
	padding:0px;
	display:block;
	font-size:0px;
}
.groupdeals-grid .buy-item dl button.button span span {
	font-size:0px;
	text-indent:9999em;
	background:none;
}




/*.groupdeal page*/
.groupdeal_detail {
	width:990px;
	margin:20px auto 0;
	zoom:1;
	
}
.groupdeal_detail .groupdeal {
	border-top:none;
	width:725px;
	float:left;
	padding:0px;
	margin:0px;	
}
.groupdeal_detail .right-sidebar {
	width:240px;
	float:right;
}
.groupdeal .top{
	padding-bottom:8px;
}
.groupdeal .title {
	color: #000;
	font-weight: bold;
	margin: 0 10px 5px;
	font-size:20px;
}
.groupdeal .description {
	color: #989494;
	font-size: 14px;
    margin: 8px 10px;
}
.groupdeal .group_content {
	position:relative;
	padding:10px;
	border:1px solid #E6E6E6;
} 
.group_content .left {
    float: left;
    width: 300px;
}
.group_content .right {
    float: right;
    width: 386px;
}
.group_content .add-to-cart{ 
	background:url(../../images/groupdeal/pricetag.png) no-repeat; 
	 height: 72px;
    left: -18px;
    line-height: 72px;
    position: absolute;
    top: 10px;
    width: 337px;
}
.group_content .add-to-cart .price{ 
	  color: #E80505;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding-left: 190px;
}
.groupdeal .discount{ 
    border-bottom: 1px solid #C6C6C6;
    margin-bottom: 10px;
    margin-top: 76px;
    padding-bottom: 8px;
	overflow:hidden;
	zoom:1;
}
.groupdeal .discount dl{ 
	float:left; 
	width:90px; 
	text-align:center;
	font-size:16px;
	color:#000;
	line-height:25px;
}
.groupdeal .discount dl dt{ 
	color:#727171;
}
.groupdeal .time{
	border-bottom: 1px solid #C6C6C6;
    padding: 8px 0 15px;
}
.groupdeal .time-image{ 
	display:none;
}
.groupdeal .time dl{ 
	overflow:hidden; 
	zoom:1;
 }
.groupdeal .time dt{
	float:left; 
	background: url("../../images/clock1.png") no-repeat scroll left center transparent;
    color: #000000;
    display: block;
    height: 25px;
    line-height: 22px;
    padding-left: 25px;
	padding-right:5px;
	padding-top:5px;
}
.groupdeal .time dd{
	float:left;
	background: url("../../images/time1.png") no-repeat scroll 0 0 transparent;
    color: #FF4D0B;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 147px;
	font-weight:bold;
}


.groupdeal .number-sold{
	border-bottom: 1px solid #C6C6C6;
    padding: 12px 0 12px 6px;
}
.groupdeal .status{
	color: #000000;
    line-height: 22px;
}
.groupdeal #deal-waiting {
	position:relative;
} 
.groupdeal .progess-point{
	 background: url("../../images/boll.png") no-repeat scroll 0 0 transparent;
    height: 13px;
    position: relative;
    top: 16px;
    width: 13px;
	z-index:999;
}
.groupdeal .progess-bar{ 
	background: url("../../images/bar1.png") no-repeat scroll 0 0 transparent;
    height: 6px;
    margin: 5px 0;
    width: 296px;
}
.groupdeal .progess-line{ 
	background:url("../../images/bar_color1.png") no-repeat; 
	position:relative; 
	height:10px;
}
.groupdeal .quantity-number{
	overflow: hidden;
    padding: 0 6px;
    width: 282px;
}
.groupdeal .min-quantity{ 
	float:left;
	display:block;
}
.groupdeal .max-quantity{ 
	float:right;
	display:block;
}
.groupdeal .remain-quantity{ 
	font-size:12px; 
	clear:both; 
	padding:5px 0;
}
.groupdeal .btn_bottom {
	text-align:center;
	padding:30px 0 20px 0;	
}
.groupdeal #buynow{
	 background: url("../../images/buy.png") no-repeat scroll 0 0 transparent;
     height: 40px;
     width: 130px;
	 border:none;
}
.groupdeal .what-happen{
	display:none;
}

.group_content .right .product-img-box {
	width:386px;
}
.groupdeal #deal-image{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DFDFDF;
    margin-bottom: 10px;
    position: relative;
    width: 384px;
	height:322px;
}
.groupdeal #deal-image .prev {
    float: left;
    margin-left: 3px;
}
.groupdeal #deal-image .next {
    float: right;
    margin-right: 4px;
}
.groupdeal #deal-image .nav-slider {
    font-size: 60px;
    height: 70px;
    margin-top: 100px;
    opacity: 0.4;
    position: relative;
    width: 30px;
    z-index: 100;
}

.groupdeal #deal-image img {
	left: 0;
    margin: 3px;
    position: absolute;
    top: 0;
	width:380px;

}


.groupdeal .product-collateral {
	margin-top:24px;
}
.groupdeal-index-deal .product_tab .product_title {
	padding-left:0px;
}
.groupdeal-index-deal .product_tab .product_title li {
	width:25%;
}


.right-sidebar {
	border:1px solid #cfcece;
	margin-bottom:20px;
}
.right-sidebar .block-title {
    background: url("../../images/groupdeal/up_bg.png") repeat-x scroll 0 0 transparent;
	border-bottom:1px solid #cfcece;
	height:28px;
	line-height:28px;
}
.right-sidebar .block-title strong {
	color: #333333;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 15px;
	
}
.right-sidebar .block-related .block-content  {
	padding:0px;
}
.right-sidebar .right_top_deal {
	position:relative;
}
.right-sidebar .right_top_deal .newdeal-tag {
	 background: url("../../images/gp1.png") no-repeat scroll 0 0 transparent;
    height: 32px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 87px;
	
}
.right-sidebar .right_top_deal h4 {
	margin-left:100px;
	line-height:16px;
}
.right-sidebar .right_top_deal h4 a {
	color:#333;
	font-size:12px;
	font-weight:normal;
}
#mini-deals-list .item  {
	border-bottom:1px solid #cfcece;
	padding-bottom:10px;
}
#mini-deals-list .item.last {
	border-bottom:none;
}
#mini-deals-list .right_mid_deal {
	padding:0 5px;
}
#mini-deals-list .product-image{ 
	width:90px; 
	height:90px; 
}
#mini-deals-list .product-image img {
	width:90px;
	height:90px;
}
#mini-deals-list .deal-info-price{ 
	margin: 6px 0 0 100px;
}
#mini-deals-list .deal-value {
	color:#7b7b7b;
	font-size:14px;
	text-decoration: line-through;
}
#mini-deals-list .deal-price{
	color:#ff4900;
	font-size:18px;
	font-weight:bold;
}
#mini-deals-list .view  {
	margin-top:5px;
}
#mini-deals-list .view  a {
	 background: url("../../images/view.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    font-size: 0;
    height: 33px;
    padding: 0;
    width: 85px;
}
.groupdeal_detail .right-sidebar .newsletter  {
	display:none;
}





.for-friends{ border:1px solid #64C8E2; border-top:0; background: #CFEEF6; height:30px; padding:5px 0 0 8px;}
*html .for-friends{ height:35px;}
.for-friends a{ display:block; padding:4px 0 0 42px;}




.groupdeal .share{border:1px solid #98C267; background:#DDEDCC; margin-top:7px; padding:5px; font-size:12px; text-align:center;}
.groupdeal .share-title{ text-align:center; font-weight:bold; font-size:18px;}
.groupdeal .share-content{ padding: 5px 0 0 5px;}
.groupdeal .google{ float:left;}
.groupdeal .facebook{ float:left; width:58px;}
.groupdeal .twitter{ float:left; margin: -2px 20px 0 20px;}


.groupdeal .image{ width:300px; height:200px;border:1px solid #64C8E2; background:#FFFFFF; padding:3px;}
.clear{ clear:both}
.groupdeal .thefineprint ,.groupdeal .highlights{ width:200px; float:left;}
.groupdeal .thefineprint{ margin-right:10px;}
.groupdeal .thefineprint-title, .groupdeal .highlights-title{ font-size:16px; font-weight:bold; margin-bottom:5px;}
.groupdeal .thefineprint-content, .groupdeal .highlights-content{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;}
.groupdeal .thefineprint-content ul, .groupdeal .highlights-content ul{ list-style-type:disc; list-style-position:outside}
.groupdeal .thefineprint-content li, .groupdeal .highlights-content li{ margin-left:18px;}

.bottom-content{ margin-top:15px;}
.inner-content{ margin-left: 6px;}
.vender-name{ font-size:16px; font-weight:bold;}
.vender-website{ font-size:13px;}
.full-description {margin:10px 3px 0; text-align:justify; font-family:"lucida grande",tahoma,verdana,arial,sans-serif;}
.comment-box{ margin-top:10px;}
.products-in-deal h2{ margin-bottom:5px;}
.products-in-deal p{ color:#A9A9A9;}

/*-------deal list -----*/
.deallist-title{ font-size:25px; color: #0A263C;border-bottom: 1px solid #CCC;margin: 0 0 25px; font-weight:bold}


/*---my deal----*/
#deal-table tr:hover, #deal-table tr:hover{ background:#FCF5DD; cursor:pointer;}
#deal-table tr th:hover, #deal-table tr th:hover{ cursor:default;}