 <script type="text/javascript">
function isMouseLeaveOrEnter(e, handler){
if (e.type != 'mouseout' && e.type != 'mouseover') return false;
var reltg = e.relatedTarget ? e.relatedTarget :
e.type == 'mouseout' ? e.toElement : e.fromElement;
while (reltg && reltg != handler) reltg = reltg.parentNode;
return (reltg != handler);
}
</script>



<?php $_categories = $this->getStoreCategories() ?>
<?php if(count($_categories)): ?>
 <div class="left-top-nav" >
   <div class="left-top" onmouseover="if (isMouseLeaveOrEnter(event, this)) Element.addClassName(this,'over')" onmouseout="if (isMouseLeaveOrEnter(event, this)) Element.removeClassName(this,'over')" >
       <div class="top-nav-title"><a href='<?php echo Mage::getBaseUrl();?>sitemap'><span><?php echo $this->__('All Categories')?></a></span></div>
          <div id="sidenav">
            <div id="custommenu" class="force">
                <?php foreach ($_categories as $_category): ?>
                    <?php echo $this->drawCustomMenuItem($_category) ?>
                <?php endforeach ?>
                <div class="clearBoth"></div>
            </div>
          </div>
 
</div>
</div>
<script type="text/javascript">
//<![CDATA[
var CUSTOMMENU_POPUP_WIDTH = <?php echo (int)Mage::getStoreConfig('custom_menu/popup/width')?>;
var CUSTOMMENU_POPUP_TOP_OFFSET = <?php echo (int)Mage::getStoreConfig('custom_menu/popup/top_offset')?>;
var CUSTOMMENU_POPUP_RIGHT_OFFSET_MIN = <?php echo (int)Mage::getStoreConfig('custom_menu/popup/right_offset_min')?>;
//]]>
</script>

<script type="text/javascript">
jQuery('#sidenav').hover(function() {
      jQuery('#custommenu').addClass('nav-hover');
    }, function() {
      jQuery('#custommenu').removeClass('nav-hover');
    });
</script>

<?php endif ?>



