<?php if (Mage::getStoreConfig('socialsuite/facebook_login/enabled') || Mage::getStoreConfig('socialsuite/google_login/enabled')) : ?>
    <div class="socialsuite-auth-wrapper">
        <h6><?php echo Mage::helper('socialsuite')->__('Sign in with your existing account') ?></h6>
        <?php if (Mage::getStoreConfig('socialsuite/facebook_login/enabled')) : ?>
            <a href="<?php echo $this->getFacebookLoginUrl() ?>">
                <img src="<?php echo Mage::getBaseUrl('media') . 'socialsuite/' . Mage::getStoreConfig('socialsuite/facebook_login/login_image') ?>" alt="" />
            </a>
        <?php endif; ?>
        <?php if (Mage::getStoreConfig('socialsuite/google_login/enabled')) : ?>
            <a href="<?php echo $this->getGoogleLoginUrl() ?>">
                <img src="<?php echo Mage::getBaseUrl('media') . 'socialsuite/' . Mage::getStoreConfig('socialsuite/google_login/login_image') ?>" alt="" />
            </a>
        <?php endif; ?>
    </div>
<?php endif; ?>