<?php $category = Mage::registry('current_category'); ?>
<?php $description = (strlen($category->getDescription()) > 200) ? substr(strip_tags($category->getDescription()),0,195) . '...' : strip_tags($category->getDescription()); ?>
<meta property="fb:app_id" content="<?php echo Mage::getStoreConfig('socialsuite/general/appid'); ?>"/>
<meta property="og:type" content="og_products:product"/>
<meta property="og:title" content="<?php echo htmlspecialchars(trim($category->getName())); ?>"/>
<meta property="og:url" content="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"/>
<meta property="og:image" content="<?php echo Mage::getBaseUrl('media') . 'catalog/category/' .$category->getImage() ?>"/>
<meta property="og:description" content="<?php echo $description ?>"/>
