<?php if (Mage::getStoreConfig('socialsuite/cms_like/enabled')) : ?>
    <div id="fb-root"></div>
    <fb:like
        href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"
        send="<?php if (Mage::getStoreConfig('socialsuite/cms_like/send')) : ?>true<?php else: ?>false<?php endif; ?>"
        layout="<?php echo Mage::getStoreConfig('socialsuite/cms_like/layout'); ?>"
        show_faces="<?php if (Mage::getStoreConfig('socialsuite/cms_like/showfaces')) : ?>true<?php else: ?>false<?php endif; ?>"
        action="<?php echo Mage::getStoreConfig('socialsuite/cms_like/verb'); ?>"
        colorscheme="<?php echo Mage::getStoreConfig('socialsuite/cms_like/color'); ?>"
        font="<?php echo Mage::getStoreConfig('socialsuite/cms_like/font'); ?>"
        width="<?php echo Mage::getStoreConfig('socialsuite/cms_like/width'); ?>">
    </fb:like>
<?php endif; ?>

<?php if (Mage::getStoreConfig('socialsuite/cms_plus/enabled')) : ?>
    <g:plusone href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"
        size="<?php echo Mage::getStoreConfig('socialsuite/cms_plus/size'); ?>"
        count="<?php if (Mage::getStoreConfig('socialsuite/cms_plus/count')) : ?>true<?php else: ?>false<?php endif; ?>">
    </g:plusone>
<?php endif; ?>

<?php if (Mage::getStoreConfig('socialsuite/cms_twitter/enabled')) : ?>
    <a href="https://twitter.com/share" class="twitter-share-button"
        data-url="<?php echo $this->helper('core/url')->getCurrentUrl() ?>"
        data-count="<?php echo Mage::getStoreConfig('socialsuite/category_twitter/count'); ?>">
    </a>
<?php endif; ?>