<?php if (Mage::getStoreConfig('socialsuite/cms_like/enabled')) : ?>
    <meta property="fb:app_id" content="<?php echo Mage::getStoreConfig('socialsuite/general/appid'); ?>"/>
    <meta property="og:url" content="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"/>
    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="<?php echo Mage::app()->getStore()->getName(); ?>"/>
    <meta property="og:image" content="<?php echo $this->getSkinUrl() . Mage::getStoreConfig('design/header/logo_src'); ?>"/>
<?php endif; ?>