<?php $product = Mage::registry('current_product'); ?>
<?php $description = (strlen($product->getDescription()) > 200) ? substr(strip_tags($product->getDescription()),0,195) . '...' : strip_tags($product->getDescription()); ?>
<meta property="fb:app_id" content="<?php echo Mage::getStoreConfig('socialsuite/general/appid'); ?>"/>
<meta property="og:title" content="<?php echo $product->getName() ?>"/>
<meta property="og:type" content="og_products:product"/>
<meta property="og:url" content="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"/>
<meta property="og:image" content="<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->resize(200,200);?>"/>
<meta property="og:site_name" content="<?php echo Mage::app()->getStore()->getName() ?>"/>
<meta property="og:description" content="<?php echo $description ?>"/>
