<?php if (Mage::getStoreConfig('socialsuite/general/enabled')) : ?>
    <?php if (Mage::getStoreConfig('socialsuite/productlike/enabled')) : ?>
        <!-- new like button -->

        <div id="fb-root"></div>

        <!-- new like button -->

        <fb:like
            href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"
            send="<?php if (Mage::getStoreConfig('socialsuite/productlike/send')) : ?>true<?php else: ?>false<?php endif; ?>"
            layout="<?php echo Mage::getStoreConfig('socialsuite/productlike/layout'); ?>"
            show_faces="<?php if (Mage::getStoreConfig('socialsuite/productlike/showfaces')) : ?>true<?php else: ?>false<?php endif; ?>"
            action="<?php echo Mage::getStoreConfig('socialsuite/productlike/verb'); ?>"
            colorscheme="<?php echo Mage::getStoreConfig('socialsuite/productlike/color'); ?>"
            font="<?php echo Mage::getStoreConfig('socialsuite/productlike/font'); ?>"
            width="<?php echo Mage::getStoreConfig('socialsuite/productlike/width'); ?>">
        </fb:like>
    <?php endif; ?>

    <?php if (Mage::getStoreConfig('socialsuite/product_plus/enabled')) : ?>

        <g:plusone href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"
            size="<?php echo Mage::getStoreConfig('socialsuite/product_plus/size'); ?>"
            count="<?php if (Mage::getStoreConfig('socialsuite/product_plus/count')) : ?>true<?php else: ?>false<?php endif; ?>">
        </g:plusone>

    <?php endif; ?>

    <?php if (Mage::getStoreConfig('socialsuite/product_twitter/enabled')) : ?>
        <?php $product = Mage::registry('current_product'); ?>
        <a href="https://twitter.com/share" class="twitter-share-button"
            data-url="<?php echo $this->helper('core/url')->getCurrentUrl() ?>"
            data-text="<?php echo htmlspecialchars(trim($product->getName())) ?>"
            data-count="<?php echo Mage::getStoreConfig('socialsuite/product_twitter/count'); ?>">
        </a>
    <?php endif; ?>
    
    <?php if (Mage::getStoreConfig('socialsuite/pinit/p_enabled')) : ?>
        <?php 
            $_product = Mage::registry('current_product');
            $productName = $_product->getName() . '. ';
            $url = $this->helper('core/url')->getCurrentUrl();
            $shortDescription = strip_tags($product->getShortDescription());
            $description = $productName . $shortDescription . '   ' . $url . '  ' . Mage::helper('core')->currency($_product->getPrice(), treu, false);
        ?>
        <a 
            href="http://pinterest.com/pin/create/button/?url=<?php echo $this->helper('core/url')->getCurrentUrl() ?>&media=<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->resize(200,200) ?>&description=<?php echo urlencode($description) ?>"
            class="pin-it-button" 
            count-layout="<?php echo Mage::getStoreConfig('socialsuite/pinit/p_style'); ?>">
                <img border="0" src="//assets.pinterest.com/images/PinExt.png" title="<?php echo Mage::helper('socialsuite')->__('Pin It') ?>" />
        </a>
    <?php endif; ?>
<?php endif; ?>