<?php
/**
 * @author Branko Ajzele | http://activecodeline.com | branko.ajzele@surgeworks.com
 * @license GPL
 */

 $_productCollection = $this->getBestsellers(); 
?>
<div class="origin">
<h5><?php echo $this->__('TOP  Selling')?></h5>
<div class="best">
  <ul>
   <?php $i=0;?>
    <?php foreach($_productCollection as $_product): ?>
    <?php $i++;?>
    <li class="item l<?php echo $i;?>">
      <div class="xl_Img"><a target="_blank" class="hotimg" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->name ?>"> 
        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(65,80); ?>" alt="
        <?php echo $_product->name ?>"  /> </a>  </div>
      <div class="xl_detail">  <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" target="_blank" alt="
        <?php echo $_product->name ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
             <?php echo Mage::helper("core/string")->truncate($_product->getName(),30) ?>
        </a>
        </h3>
        <?php echo $this->getPriceHtml($_product, true) ?>
        
        
      </div>  
    </li>
    <?php if($i>=5){break;}?>
    <?php endforeach; ?>
  </ul>
</div>
</div>
