<?php
/**
 * Innoexts
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_Warehouse
 * @copyright   Copyright (c) 2013 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */
?>
<!-- Warehouse -->
<?php $helper                       = $this->helper('warehouse') ?>
<?php $config                       = $helper->getConfig() ?>
<!-- End Warehouse -->

<div class="page-create-order">
<p class="switcher">
<label for="currency_switcher"><?php echo Mage::helper('sales')->__('Order Currency:') ?></label>
<select id="currency_switcher" name="order[currency]" onchange="order.setCurrencyId(this.value); order.setCurrencySymbol(this.options[this.selectedIndex].getAttribute('symbol'));">
    <?php foreach ($this->getAvailableCurrencies() as $_code): ?>
    <option value="<?php echo $_code ?>"<?php if($_code==$this->getCurrentCurrencyCode()): ?> selected="selected"<?php endif; ?> symbol="<?php echo $this->getCurrencySymbol($_code) ?>"><?php echo $this->getCurrencyName($_code) ?></option>
    <?php endforeach; ?>
</select>
</p>
<script type="text/javascript">order.setCurrencySymbol('<?php echo $this->getCurrencySymbol($this->getCurrentCurrencyCode()) ?>')</script>

<!-- Warehouse -->
<?php if (!$config->isMultipleMode()) : ?>
<?php $stockId = $this->getCreateOrderModel()->getStockId(); ?>
<p class="switcher">
<label for="stock_switcher"><?php echo $helper->__('Warehouse:') ?></label>
<select id="stock_switcher" name="order[stock_id]" onchange="order.setStockId(this.value);">
    <?php foreach ($helper->getWarehouses() as $warehouse): ?>
    <option value="<?php echo $warehouse->getStockId() ?>"<?php if ($warehouse->getStockId() == $stockId) : ?> selected="selected"<?php endif; ?>><?php echo $warehouse->getTitle() ?></option>
    <?php endforeach; ?>
</select>
</p>
<?php endif; ?>
<!-- End Warehouse -->

<table cellspacing="0" width="100%">
<tr>
    <?php if($this->getCustomerId()): ?>
    <td class="side-col" style="background:none; padding:0;">
        <div id="order-sidebar"><?php echo $this->getChildHtml('sidebar') ?></div>
    </td>
    <?php endif; ?>
    <td <?php if($this->getCustomerId()): ?>class="main-col"<?php endif; ?>>
       
       <?php if ($helper->getVersionHelper()->isGe1700()) : ?>
       <div id="order-additional_area" style="display:none" class="order-additional-area"><?php echo $this->getChildHtml('additional_area') ?></div>
       <?php endif; ?>
       
       <div id="order-search" style="display:none" class="order-search-items"><?php echo $this->getChildHtml('search') ?></div>
        <div id="order-items"><?php echo $this->getChildHtml('items') ?></div>
        
        <?php if ($helper->getVersionHelper()->isGe1700()) : ?>
        <div id="order-errors"><?php echo $this->getChildHtml('errors') ?></div>
        <?php endif; ?>
        
        <div id="order-form_account"><?php echo $this->getChildHtml('form_account') ?></div>
        <div id="order-addresses">
            <div id="order-billing_address" class="box-left"><?php echo $this->getChildHtml('billing_address') ?></div>
            <div id="order-shipping_address" class="box-right"><?php echo $this->getChildHtml('shipping_address') ?></div>
        </div>
        <div class="clear"></div>
        <div id="order-methods">
            <div id="order-billing_method" class="box-left payments"><?php echo $this->getChildHtml('billing_method') ?></div>
            <div id="order-shipping_method" class="box-right"><?php echo $this->getChildHtml('shipping_method') ?></div>
        </div>

        <?php if($this->getChild('card_validation')): ?>
        <div class="clear"></div>
        <div id="order-methods">
            <div id="order-card_validation" class="box-left payments"><?php echo $this->getChildHtml('card_validation') ?></div>
        </div>
        <?php endif; ?>

        <div class="clear"></div>
        <?php echo $this->getChildHtml('gift_options') ?>

        <div class="clear"></div>
        <div class="box-left entry-edit">
            <div class="entry-edit-head"><h4><?php echo Mage::helper('sales')->__('Order History') ?></h4></div>
            <fieldset id="order-comment"><?php echo $this->getChildHtml('comment') ?></fieldset>
        </div>
        <div class="box-right entry-edit">
            <div class="entry-edit-head"><h4><?php echo Mage::helper('sales')->__('Order Totals') ?></h4></div>
            <div id="order-totals" class="order-totals"><?php echo $this->getChildHtml('totals') ?></div>
        </div>
        <div class="clear"></div>
    </td>
</tr>
</table>
</div>
