<?php
/**
 * Innoexts
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_Warehouse
 * @copyright   Copyright (c) 2013 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */
?>

<!-- Warehouse -->
<?php $helper                       = $this->helper('warehouse') ?>
<!-- End Warehouse -->

<script type="text/javascript">
    
    <!-- Warehouse -->
    var order = new WarehouseAdminOrder(<?php echo $this->getOrderDataJson() ?>);
    <!-- End Warehouse -->
    
    order.setLoadBaseUrl('<?php echo $this->getLoadBlockUrl() ?>');
    var payment = {};
    payment.switchMethod = order.switchPaymentMethod.bind(order);
</script>
<form id="edit_form" action="<?php echo $this->getSaveUrl() ?>" method="post" enctype="multipart/form-data">
    <?php echo $this->getBlockHtml('formkey')?>
    <div id="order-message">
        <?php echo $this->getChildHtml('message') ?>
    </div>
    <div id="order-customer-selector" style="display:<?php echo $this->getCustomerSelectorDisplay() ?>">
        <?php echo $this->getChildHtml('customer') ?>
    </div>
    <div id="order-store-selector" style="display:<?php echo $this->getStoreSelectorDisplay() ?>">
        <?php echo $this->getChildHtml('store') ?>
    </div>
    <div id="order-data" style="display:<?php echo $this->getDataSelectorDisplay() ?>">
        <?php echo $this->getChildHtml('data') ?>
    </div>
</form>