body {
    padding: 0px;
    position: relative;
    min-height: 548px;
    max-height: 548px;
    min-width: 698px;
    max-width: 698px;

}

#clientContainer {
    border: 1px solid #ccc;
    height: 618px;
    width: 698px;
    padding: 5px;
}

#chatouptut li {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;

    padding: 5px;
}

#chatDisplay {
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    min-height: 480px;
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 0 10px 0;
}

#chatDisplay li:last-child {
    border-bottom: none;
}

.odd {
    background: #F5FCFC;
}

.chatLogo {
    margin: 0 10px 10px 0;

}

.closeWindow {
    position: absolute;
    top: -5px;
    right: -5px;

}

.closeWindow:hover {
    color: #fff;
    text-decoration: none;
}

.inputWide {
    width: 300px !important;
}

.inputWideAppend {
    width: 696px !important;
}

.inputWideAppendNarrow {
    width: 310px !important;
}

.startContainer {
    margin: 50px 0 0 0;
}

.input-prepend, .input-append {
    white-space: nowrap;
    -webkit-padding-end: 27px;
}

.clientFeedbackInner {
    padding: 10px;
    margin: 0 0 30px 0;
}

#displayContainer {
    position: relative;
}

#typingStatus {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 97.5%;
    background: #eee;
    border-top: 1px solid #ccc;
}

#typingStatus p {
    margin: 3px 0 0 10px;
    color: #aaa;
    font-style: oblique;
}