<?php
/**
 * Innoexts
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_Warehouse
 * @copyright   Copyright (c) 2012 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */
?>
<?php $helper             = $this->helper('warehouse'); ?>
<?php $element            = $this->getElement(); ?>
<?php $product            = $this->getProduct(); ?>
<?php $elementHtmlId      = $element->getHtmlId(); ?>
<?php $elementName        = $element->getName(); ?>
<?php $elementClass       = $element->getClass(); ?>
<?php $elementReadonly    = $element->getReadonly(); ?>
<tr>
    <td class="label"><?php echo $this->getElement()->getLabel() ?></td>
    <td colspan="10" class="grid stock_price">
    <table cellspacing="0" class="data border" id="stock_price_table">
        <col/>
        <col width="110" />
        <col width="110" />
        <thead>
            <tr class="headings">
                <th><?php echo $helper->__('Warehouse'); ?></th>
                <th>
                    <?php echo $helper->__('Discount Amount'); ?><br/>
                    <?php echo $helper->__('[GLOBAL]') ?>
                </th>
                <th>
                    <?php echo $helper->__('Apply'); ?><br/>
                    <?php echo $helper->__('[GLOBAL]') ?>
                </th>
            </tr>
        </thead>
        <tbody id="<?php echo $elementHtmlId ?>_container">
            <?php foreach ($this->getValues() as $item) : ?>
            <?php $stockId = $item['stock_id']; ?>
            <tr>
                <td>
                    <input type="hidden" name="<?php echo $elementName ?>[<?php echo $stockId ?>][stock_id]" value="<?php echo $stockId ?>"/>
                    <?php echo $helper->getWarehouseTitleByStockId($stockId) ?>
                </td>
                <td>
                    <input class="<?php echo $elementClass ?> price required-entry validate-number" type="text" name="<?php echo $elementName ?>[<?php echo $stockId ?>][price]" value="<?php echo $item['price'] ?>"/>
                </td>
                <td>
                     <select class="<?php echo $elementClass ?> select price-type required-entry" name="<?php echo $elementName ?>[<?php echo $stockId ?>][price_type]">
                         <?php foreach ($this->getPriceTypes() as $option): ?>
                         <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $item['price_type']) : ?> selected="selected"<?php endif; ?>>
                             <?php echo $option['label'] ?>
                         </option>
                         <?php endforeach; ?>
                     </select>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    </td>
</tr>