<?php
/**
 * @copyright  Copyright (c) 2010 Capacity Web Solutions Pvt. Ltd  (http://www.capacitywebsolutions.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 
 $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat'); 
?>



<div id="about-copy">
<!--<h1>Dealer inquiries</h1>
<p>Please fill in this form if you are interested in becoming a distributor. 
We are interested in partnering with local distributors and retailers throughout North America. 
We will also be accepting a limited amount of applications from Online retailers for our drop ship program. 
A company representative will contact you with more information within two business days.</p>-->
            <form name="dealerInquiry" id="dealerInquiry" action="<?php echo $this->getUrl("inquiry/index/thanks"); ?>" method="post">
            	<table width="100%" border="0" cellpadding="0" cellspacing="10px" style="border-spacing:10px;">
                	
                	<tr>
                    	<td width="15%">Contact Name&nbsp;<span class="required">*</span></td>
                        <td>
                        	<input type="text" name="fname" id="fname" size="45" class="input-text required-entry" />
                        </td>
                    </tr>
                  
                    
                    <tr>
                    	<td>Company &nbsp;<span class="required">*</span></td>
                        <td><input type="text" name="company" size="45" class="input-text required-entry" /> </td>
                    </tr>
                    <tr>
                    	<td>Location&nbsp;<span class="required">*</span></td>
                        <td><input type="text" name="lname" size="45" class="input-text required-entry" /> </td>
                    </tr>
                    <tr>
                    	<td>Website:</td>
                        <td><input type="text" name="website" size="45" class="input-text" /> </td>
                    </tr>
                    <tr>
                    	<td>Email&nbsp;<span class="required">*</span></td>
                        <td><input type="text" name="email" size="45" class="input-text validate-email required-entry" /> </td>
                    </tr>
                    <tr>
                    	<td>Contact Number&nbsp;<span class="required">*</span></td>
                        <td><input type="text" name="phone" size="45" onKeyPress="return isNumberKey(event)" maxlength="15" class="input-text validate input-text required-entry" /> </td>
                    </tr>
                      <tr>
                    	<td>Brand&nbsp;<span class="required">*</span></td>
                      <td><input type="text" name="state_id" size="45" class="input-text required-entry" /> </td>
                    </tr>
                    <tr>
                       <td>
                            Category
                       </td>
                        <?php
                        $category = Mage::getModel('catalog/category');
                            if(is_object(Mage::registry('current_category'))){
                            	$current_category_path=Mage::registry('current_category')->getPathIds();
                            }else{
                            	$current_category_path = array();
                            }
                            $category->load(Mage::app()->getStore()->getRootCategoryId());
                            $children_string = $category->getChildren();
                            $children = explode(',',$children_string);
                            $extra_options='';
                            foreach($children as $c){
                            	$selected = (in_array($c, $current_category_path))?'SELECTED':'';
                            	$extra_options.= '<option class="parent-cat" value="' . $c . '" ' . $selected . '>' . $category->load($c)->getName() . '</option>' . "\n";
                            }
                            ?>
                          <td >
                		    <select name="categroy" id="category" >
                    			<option value=""><?php echo $this->__('All Categories') ?></option>
                    			<?= $extra_options ?>
                		    </select>
              		       </td>
                    </tr>
                    
                    <!--<tr>
                    	<td>Country&nbsp;<span class="required">*</span></td>
                        <td>
                         <select name="country" id="country" class="drop" class="input-text required-entry">
							<?php
							$countryCode = Mage::getStoreConfig('general/country/default');
							$country_name=Mage::app()->getLocale()->getCountryTranslation($countryCode);
							//echo $country_name;
							$collection = Mage::getModel('directory/country')->getCollection();
                            foreach ($collection as $country)
                            {
                            $cid = $country->getId();
                            $cname = $country->getName(); 
							?>
                           <option value="<?php echo $cid.'$$$'.$cname; ?>" <?php if($cid == $countryCode) echo "SELECTED" ?> ><?php echo $cname; ?></option>
						 <?php 
						  } 
                            ?>
                       </select>
             		</td>
               </tr>-->
                    <tr>
                    	<td>Business Description:</td>
                        <td><textarea name="bdesc" cols="75" rows="6" class="input-text"></textarea></td>
                    </tr>
                   <!-- <?php if($_taxvat->isEnabled()):
						if($_taxvat->isRequired()):
					 ?>
                   		 <tr>
                            <td><label for="_accounttaxvat">Tax/VAT Number</label>&nbsp;<span class="required">*</span></td>
                            <td><input type="text" name="account_taxvat" size="45" class="input-text required-entry" /></td>
                    	</tr>
                    <?php 
						else:
					 ?>
	                	<tr>
                            <td><label for="_accounttaxvat">Tax/VAT Number</label>&nbsp;</td>
                            <td><input type="text" name="account_taxvat" size="45" /></td>
                    	</tr>
					
					<?php endif;endif; ?>
                    
                    <tr>
                    	<td>Address&nbsp;<span class="required">*</span></td>
                        <td><textarea name="address" cols="42" rows="2" class="input-text required-entry"></textarea></td>
                    </tr>
                    <tr>
                    	<td>Country&nbsp;<span class="required">*</span></td>
                        <td>
                         <select name="country" id="country" class="drop" class="input-text required-entry">
							<?php
							$countryCode = Mage::getStoreConfig('general/country/default');
							$country_name=Mage::app()->getLocale()->getCountryTranslation($countryCode);
							//echo $country_name;
							$collection = Mage::getModel('directory/country')->getCollection();
                            foreach ($collection as $country)
                            {
                            $cid = $country->getId();
                            $cname = $country->getName(); 
							?>
                           <option value="<?php echo $cid.'$$$'.$cname; ?>" <?php if($cid == $countryCode) echo "SELECTED" ?> ><?php echo $cname; ?></option>
						 <?php 
						  } 
                            ?>
                       </select>
             		</td>
               </tr>
                    
                    <tr>
                    	<td>State / Province&nbsp;<span class="required">*</span></td>
                       
                        <td><input type="text" name="state_id" size="45" class="input-text required-entry" /> </td>
                    </tr>
                    
        
                    <tr>
                    	<td>ZIP / Postal Code&nbsp;<span class="required">*</span></td>
                        <td><input type="text" name="zip" id="zip" size="45" maxlength="10" class="required-entry input-text required-entry input-text required-entry validation-passed" /> </td>
                    </tr>
                    
                    
                    
                    <tr>
                    	<td>Brand:</td>
                        <td><input type="text" name="brand" size="45" class="input-text" /> </td>
                    </tr>-->
                    
                    <tr>
						<td>&nbsp;</td>
                    	<td>
							<button type="submit" name="SUBMIT" value="SUBMIT" class="button"><img src="<?php echo $this->getSkinUrl('images/button_submit.jpg') ?>" alt="SUBMIT" /></button>
						</td>
                    </tr>
                </table>
            </form>
</div>
<script type="text/javascript">
//< ![CDATA[
var customForm = new VarienForm('dealerInquiry');
//]]>
	function isNumberKey(evt)
	{
		 var charCode = (evt.which) ? evt.which : evt.keyCode
		 if (charCode > 31 && (charCode < 48 || charCode > 57))
		 {
		 	alert('Please Enter Numeric Values only');
			return false;
		}		
		 return true;
	} 

</script>