<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php $posts = $this->getPosts(1); ?>
<div class="why-blog">
<div class="title"><?php echo $this->__('Why Shop With Us')?></div>
<div class="why_content">
<?php if($posts): ?>

  <?php foreach ($posts as $post): ?>  
  <ul>      
      <li class="blog_main_title"><a href="<?php echo $post->getAddress(); ?>" >
      <?php echo substr($post->getTitle(),0,33); ?>...
      </a></li>  
  </ul>
  <?php endforeach; ?>

<?php else:?>
<p class="note-msg"><?php echo $this->__('There are no new information.') ?></p>
<?php endif;?> 
</div>
</div>


