/*.fielset-proposal {
    height: 300px;
    width: 600px;
}
.magazento-feedback .validation-advice, .magazento-feedback .required {
    color: #EB340A;
}

.magazento-feedback .buttons-set {
    border-top: 1px solid #E4E4E4;
    clear: both;
    margin: 1em 0 0;
    padding: 2px 0 0;
    text-align: right;
}


.magazento-feedback fieldset {
    border: medium none;
}

.magazento-feedback .form-button,.magazento-feedback .form-button-alt {
    background: none repeat scroll 0 0 #93C627;
    border: 1px solid #999;
    cursor: pointer;
    font: bold 12px/19px Arial,Helvetica,sans-serif;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
}
.magazento-feedback .form-button span, .magazento-feedback .form-button-alt span {
    background: none repeat scroll 0 0 #93C627;
    color: #FFFFFF;
    float: left;
    font: bold 12px/19px Arial,Helvetica,sans-serif;
    height: 19px;
    padding: 0 8px;
    white-space: nowrap;
}


.magazento-feedback input, .magazento-feedback textarea, .magazento-feedback select, .magazento-feedback button {
    vertical-align: middle;
}

.magazento-feedback fieldset {
    border: medium none;
}

.magazento-feedback .group-select .legend {
    background: none repeat scroll 0 0 #F9F3E3;
    border: 1px solid #F19900;
    color: #E76200;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: -33px;
    padding: 0 8px;
}
.magazento-feedback h4 {
    font-size: 1.05em;
}


.magazento-feedback .group-select li {
    padding: 4px 8px;
}
.magazento-feedback .form-list li {
    margin-bottom: 6px;
}
.magazento-feedback .group-select li .input-box {
    float: left;
    width: 275px;
}


.magazento-feedback .group-select label,.magazento-feedback  .form-list label,.magazento-feedback  .payment-methods label {
    font-weight: bold;
}
.magazento-feedback .group-select label,.magazento-feedback  .form-list label,.magazento-feedback  .payment-methods label {
    font-weight: bold;
}
.magazento-feedback label {
    color: #666666;
    font-weight: bold;
}
.magazento-feedback .group-select li .input-box .input-text,.magazento-feedback  .group-select li .input-box textarea {
    width: 250px;
}
.magazento-feedback .form-list li .input-box .input-text,.magazento-feedback  .form-list li .input-box textarea {
    width: 250px;
}
.magazento-feedback .group-select li .input-text,.magazento-feedback  .group-select li select,.magazento-feedback  .group-select li textarea {
    width: 525px;
}
.magazento-feedback input.input-text,.magazento-feedback  textarea {
    padding: 2px;
}
.magazento-feedback input.input-text,.magazento-feedback select,.magazento-feedback textarea {
    border: 1px solid #B6B6B6;
    font: 12px arial,helvetica,sans-serif;
}
.magazento-feedback input,.magazento-feedback textarea,.magazento-feedback select,.magazento-feedback button {
    vertical-align: middle;
}

.magazento-feedback .clear {
    clear: both;
}



.magazento-feedback .form-list .input-box {
    clear: none;
    display: block;
}

.proposal-answer{
    width: 190px;
    height: 250px;
    padding: 10px;
}

.price-feedback {
    background: url("1305925690_arrow_right.png") no-repeat scroll 0 50% transparent;
    padding-left: 18px;
}*/