.proposal-btn {
    background: none repeat scroll 0 0 #F18200;
    border-color: #ED6502 #A04300 #A04300 #ED6502;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 12px arial,helvetica,sans-serif;
    padding: 3px 16px 3px 16px;
    text-align: center !important;
    white-space: nowrap;
}
.form-add-proposal {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px;
    text-align: left;
}

.add-proposal label {
    color: #666666;
    float: left;
    font-weight: bold;
    margin-right: 2px;
}
.proposal-answer span{
    color: #666;
    font: bold 14px arial,helvetica,sans-serif;

}
.proposal-answer{
    width: 190px;
    height: 250px;
    padding: 10px;
}
.fielset-proposal {
    width:  600px;
    height: 300px;
}
.proposal .form-list textarea {
    height: 10em;
    width: 527px;
}
.form-add-proposal .buttons-set {
    border-top: 1px solid #E4E4E4;
    clear: both;
    margin: 1em 0 0;
    padding: 8px 0 0;
    text-align: right;
}

.price-feedback {
    background: url("1305925690_arrow_right.png") no-repeat scroll 0 50% transparent;
/*    padding-bottom: 10px;*/
    padding-left: 18px;
/*    padding-top: 10px;*/
}