<div class="magazento-feedback" style="padding:5px;">
    <fieldset class="group-select">
        <h4 class="legend"><?php echo Mage::getStoreConfig('priceproposal/product_page/header') ?></h4>
        <div class="proposal">
            <?php echo Mage::getStoreConfig('priceproposal/product_page/brief') ?>
        </div>
        <button
                name="complain"
                class='form-button btn-cart cboxElement'
                title="<?php echo Mage::getStoreConfig('priceproposal/modal_window/title') ?>"
                onclick="javascript:openForm();"
                type="button">
                <span><span><?php echo Mage::getStoreConfig('priceproposal/product_page/button') ?></span></span>
        </button>
    </fieldset>
</div>
