<?php $product = Mage::registry('current_product'); ?>
<?php if (Mage::getStoreConfig('priceproposal/jq/on')):?>
    <script src="<?php echo $this->getSkinUrl('magazento/priceproposal/jquery-1.5.1.min.js') ?>" type="text/javascript"></script>
<? endif; ?>
<script src="<?php echo $this->getSkinUrl('magazento/priceproposal/jquery.colorbox.js') ?>" type="text/javascript"></script>

<script type="text/javascript">
    var JQR = jQuery.noConflict();

    function submitfbForm() {
    
        var competitor_name  = escape(JQR('input[name=competitor_name]').val());
        var competitor_price = escape(JQR('input[name=competitor_price]').val());
        var competitor_url   = escape(JQR('input[name=competitor_url]').val());

        var user_email  = escape(JQR('input[name=user_email]').val());
        var user_phone  = escape(JQR('input[name=user_phone]').val());
        var user_skype  = escape(JQR('input[name=user_skype]').val());
        var comment     = escape(JQR('textarea[name=comment]').val());

            JQR.colorbox({href:"<?php echo Mage::getUrl('priceproposal/index/result/'); ?>"+
                                              "?competitor_name="+competitor_name+
                                              "&competitor_price="+competitor_price+
                                              "&competitor_url="+competitor_url+
                                              "&user_email="+user_email+
                                              "&user_phone="+user_phone+
                                              "&user_skype="+user_skype+
                                              "&comment="+comment+
                                              "&product_id="+<?php echo urlencode($product->getId()); ?>
                                              });
        
    }

    function openForm() {
        JQR('button[name=complain]').colorbox({href:"<?php echo Mage::getUrl('priceproposal/index/form/'); ?>"});
    }
    function aopenForm() {
        JQR.colorbox({href:"<?php echo Mage::getUrl('priceproposal/index/form/'); ?>"});
    }
</script>
