<div class="proposal-answer">
    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/default/magazento/priceproposal/help_desk.png' ?> " alt="help desk" />
    <p><?php echo Mage::getStoreConfig('priceproposal/modal_window_result/help_message'); ?></p>
</div>