/**
 * Innoexts
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the InnoExts Commercial License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://innoexts.com/commercial-license-agreement
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@innoexts.com so we can send you a copy immediately.
 * 
 * @category    Innoexts
 * @package     Innoexts_WarehousePlus
 * @copyright   Copyright (c) 2012 Innoexts (http://www.innoexts.com)
 * @license     http://innoexts.com/commercial-license-agreement  InnoExts Commercial License
 */
 
 /* Batch Price */
.batch-price-grid .data {
    width: 415px !important; 
}
.batch-price-grid .data input {  }
/* Batch Special Price */
.batch-special-price-grid .data {
    width: 415px !important;
}
.batch-special-price-grid .data input {  }
/* Tier Price */
.tier-price-grid .data {
    width: 750px !important; 
}
.tier-price-grid .data input {  }
