<?php if ($this->getQuote()->isVirtual()) : return; endif; ?>
<div id="shipping-method" name="shipping-method" class="firecheckout-section">
    <div class="block-title">
        <span><?php echo $this->__('Shipping Method') ?></span>
        <span id="shipping-method-reset"><?php echo $this->__('Reset') ?></span>
    </div>
    <div class="bock-sd"><?php echo $this->__('Your order will be kept for you for 48 hours (except weekend) from the day you place the order. The GST invoice and the order confirmation Letter will be sent 
to your emailaddress shortly')?></div>
    <div id="checkout-shipping-method-load">
        <?php echo $this->getChildHtml('available') ?>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        var shippingMethod = new ShippingMethod('shipping-method');
    //]]>
    </script>
    <?php echo $this->getChildHtml('delivery_date') ?>
    <div id="onepage-checkout-shipping-method-additional-load">
        <?php echo $this->getChildHtml('additional') ?>
    </div>
</div>